.imagen-termica-div:hover .imagen-termica-tooltip {
  display: block;
}

.imagen-termica-div {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.detallesButton {
  width: -webkit-fill-available;
  background-color: tomato;
}

.imagen-termica-tooltip {
  display: none;
  background: #e7e1e1e3;
  margin-left: 28px;
  padding: 5px;
  position: absolute;
  z-index: 100000;
  width: 60px;
  height: 30px;
  border: 1px solid grey;
}

.pc-details-derecha {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.pc-details-derecha-item {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  margin-bottom: 0.5rem;
}

.pc-texto {
  display: flex;
  justify-content: center;
  line-height: 1rem;
  flex-direction: column;
}

.detail-title {
  font-weight: 500;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.pc-details-derecha-item-tabla {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  margin-right: 2rem;
}

.icon-success {
  color: green;
}

.icon-error {
  /* color: red; */
}

.icon-flag {
  color: grey;
}

.pc-details-derecha-icon {
  margin-right: 0.5rem;
  font-size: 2rem;
  display: flex;
}
.pc-details-derecha-icon i {
  align-self: center;
  font-size: 1.5rem;
}

.pc-detail-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.displayFlex {
  display: flex;
}
.circle-detail {
  font-size: 1.5rem;
}
.item-group {
  display: flex;
  justify-content: space-between;
}

.spinner {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
