.map {
    height: 92vh;
    width: 100%;
  }
  
  #popup {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 500px;
    background-color: white;
  }

  #popup span {
    background-color: white;
  }
  
  ::ng-deep .ol-zoom {
    left: unset;
    right: 10px;
    top: unset;
    bottom: 10px;
  }
  
  ::ng-deep .ol-control {
      background-color: rgba(0,0,0,0.2);
  }
  
  ::ng-deep .ol-control button {
    background-color: white;
    color: black;
  }