<div class="mat-elevation-z8 tablaEstructuras">
  <table matSort mat-table [dataSource]="dataSourceEst">
    <!-- <div *ngIf="!pcsOrEstructuras2; else pcs"> -->
    <ng-container matColumnDef="error">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>!</th>
      <td mat-cell *matCellDef="let elem">
        <span *ngIf="!(elem.estructura | validateElem: planta)"
          ><i class="fas fa-exclamation-circle errorGlobalCoords"></i
        ></span>
        <span *ngIf="elem.pcs.length === 0 && pcsOrEstructuras"
          ><i class="fas fa-exclamation-circle errorGlobalCoords2"></i
        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="vuelo">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Vuelo</th>
      <td mat-cell *matCellDef="let est">{{ est.estructura.vuelo }}</td>
    </ng-container>
    <ng-container matColumnDef="globalCoords">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>globalCoords</th>
      <td mat-cell *matCellDef="let est">[{{ est.estructura.globalCoords }}]</td>
    </ng-container>

    <ng-container matColumnDef="archivo">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Archivo</th>
      <td mat-cell *matCellDef="let est">[{{ est.estructura.archivo }}]</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsEst"></tr>
    <tr
      mat-row
      [ngClass]="{
        selectedElement: elem?.estructura.archivo === informeService.selectedElementoPlanta?.archivo
      }"
      (click)="onClickRowList(elem.estructura)"
      *matRowDef="let elem; columns: displayedColumnsEst"
    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div *ngIf="pcsOrEstructuras" class="mat-elevation-z8 tablaPcs">
  <table matSort mat-table [dataSource]="dataSourcePcs">
    <ng-container matColumnDef="error">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>!</th>
      <td mat-cell *matCellDef="let pc">
        <span *ngIf="!(pc | validateElem: planta)"><i class="fas fa-exclamation-circle errorGlobalCoords"></i></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="localId">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>id (vuelo)</th>
      <td mat-cell *matCellDef="let pc">{{ pc.local_id }} ({{ pc.vuelo }})</td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>tipo</th>
      <td mat-cell *matCellDef="let pc">[{{ pc.tipo }}]</td>
    </ng-container>

    <ng-container matColumnDef="globalCoords">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>G</th>
      <td mat-cell *matCellDef="let pc">[{{ pc.globalCoords }}]</td>
    </ng-container>

    <ng-container matColumnDef="localCoords">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>L</th>
      <td mat-cell *matCellDef="let pc">{{ pc.local_x }}/{{ pc.local_y }}</td>
    </ng-container>

    <ng-container matColumnDef="modulo">
      <th mat-sort-header mat-header-cell *matHeaderCellDef>Mod</th>
      <td mat-cell *matCellDef="let pc">{{ pc.modulo.potencia }} W</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsPc"></tr>
    <tr
      mat-row
      [ngClass]="{
        selectedElement: elem?.id === informeService.selectedElementoPlanta?.id
      }"
      (click)="onClickRowList(elem)"
      *matRowDef="let elem; columns: displayedColumnsPc"
    ></tr>
  </table>
  <button *ngIf="pcsOrEstructuras" (click)="recalcularLocs()">Recalcular locs</button>
  <app-check-warnings *ngIf="pcsOrEstructuras"></app-check-warnings>
</div>
