<div *ngIf="informeService.selectedArchivoVuelo && planta">
  <agm-map
    mapTypeControl="true"
    [latitude]="droneLatLng.lat"
    [longitude]="droneLatLng.lng"
    [mapTypeId]="mapType"
    [zoom]="defaultZoom"
    (mapReady)="mapIsReady($event)"
  >
    <agm-polyline
      *ngFor="let item of coordsList"
      [strokeWeight]="getTrayectoryStrokeWeight(item.vuelo)"
      [strokeColor]="getTrayectoryColor(item.vuelo)"
      (lineRightClick)="onTrayectoryRightClick($event)"
    >
      <agm-polyline-point *ngFor="let point of item.coords" [latitude]="point.lat" [longitude]="point.lng">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</div>
