<div *ngIf="informeService.selectedArchivoVuelo">
  <agm-map
    mapTypeControl="true"
    [latitude]="currentLatLng.lat"
    [longitude]="currentLatLng.lng"
    [mapTypeId]="mapType"
    [zoom]="defaultZoom"
    (mapReady)="mapIsReady($event)"
  >
    <agm-circle
      [latitude]="currentLatLng.lat"
      [longitude]="currentLatLng.lng"
      [radius]="5"
      [fillColor]="'yellow'"
      [circleDraggable]="false"
      [editable]="false"
      [clickable]="false"
      [strokeColor]="'orange'"
      [strokeWeight]="2"
    >
    </agm-circle>

    <agm-circle
      *ngFor="let elemPlant of getEstructurasMostrarEnMapa(allElementosPlanta)"
      [latitude]="elemPlant.getLatLng().lat"
      [longitude]="elemPlant.getLatLng().lng"
      [radius]="getCircleRadius()"
      [fillColor]="getFillColor(elemPlant)"
      [strokeColor]="getStrokeColor(elemPlant)"
      [strokeWeight]="getStrokeWeight(elemPlant)"
      [strokePosition]="'INSIDE'"
      [circleDraggable]="true"
      [editable]="false"
      [id]="elemPlant.id"
      (circleClick)="onMapElementoPlantaClick(elemPlant)"
      (dragEnd)="onMapElementoPlantaDragEnd(elemPlant, $event)"
    >
    </agm-circle>

    <agm-polyline
      *ngFor="let item of coordsList"
      [strokeWeight]="getTrayectoryStrokeWeight(item.vuelo)"
      [strokeColor]="getTrayectoryColor(item.vuelo)"
      (lineRightClick)="onTrayectoryRightClick($event)"
    >
      <agm-polyline-point *ngFor="let point of item.coords" [latitude]="point.lat" [longitude]="point.lng">
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</div>
<mat-checkbox [(ngModel)]="soloEstructurasVuelo">Ocultar estructuras otros vuelos</mat-checkbox>
