<mat-toolbar [class.mat-elevation-z2]="true" class="nb">
  <button mat-icon-button color="warn" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand" routerLink="/clientes/informes">
    <img src="../../../assets/images/logo_sd.png" height="60" class="d-inline-block align-top" alt="" />
  </a>
  <span class="example-spacer"></span>

  <!-- botón menu derecha -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="isAdmin" mat-menu-item routerLink="/admin/users">Admin</button>
    <button mat-menu-item (click)="singOut()" routerLink="../auth">Cerrar sesión</button>
  </mat-menu>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/clientes/informes">
    <img src="../../../assets/images/logo_sd.png" height="40" class="d-inline-block align-top" alt="" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="userLogged" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="false" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Plantas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Planta 1</a>
          <a class="dropdown-item" href="#">Planta 2</a>
        </div>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin/users">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="singOut()" routerLink="../auth" tabindex="-1">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav> -->

