<div mat-dialog-title>
  <h4 class="dialog-title">Anomalía nº {{ pc.local_id }}</h4>
  <span class="severidad colorSeveridad{{ pc.severidad }}"
    >(CoA {{ pc.severidad }})</span
  >
  <label class="switch">
    <input
      [(ngModel)]="slider"
      type="checkbox"
      id="changeImage"
      (ngModelChange)="onSliderChange($event)"
    />
    <span class="slider round"></span>
  </label>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-7">
      <canvas
        id="visual-zoom"
        width="{{ zoomSquare }}"
        height="{{ zoomSquare }}"
        style="position:absolute; top:0; left:0; display:none"
      ></canvas>

      <div
        id="imagen-div"
        class="imagen-termica-div"
        (mouseleave)="onMouseLeaveCanvas($event)"
      >
        <canvas
          (mousemove)="onMouseMoveCanvas($event)"
          id="dialog-canvas"
          width="640"
          height="512"
        >
        </canvas>
        <!-- <span class="imagen-termica-tooltip text-center" id="dialog-tooltip">{{tooltipTemp}} ºC</span> -->
        <!-- <canvas id="hidden-canvas" width="640" height="512"></canvas> -->
      </div>
      <div id="imagen-visual-div" class="imagen-termica-div">
        <canvas id="visual-canvas" width="640" height="512"></canvas>
      </div>
    </div>

    <div class="col-5 pc-details-derecha">
      <div *ngIf="true" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Temperaturas: </span>
          <span></span>
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Temp. máx</strong></span>
          <span class="text-center">{{ pc.temperaturaMax }} ºC</span>
        </div>
        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Temp ref</strong></span>
          <span style="color:blue" class="text-center"
            >{{ pc.temperaturaRef }} ºC</span
          >
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"
            ><strong>Gradiente (normalizado)</strong></span
          >
          <span style="color:red" class="text-center"
            >+ {{ pc.gradienteNormalizado | number: "1.0-1" }} ºC</span
          >
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"
            ><strong>Eficiencia del módulo</strong></span
          >
          <span class="text-center"
            >{{ (1 - pc.perdidas) * 100 | number: "1.0-0" }} %</span
          >
        </div>
      </div>

      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i style="color:red" class="fas fa-exclamation-circle icon-error"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Incidencia: </span>
          <span>{{ pcDescripcion[pc.tipo] }}</span>
        </div>
      </div>

      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i style="color:orange" class="fas fa-flag icon-flag"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Causa: </span>
          <span>{{ pcCausa[pc.tipo] }}</span>
        </div>
      </div>

      <div *ngIf="pc.severidad > 1" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-check-circle icon-success"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Actuación recomendada: </span>
          <span>{{ pcRecomendacion[pc.tipo] }}</span>
        </div>
      </div>

      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-directions"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Localización:</span>
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Seguidor</strong></span>
          <span class="text-center">{{ pc.global_x }}</span>
        </div>
        <!-- <div class="pc-details-derecha-item-tabla">
                    <span class="text-center"><strong>Fila</strong></span>
                    <span class="text-center">{{pc.global_y}}</span>
                </div> -->
        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Columna</strong></span>
          <span class="text-center">{{ pc.local_x }}</span>
        </div>
        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Fila</strong></span>
          <span class="text-center">{{ pc.local_y }}</span>
        </div>
      </div>
      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-clock"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Fecha de captura: </span>
          <span>{{ pc.datetime * 1000 | date: "dd/MM/yyyy HH:mm" }} UTC</span>
        </div>
      </div>
      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-sun"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Meteo: </span>
          <span
            >{{ pc.irradiancia }} W/m<sup>2</sup> | Viento: {{ pc.viento }} |
            {{ pc.temperaturaAire }} ºC | {{ pc.nubosidad }} % nubes |
            Emisividad: {{ pc.emisividad }} | Temp. Reflejada:
            {{ pc.temperaturaReflejada }} ºC</span
          >
        </div>
      </div>

      <div
        style="justify-content: space-between"
        class="pc-details-derecha-item"
      >
        <button (click)="downloadRjpg(pc)" mat-raised-button>
          JPG Radiométrico
        </button>
        <button (click)="downloadJpgVisual(pc)" mat-raised-button>
          JPG Visual
        </button>
        <button (click)="downloadJpg(pc)" mat-raised-button>JPG</button>
        <!-- <button mat-raised-button>reclamacion</button> -->
        <!-- <button (click)="pc.resuelto = !pc.resuelto" [disabled]="pc.resuelto" mat-raised-button> <i *ngIf="pc.resuelto" class="fas fa-check"></i> resuelto</button> -->
      </div>
    </div>
  </div>
  <!-- <button mat-button (click)="onNoClick()">Cerrar</button> -->

  <mat-dialog-actions> </mat-dialog-actions>
</div>
