.rel {
  position: relative;
}

.map-sliders {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0%);
  /* width: 60%; */
}

.grid-sliders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 600px) {
  .grid-sliders {
    grid-template-columns: 100%;
    gap: 0.5rem;
  }

  .map-sliders {
    bottom: 1rem;
  }
}

.main-container {
  position: relative;
  height: 100%;
}

.btns-export {
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: 999;
}

app-share-map {
  margin-right: 15px;
}

app-barra-resumen-planta {
  position: absolute;
  top: 0px;
  left: 40%;
  transform: translate(-50%, 0%);
  margin: 10px;
  z-index: 999;
}

.left-sidenav {
  position: absolute;
  display: flex;
  margin: 74px 10px 10px;
  border-radius: 4px;
  padding: 15px;
  width: fit-content;
  max-width: 350px;
}

.btn-left {
  position: absolute;
  top: 10px;
  height: 40px;
  margin-left: 10px;
  padding: 0px 4px 0px 0px;
}

.right-sidenav {
  position: absolute;
  display: flex;
  margin: 74px 10px 10px;
  padding: 10px;
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  right: 10px;
  z-index: 999;
}

.stats-sidenav {
  position: absolute;
  display: flex;
  margin: 74px 10px 10px;
  padding: 10px;
  border-radius: 4px;
  width: 1100px;
}

.btn-right {
  position: absolute;
  top: 10px;
  right: 0;
  left: auto;
  height: 40px;
  margin-right: 10px;
  padding: 0px 0px 0px 4px;
}

.btn-right-stats {
  position: absolute;
  top: 10px;
  right: 0;
  left: auto;
  height: 40px;
  margin-right: 90px;
  padding: 0px 0px 0px 4px;
}

.titulo {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#sidenavStats {
  top: 140px;
}

@media (max-width: 900px) {
  .btn-right {
    top: 74px;
  }

  .right-sidenav {
    margin: 124px 10px 10px;
  }

  .btn-left {
    top: 74px;
  }

  .left-sidenav {
    margin: 124px 10px 10px;
  }

  .btn-right-stats {
    top: 74px;
  }

  .stats-sidenav {
    margin: 124px 10px 10px;
  }

  .btns-export {
    top: 74px;
    left: 50%;
    transform: translate(-50%, 0%);
    right: unset;
  }

  app-barra-resumen-planta {
    left: 0;
    transform: none;
    width: -webkit-fill-available;
    width: stretch;
  }
}

app-filter-pcs-list {
  height: 100%;
}
