.rel {
  position: relative;
}

.map-sliders {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  /* width: 60%; */
}

.grid-sliders {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

@media (min-width: 600px) {
  .grid-sliders {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.main-container {
  position: relative;
  height: 100%;
}

app-share-map {
  position: absolute;
  top: 10px;
  right: 160px;
  z-index: 999;
}
app-download-report {
  position: absolute;
  top: 10px;
  right: 110px;
  z-index: 999;
}
app-barra-resumen-planta {
  position: absolute;
  top: 0px;
  left: 60px;
  margin: 10px;
  z-index: 999;
}

.left-sidenav {
  position: absolute;
  display: flex;
  margin: 74px 10px 10px 10px;
  border-radius: 4px;
  padding: 15px;
  width: fit-content;
  max-width: 350px;
}

.btn-left {
  position: absolute;
  background: white;
  border-radius: 4px;
  top: 74px;
  left: 0;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.right-sidenav {
  position: absolute;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  right: 10px;
  z-index: 999;
}

@media (max-width: 600px) {
  .right-sidenav {
    margin-left: 10px;
    visibility: hidden;
  }
}

.stats-sidenav {
  position: absolute;
  display: flex;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 1100px;
}

.btn-right {
  position: absolute;
  background: white;
  border-radius: 4px;
  top: 10px;
  right: 0;
  left: auto;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

.btn-right-stats {
  position: absolute;
  background: white;
  border-radius: 4px;
  top: 10px;
  right: 0;
  left: auto;
  margin-right: 60px;
  padding-left: 0;
  padding-right: 0;
}

.titulo {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#sidenavStats {
  top: 140px;
}

@media (max-width: 1000px) {
  .btn-right {
    top: 74px;
  }

  .btn-right-stats {
    top: 74px;
  }

  app-share-map {
    top: 74px;
  }

  app-download-report {
    top: 74px;
  }
}
