.rel {
  position: relative;
}

.map-sliders {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  /* width: 60%; */
}

.example-container {
  position: relative;
  top: 2px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-share-map {
  position: absolute;
  top: 0px;
  right: 130px;
  margin: 10px;
  z-index: 999;
}
app-download-report {
  position: absolute;
  top: 0px;
  right: 80px;
  margin: 10px;
  z-index: 999;
}
app-barra-resumen-planta {
  position: absolute;
  top: 0px;
  left: 60px;
  margin: 10px;
  z-index: 999;
}

.left-sidenav {
  margin-left: 10px;
  border-radius: 4px;
  padding: 15px;
  width: fit-content;
  max-width: 350px;
}

.btn-left {
  position: absolute;
  top: 75px;
  left: 0;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.right-sidenav {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.stats-sidenav {
  display: flex;
  margin-right: 10px;
  border-radius: 4px;
  width: 1100px;
}

.btn-right {
  position: absolute;
  top: 12px;
  right: 0;
  left: auto;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

.btn-right-stats {
  position: absolute;
  top: 65px;
  right: 0;
  left: auto;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

.titulo {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#sidenavStats {
  top: 140px;
}
