.map {
  height: calc(100vh - 310px);
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  bottom: 12px;
  /* min-width: 280px; */
  transform: translate(-40%, 0);
}

.show-thermal {
  position: absolute;
  top: 80px;
  right: 10px;
}

.change-palette {
  position: absolute;
  top: 125px;
  right: 10px;
}

.update-anoms {
  position: absolute;
  top: 200px;
  right: 10px;
}
