<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <mat-card *ngFor="let planta of plantas" class="informe-card">
        <mat-card-header>
          <div mat-card-avatar class="informe-header-image"></div>
          <mat-card-title>{{ planta.nombre }}</mat-card-title>
          <mat-card-subtitle
            >{{ planta?.potencia }} MW / {{ planta?.tipo }}</mat-card-subtitle
          >
        </mat-card-header>

        <img
          mat-card-image
          src="../../../assets/images/imagen_principal.png"
          alt=""
        />

        <mat-card-content> </mat-card-content>
        <mat-card-actions class="cards-actions">
          <div *ngFor="let informe of planta.informes">
            <button
              mat-stroked-button
              color="primary"
              routerLink="/informe-view/{{ informe.id }}"
            >
              Inspección del {{ informe.fecha * 1000 | date: "dd/MM/yyyy" }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
