::ng-deep {
  .temporal-slider .ngx-slider .ngx-slider-pointer {
    background-color: #d32f2f;
    width: 15px;
    height: 15px;
    top: -6px;
  }

  .temporal-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .temporal-slider .ngx-slider .ngx-slider-bar {
    background: lightcoral;
  }

  .temporal-slider .ngx-slider .ngx-slider-tick {
    background: lightcoral;
    margin-left: 4px;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.temporal-slider {
  width: 500px;
}

.one-informe {
  opacity: 0.8;
  border-color: transparent;
  box-shadow: none !important;
}

.one-informe span {
  font-size: medium;
}
