<mat-card>
  <app-bar-expandable-chart
    [data]="dataVarPerdidas"
    [dataName]="'Variacion Pérdidas'"
    [labels]="labels"
    [amplitude]="50"
    [colors]="coloresVarPerdidas"
    [zoomed]="true"
    [units]="'%'"
    [titleY]="'Variación Pérdidas'"
    (elemSelected)="onClick($event)"
    (chartPositionChange)="chartPositionChange($event)"
  ></app-bar-expandable-chart>
  <app-bar-expandable-chart
    [data]="dataPerdidas"
    [dataName]="'Pérdidas'"
    [labels]="labels"
    [amplitude]="50"
    [colors]="coloresPerdidas"
    [zoomed]="true"
    [units]="' kW'"
    [titleY]="'Pérdidas'"
    (elemSelected)="onClick($event)"
    (chartPositionChange)="chartPositionChange($event)"
  ></app-bar-expandable-chart>
</mat-card>
