::ng-deep {
  .temperature-slider .ngx-slider .ngx-slider-selection {
    z-index: 2 !important;
    background: linear-gradient(90deg, #010106, #481461, #b02f4c, #f36d18, #f9fb93) !important;
    border-radius: 2px !important;
  }

  .temperature-slider .ngx-slider .ngx-slider-pointer:after {
    display: none !important;
  }

  .temperature-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px !important;
  }
  .temperature-slider .ngx-slider .ngx-slider-pointer {
    width: 8px !important;
    height: 16px !important;
    top: auto !important; /* to remove the default positioning */
    bottom: 0 !important;
    background-color: #333 !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }

  .mat-accent .mat-slider-thumb,
  .mat-accent .mat-slider-thumb-label,
  .mat-accent .mat-slider-track-fill {
    background-color: grey;
  }

  .temporal-slider .ngx-slider .ngx-slider-pointer {
    background-color: #d32f2f;
    width: 15px;
    height: 15px;
    top: -6px;
  }

  .temporal-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .temporal-slider .ngx-slider .ngx-slider-bar {
    background: #ffcccb;
  }

  .temporal-slider .ngx-slider .ngx-slider-tick {
    background: #ffcccb;
    margin-left: 4px;
  }
}

.transparencia-slider {
  color: #010106;
}

.temperature-slider {
  padding-top: 35px;
}

.map-control-subdiv {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  border: 1px solid #8080807a;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.texto-label {
  position: absolute;
  top: 5px;
  font-size: 1.2rem;
  border: 1px solid #8080806b;
  padding: 3px;
  border-radius: 3px;
  background-color: white;
}

#slider-opacidad-termico {
  padding: 0;
}

mat-card {
  background-color: rgba($color: white, $alpha: 0.5);
  border-color: transparent;
  box-shadow: none !important;
  padding-left: 50px;
  padding-right: 50px;
}
