.navbar {
  height: 70px;
  position: absolute;
  z-index: 9999;
}

.title-line {
  display: flex;
}

.modulo-label {
  font-size: large;
  font-weight: 400;
  margin-left: 1rem;
  color: grey;
}

.btn-close-seguidor-view {
  position: absolute;
  right: 16px;
  top: 16px;
}

.line-content {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}

.line-content-title {
  font-weight: 300;
}
