.popup {
  display: flex;
  align-items: flex-end;
}

.popup-card {
  width: 300px;
}

.popup-card-content {
  justify-content: space-between;
}


.header {
  height: 25px !important;
}

.info {
  color: grey;
  cursor: pointer;
}

.info-btn {
  border-radius: 20px;
  margin-left: 10px;

  height: 40px;
  padding: 0;
  width: 40px;
  min-width: unset !important;
}

/* .menu {
  width: 500px;
} */

.mat-column-clase {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tipo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-tempMax {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gradienteNormalizado {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-perdidas {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* :host ::ng-deep .menu-content .mat-menu-content:not(:empty) {
  min-width: 280px;
} */

.elemento-principal {
  display: flex;
  justify-content: space-between;
}

.titulo-principal {
  font-size: 1rem;
}

.subtitulo-principal {
  font-weight: 300;
  font-size: 1.1rem;
}

.menu-content .subtitulo {
  font-weight: 300;
  font-size: 1.1rem;
}

.menu-content mat-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.menu-content .elemento {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
}

.elemento h5 {
  margin-top: 10px;
}

[_nghost-uym-c275] .carousel-arrow[_ngcontent-uym-c275] {
  top: 80%;
}
