<ng-container *ngIf="filteredPcs.length > 0; else notPcs">
  <div class="row">
    <div class="col-12 margintop">
      <div *ngIf="generandoPDF; else boton">
        <app-spinner></app-spinner>
        <div class="text-center">
          <p>
            Creando PDF ...
            <span *ngIf="planta.tipo !== 'fija'">{{ progresoPDF }} %</span>
            ...
          </p>
        </div>
      </div>
      <ng-template #boton>
        <div class="row">
          <div class="col text-center ">
            <button
              mat-flat-button
              color="primary"
              (click)="downloadPDF()"
              *ngIf="filteredPcs.length > 0; else notPcs"
            >
              Generar PDF
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="informeCalculado && filteredPcs.length > 0">
        <mat-card class="margintop">
          <mat-card-content>
            <h4 class="text-center">Anomalías en el informe</h4>
            <hr />
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef>Categoría</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.categoria }}
                </td>
                <td mat-footer-cell *matFooterCellDef>Total</td>
              </ng-container>

              <ng-container matColumnDef="coa1">
                <th mat-header-cell *matHeaderCellDef>CoA1</th>
                <td mat-cell class="text-right" *matCellDef="let element">
                  {{ element.coa1 }}
                </td>
                <td mat-footer-cell class="text-right" *matFooterCellDef>
                  {{ countClase[0] }}
                </td>
              </ng-container>

              <ng-container matColumnDef="coa2">
                <th mat-header-cell *matHeaderCellDef>CoA2</th>
                <td mat-cell class="text-right" *matCellDef="let element">
                  {{ element.coa2 }}
                </td>
                <td mat-footer-cell class="text-right" *matFooterCellDef>
                  {{ countClase[1] }}
                </td>
              </ng-container>

              <ng-container matColumnDef="coa3">
                <th mat-header-cell *matHeaderCellDef>CoA3</th>
                <td mat-cell class="text-right" *matCellDef="let element">
                  {{ element.coa3 }}
                </td>
                <td mat-footer-cell class="text-right" *matFooterCellDef>
                  {{ countClase[2] }}
                </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef>TOTAL</th>
                <td mat-cell class="text-right" *matCellDef="let element">
                  {{ element.total }}
                </td>
                <td mat-footer-cell class="text-right" *matFooterCellDef>
                  {{ filteredPcs.length }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

    <div class="col-6">
      <mat-card class="margintop">
        <mat-card-content>
          <h4 class="text-center">Apartados en el informe</h4>
          <hr />
          <div>
            <mat-checkbox
              class="columna-check"
              *ngFor="let apt of apartadosInforme"
              [checked]="true"
              (change)="onCheckBoxApartadosChange($event)"
              value="{{ apt.nombre }}"
            >
              <span class="columnas-text">{{ apt.descripcion }} </span>
            </mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="margintop">
        <mat-card-content>
          <h4 class="text-center">Columnas en el informe</h4>
          <hr />
          <div class="columna-group">
            <mat-checkbox
              class="columna-check"
              *ngFor="let col of pcColumnas"
              [checked]="true"
              (change)="onCheckBoxColumnaChange($event)"
              value="{{ col.nombre }}"
            >
              <span class="columnas-text">{{ col.descripcion }} </span>
            </mat-checkbox>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="false" class="row">
    <div class="col text-center">
      <mat-button-toggle-group
        [(ngModel)]="tipoInforme"
        name="tipoInforme"
        aria-label="tipo informe"
      >
        <mat-button-toggle
          (click)="onClickTipoInforme()"
          checked="tipoInforme === '1'"
          value="1"
          >Tipo 1</mat-button-toggle
        >
        <mat-button-toggle
          (click)="onClickTipoInforme()"
          checked="tipoInforme === '2'"
          value="2"
          >Tipo 2</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </div>

  <div
    style="left: 20px; top: 50px; bottom: 0; overflow: auto; width: 600px"
    id="vistaPrevia"
  ></div>

  <div style="display:none" [ngSwitch]="tipoInforme">
    <ng-container *ngFor="let seguidor of filteredSeguidores$ | async">
      <div class="hiddenCanvas">
        <canvas
          id="imgSeguidorCanvas{{ seguidor.nombre }}"
          width="640"
          height="512"
        >
        </canvas>
      </div>
    </ng-container>
  </div>

  <!-- <ng-container *ngFor="let seguidor of filteredSeguidoresVistaPrevia">
        <div class="row">
          <div class="col">
            <div class="hiddenCanvas">
              <canvas
                id="imgSeguidorCanvasVP{{ seguidor.nombre }}"
                width="640"
                height="512"
              >
              </canvas>
            </div>
            <div class="img-seguidor" id="divSeguidorVP{{ seguidor.nombre }}"></div>
          </div>
        </div>
      </ng-container> -->
</ng-container>

<ng-template #notPcs>
  <div class="row notPcs">
    <div class="col-12">
      <div class="alert alert-warning" role="alert">
        No hay anomalías seleccionadas
      </div>
    </div>
  </div>
</ng-template>
