<div class="logo">
  <img src="../../../assets/images/logo_sd.png" height="60" class="d-inline-block align-top" alt="" />
</div>

<form [formGroup]="form" class="forgot-password-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Restablecer contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Correo electrónico" formControlName="email" type="email" #userName />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="warn"
        [disabled]="form.invalid"
        (click)="authService.ForgotPassword(userName.value)"
      >
        Enviar
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <div class="redirectToLogin">
        <span
          >¿Volver atrás?
          <a mat-button color="primary" class="redirect" routerLink="../sign-in">Iniciar sesión</a></span
        >
      </div>
    </mat-card-footer>
  </mat-card>
</form>
