.logo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 10em;
}

.redirectToLogin {
  text-align: center;
  margin-bottom: 10px;
}
