.forgot-password {
  display: flex;
  align-items: center;
}

.form-forgot-password {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 60px;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.titulo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-forgot-password .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-forgot-password input[type='email'] {
  margin-bottom: 10px;
  border-radius: 10px;
}

.alert {
  border-radius: 10px;
}

button {
  width: 50%;
  margin-top: 15px;
  border-radius: 10px;
}

.redirect {
  text-align: center;
  margin-top: 25px;
}
