<form [formGroup]="form">
  <mat-card class="forgot-password-card">
    <mat-card-header>
      <mat-card-title>Restablecer contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="email" formControlName="email" type="email" #userName />
        </mat-form-field>
        <div *ngIf="emailField.errors && emailField.dirty">
          <mat-error *ngIf="emailField.hasError('email')">Introduzca un mail válido</mat-error>
          <mat-error *ngIf="emailField.hasError('required')">Este campo es obligatorio</mat-error>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="warn"
        [disabled]="form.invalid"
        (click)="authService.ForgotPassword(userName.value)"
      >
        Enviar
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <div class="redirectToLogin">
        <span
          >¿Volver atrás?
          <a mat-button color="primary" class="redirect" routerLink="../sign-in">Iniciar sesión</a></span
        >
      </div>
    </mat-card-footer>
  </mat-card>
</form>
