<div class="forgot-password">
  <div class="form-forgot-password">
    <img class="logo" src="../../../assets/images/logo_sd.png" alt="" />
    <form [formGroup]="form" align="center">
      <h1 class="titulo fw-normal">Restablecer contraseña</h1>
      <input
        type="email"
        id="inputEmail"
        formControlName="email"
        class="form-control"
        placeholder="Correo electrónico"
        #userName
        required
        autofocus
      />
      <div *ngIf="!successHide" class="alert alert-success" role="alert">
        Hemos enviado un email para restablecer su contraseña. Revise su correo.
      </div>
      <div *ngIf="!warningHide" class="alert alert-danger" role="alert">Email incorrecto</div>
      <button
        class="btn btn-lg btn-danger"
        type="submit"
        [disabled]="form.invalid"
        (click)="forgotPassword(userName.value)"
      >
        Enviar
      </button>
      <div class="redirectToLogin">
        <p class="redirect">¿Volver atrás? <a routerLink="../sign-in">Iniciar sesión</a></p>
      </div>
    </form>
  </div>
</div>
