.lista {
  margin: 10px;
}

.buscar-input {
  width: 100%;
}

table {
  width: 100%;
}

.tabla-container {
  position: relative;
  height: 71vh;
  overflow: auto;
}

.label-tipo {
  display: inline-flex;
  margin-top: 0.5rem;
}

.label-tipo mat-icon {
  margin-right: 0.5rem;
}

.mat-column-tipo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-perdidas {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-temp {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-gradiente {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 22% !important;
  width: 22% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* word-break: break-word; */

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-row:hover {
  background-color: whitesmoke;
}
