.bottom-bar {
  display: flex;
  flex-direction: column;
  background: aliceblue;
  height: 240px;
}

.bottom-bar__row-top {
  display: flex;
  justify-content: space-between;
}

.bottom-bar__row-top h4 {
  margin: 0.5rem 1rem 0;
}

.bottom-bar__row-top span {
  font-weight: 500;
  font-size: small;
  align-self: flex-end;
  margin-right: 1rem;
}

.bottom-bar__fila-columna {
  display: flex;
}

.bottom-bar__fila-columna .title {
  margin-right: 0.5rem;
}

.bottom-bar__fila-columna .value {
  margin-right: 1rem;
}

app-thermal-slider {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 250px;
}

.btn-anom-disconnected {
  position: absolute;
  left: 10px;
  bottom: 250px;
  color: red;
  font-size: large;
}

.btns-anom-no-data {
  position: absolute;
  display: grid;
  gap: 0.5rem;
  right: 10px;
  bottom: 250px;
}

.btn-anom-no-data {
  color: red;
  font-size: large;
}

.end-process {
  margin: 10px;
}

.bar-progress {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
}

.recalc-btn {
  position: absolute;
  top: 172px;
  right: 10px;
  height: 40px;
  padding: 0;
  width: 40px;
  min-width: unset !important;
  justify-self: end;
}

.contenedor-menu {
  padding: 0 1rem;
}

.sync-btn {
  height: 40px;
  padding: 0;
  width: 40px;
  min-width: unset !important;
  justify-self: end;
}
