<div class="map-view-content">
  <mat-card class="panel-seguidores">
    <!-- LISTADO SEGUIDORES -->
    <app-seguidor-list-container></app-seguidor-list-container>
  </mat-card>

  <mat-sidenav-container class="seguidor-container" (backdropClick)="resetSeguidorView()">
    <!-- SIDENAV SEGUIDOR VIEW -->
    <mat-sidenav #sidenavSeguidorView [(opened)]="seguidorViewOpened" class="seguidor-sidenav" position="end">
      <!-- VISTA SEGUIDOR -->
      <app-seguidor-view></app-seguidor-view>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="map-area">
        <!-- MAPA -->
        <app-map-seguidores></app-map-seguidores>

        <div>
          <div class="leyenda">
            <!-- LEYENDA -->
            <app-leyenda-container></app-leyenda-container>
          </div>

          <app-view-control></app-view-control>

          <!-- CAPAS -->
          <app-layers-menu></app-layers-menu>

          <div class="map-control">
            <!-- CONTROL TEMPORAL -->
            <div class="temporal-control">
              <app-slider-temporal *ngIf="numInformes > 1 && showFilters"></app-slider-temporal>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
