<app-loading *ngIf="!mapLoaded"></app-loading>
<mat-sidenav-container class="seguidor-container" (backdropClick)="resetSeguidorView()">
  <!-- SIDENAV SEGUIDOR VIEW -->
  <mat-sidenav #sidenavSeguidorView [(opened)]="seguidorViewOpened" class="seguidor-sidenav" position="end">
    <!-- VISTA SEGUIDOR -->
    <app-seguidor-view></app-seguidor-view>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container *ngIf="seguidoresLoaded" class="stats-container">
      <!-- SIDENAV STATS -->
      <mat-sidenav #sidenavStats [(opened)]="statsOpened" class="stats-sidenav" position="end">
        <app-planta-stats></app-planta-stats>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-sidenav-container class="main-container" [hasBackdrop]="false" (backdropClick)="sidenavStats.toggle()">
          <!-- SIDENAV FILTROS -->
          <mat-sidenav
            *ngIf="showFilters"
            #sidenavLeft
            opened
            mode="side"
            [fixedInViewport]="true"
            class="left-sidenav"
            [fixedTopGap]="70"
            position="start"
          >
            <div class="titulo">
              <h4>Filtros</h4>
            </div>
            <app-filters-panel></app-filters-panel>
          </mat-sidenav>

          <!-- SIDENAV LISTA SEGUIDORES -->
          <mat-sidenav
            *ngIf="seguidoresLoaded"
            #sidenavRight
            [(opened)]="rightOpened"
            class="right-sidenav"
            [fixedInViewport]="true"
            position="end"
          >
            <div class="titulo">
              <h4>Listado de seguidores</h4>
            </div>
            <app-seguidores-list></app-seguidores-list>
          </mat-sidenav>

          <mat-sidenav-content>
            <div *ngIf="seguidoresLoaded" class="rel">
              <!-- MAPA -->
              <app-map-seguidores></app-map-seguidores>

              <div>
                <div class="info-change-view">
                  <!-- TOGGLE MAPAS -->
                  <app-view-toggle></app-view-toggle>

                  <!-- LEYENDA -->
                  <app-leyenda></app-leyenda>
                </div>

                <div class="btns-export">
                  <!-- BOTON COMPARTIR -->
                  <app-share-report *ngIf="notSharedReport || completeView"></app-share-report>

                  <!-- BOTON DESCARGAS -->
                  <app-download-report *ngIf="notSharedReport || completeView"></app-download-report>
                </div>

                <div class="map-control">
                  <!-- CONTROL TEMPORAL -->
                  <div class="temporal-control">
                    <app-slider-temporal *ngIf="numInformes > 1 && showFilters"></app-slider-temporal>
                  </div>

                  <!-- CONTROLES VISUALES -->
                  <!-- <div class="visual-control">
                    <app-global-coord-areas *ngIf="thereAreZones"></app-global-coord-areas>
                  </div> -->

                  <app-zones *ngIf="thereAreZones"></app-zones>
                  <app-view-control></app-view-control>
                </div>
              </div>
            </div>

            <!-- BOTON SIDENAV FILTROS -->
            <div *ngIf="seguidoresLoaded">
              <!-- BOTON SIDENAV LISTA SEGUIDORES -->
              <button
                mat-raised-button
                class="btn-right"
                (click)="sidenavRight.toggle()"
                matTooltip="Lista seguidores"
                matTooltipClass="tooltip-style"
              >
                <mat-icon>list_alt</mat-icon>
                <mat-icon *ngIf="!rightOpened">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="rightOpened">keyboard_arrow_right</mat-icon>
              </button>

              <!-- BOTON SIDENAV STATS -->
              <button
                *ngIf="notSharedReport || completeView"
                mat-raised-button
                class="btn-right-stats"
                (click)="sidenavStats.toggle(); loadStats()"
                matTooltip="Estadísticas"
                matTooltipClass="tooltip-style"
                [disabled]="noAnomsReport"
              >
                <mat-icon>query_stats</mat-icon>
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- PROGRESS BAR DESCARGAS -->
<app-download-progress-bar class="progress-bar" *ngIf="generatingDownload"></app-download-progress-bar>

<div class="dark-trasp-background" *ngIf="generatingDownload"></div>
