.content {
  position: fixed;
}

.anomalia-content {
  width: 100%;
  height: calc(100vh - 86px);
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.back-btn {
  display: none;
  position: fixed;
  top: 72px;
  left: 1rem;
  z-index: 10;
  height: 60px;
  padding: 0;
  width: 60px;
  min-width: unset !important;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .back-btn {
    display: unset;
  }
}
