.content {
  position: absolute;
}

app-seguidor-info {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.anomalia-content {
  height: calc(100vh - 86px);
  overflow-y: auto;
}

.back-btn {
  display: none;
  position: fixed;
  top: 72px;
  left: 1rem;
  z-index: 10;
  height: 60px;
  padding: 0;
  width: 60px;
  min-width: unset !important;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .back-btn {
    display: unset;
  }
}
