.content {
  width: 100%;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}

.top-row {
  display: flex;
  width: 100%;
}

.bottom-row {
  overflow: auto;
}

.back-btn {
  display: none;
}

@media (max-width: 768px) {
  .back-btn {
    display: unset;
  }
}
