<div class="edit-plant">
  <h4>Editar planta</h4>

  <div class="edit-plant-content">
    <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit($event)">
      <mat-card>
        <mat-card-content>
          <!-- Nombre -->
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" type="text" />
          </mat-form-field>

          <!-- Empresa -->
          <app-mat-selected-search
            *ngIf="empresas !== undefined && empresas.length > 1"
            [elements]="empresas"
            [property]="'empresaNombre'"
            [title]="'Empresa'"
            [elementSelected]="empresaSelected"
            (elemSelected)="getElemSelected($event)"
          ></app-mat-selected-search>

          <!-- Potencia -->
          <mat-form-field>
            <mat-label>Potencia</mat-label>
            <input matInput formControlName="potencia" type="number" />
            <span matSuffix>MW</span>
          </mat-form-field>

          <!-- Tipo -->
          <mat-form-field appearance="fill">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" [(ngModel)]="tipo" name="tipo">
              <mat-option [value]="'fija'">Fija</mat-option>
              <mat-option [value]="'1 eje'">1 eje</mat-option>
              <mat-option [value]="'seguidores'">Seguidores</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Orientación módulos -->
          <mat-form-field appearance="fill">
            <mat-label>Orientación módulos</mat-label>
            <mat-select formControlName="vertical" [(ngModel)]="vertical" name="orientacion">
              <mat-option [value]="true">Vertical</mat-option>
              <mat-option [value]="false">Horizontal</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Filas -->
          <mat-form-field>
            <mat-label>Filas</mat-label>
            <input matInput formControlName="filas" type="number" min="1" step="1" />
          </mat-form-field>

          <!-- Columnas -->
          <mat-form-field>
            <mat-label>Columnas</mat-label>
            <input matInput formControlName="columnas" type="number" min="1" step="1" />
          </mat-form-field>

          <!-- Latitud -->
          <mat-form-field>
            <mat-label>Latitud</mat-label>
            <input matInput formControlName="latitud" type="number" [value]="planta.latitud" />
          </mat-form-field>

          <!-- Longitud -->
          <mat-form-field>
            <mat-label>Longitud</mat-label>
            <input matInput formControlName="longitud" type="number" [value]="planta.longitud" />
          </mat-form-field>

          <!-- Zoom -->
          <mat-form-field>
            <mat-label>Zoom</mat-label>
            <input matInput formControlName="zoom" type="number" />
          </mat-form-field>

          <!-- Nombre Global Coords -->
          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Nombres GlobalCoords (Zonas)</mat-label>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let nombre of nombreGlobalCoords" [removable]="removable" (removed)="remove(nombre)">
                {{ nombre }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Introducir primero mayores..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>

          <!-- Conector Globals -->
          <mat-form-field>
            <mat-label>String Conector Globals</mat-label>
            <input matInput formControlName="stringConectorGlobals" type="text" />
          </mat-form-field>

          <!-- Altura Baja Primero -->
          <mat-checkbox formControlName="alturaBajaPrimero">Altura Baja Primero</mat-checkbox>

          <!-- AutoLoc Ready -->
          <mat-checkbox formControlName="autoLocReady">AutoLoc Ready</mat-checkbox>

          <div class="btns-actions">
            <button mat-raised-button routerLink="../../">Cancelar</button>
            <button mat-raised-button color="warn" type="submit">Enviar cambios</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <!-- <div>
      <span class="map-title">Ajustar mapa en pantalla completa. Así verá el informe el cliente.</span>
      <div id="map" class="map"></div>
    </div> -->
  </div>
</div>
