<div class="create-norm-mod">
  <form [formGroup]="form" class="example-form">
    <mat-form-field appearance="outline">
      <mat-label>Filas</mat-label>
      <input matInput formControlName="filas" type="number" min="1" step="1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Columnas</mat-label>
      <input matInput formControlName="columnas" type="number" min="1" step="1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ventana</mat-label>
      <input matInput formControlName="ventana" type="number" min="3" max="10" step="1" />
      <mat-error *ngIf="form.invalid">Introducir valor entre 3 y 10</mat-error>
    </mat-form-field>

    <button mat-raised-button class="auto-nM-button" color="warn" (click)="onSubmit('all')">
      NORMALIZAR MODULOS AUTO
    </button>
    <button
      mat-raised-button
      class="auto-nM-button"
      color="warn"
      [disabled]="groupsWithoutNormMod.length === 0"
      (click)="onSubmit('remaining')"
    >
      {{ groupsWithoutNormMod.length }} agrup. sin modulos normalizados
    </button>
  </form>
</div>
