.loading-light {
  position: absolute;
  width: 100%;
  height: calc(100vh - 128px);
  z-index: 99;
  background: #f3f4f6;
}

.loading-dark {
  position: absolute;
  width: 100%;
  height: calc(100vh - 128px);
  z-index: 99;
  background: #263238;
}

app-spinner {
  display: flex;
  justify-self: center;
  margin-top: 50vh;
  transform: translate(0, -100%);
}

@media (max-width: 600px) {
  .loading-light {
    height: calc(100vh - 112px);
  }

  .loading-dark {
    height: calc(100vh - 112px);
  }
}
