.loading {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 70px);
  z-index: 99;
  background: white;
}

app-spinner {
  display: flex;
  justify-self: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
}
