.content {
  width: 100%;
}

:host ::ng-deep .info-sidenav .mat-drawer-inner-container {
  overflow: hidden;
}

.list-sidenav {
  display: flex;
  padding: 0.5rem;
  width: fit-content;
  max-width: 450px;
}

.info-sidenav {
  display: flex;
  padding: 0.5rem;
  width: fit-content;
  max-width: 450px;
}

app-thermal-slider {
  display: none;
}

@media (max-width: 768px) {
  .list-sidenav {
    width: 100%;
  }

  .info-sidenav {
    width: 100%;
  }
}
