<app-loading *ngIf="!anomaliasLoaded"></app-loading>
<div *ngIf="anomaliasLoaded">
  <div class="content">
    <mat-sidenav-container class="main-container" [hasBackdrop]="false">
      <mat-sidenav #sidenavLista [(opened)]="listOpened" mode="over" class="list-sidenav" position="start">
        <app-anomalias-list
          [anomalias]="anomalias"
          [dataSource]="dataSource"
          [anomaliaSelected]="anomaliaSelected"
        ></app-anomalias-list>
      </mat-sidenav>

      <mat-sidenav #sidenavInfo [(opened)]="infoOpened" mode="over" class="info-sidenav" position="end">
        <app-anomalia-content></app-anomalia-content>
      </mat-sidenav>

      <mat-sidenav-content>
        <app-map-comments *ngIf="plantaFija"></app-map-comments>
        <app-map-seguidores-comments *ngIf="!plantaFija"></app-map-seguidores-comments>

        <app-zones-comments></app-zones-comments>
        <app-map-view-control></app-map-view-control>
        <app-thermal-slider *ngIf="plantaFija"></app-thermal-slider>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
