.content {
  width: 100%;
}

.alert-internet {
  position: absolute;
  top: 72px;
  left: 16px;
  z-index: 10;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.alert-internet-large {
  font-size: 24px;
  color: red;
  font-weight: 700;
}

.alert-internet-small {
  font-size: 14px;
}

:host ::ng-deep .info-sidenav .mat-drawer-inner-container {
  overflow: hidden;
}

.list-sidenav {
  display: flex;
  width: fit-content;
  max-width: 450px;
}

.info-sidenav {
  display: flex;
  padding: 0.5rem;
  width: fit-content;
  max-width: 416px;
  width: 416px;
}

app-thermal-slider {
  display: none;
}

@media (max-width: 768px) {
  .list-sidenav {
    width: 100%;
  }

  .info-sidenav {
    width: 100%;
  }
}
