<div mat-dialog-title>
  <h3 *ngIf="!sinPcs" class="text-center dialog-title">
    Visor de anomalías térmicas
  </h3>
  <h3 *ngIf="sinPcs" class="text-center dialog-title">
    Vista de seguidor sin anomalías
  </h3>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-7">
      <canvas
        id="visual-zoom"
        width="{{ zoomSquare }}"
        height="{{ zoomSquare }}"
        style="position:absolute; top:0; left:0; display:none"
      ></canvas>

      <div
        id="imagen-div"
        class="imagen-termica-div"
        (mouseleave)="onMouseLeaveCanvas($event)"
      >
        <div *ngIf="!imagenTermicaCargada" class="cargando text-center">
          <app-spinner></app-spinner>
        </div>
        <canvas
          (mousemove)="onMouseMoveCanvas($event)"
          id="dialog-canvas"
          width="640"
          height="512"
        >
        </canvas>
        <!-- <span class="imagen-termica-tooltip text-center" id="dialog-tooltip">{{tooltipTemp}} ºC</span> -->
        <!-- <canvas id="hidden-canvas" width="640" height="512"></canvas> -->
      </div>

      <div id="imagen-visual-div" class="imagen-termica-div">
        <div *ngIf="!imagenVisualCargada" class="cargando text-center">
          <app-spinner></app-spinner>
        </div>
        <canvas id="visual-canvas" width="640" height="512"></canvas>
      </div>
    </div>

    <div class="col-5 pc-details-derecha">
      <h4 *ngIf="!sinPcs" class="text-center">
        Anomalía <b>#{{ pc.local_id }}</b>
        <span class="text-center colorSeveridad{{ pcService.getPcCoA(pc) }}">
          (CoA {{ pcService.getPcCoA(pc) }})</span
        >
      </h4>
      <h4 *ngIf="sinPcs" class="text-center">
        Seguidor <b>{{ plantaService.getNombreSeguidor(pc) }}</b>
      </h4>

      <div
        class="termico-visual"
        *ngIf="!informe.hasOwnProperty('jpgVisual') || informe.jpgVisual"
      >
        <span class="termico-visual-text">térmico / visual</span>
        <label class="switch">
          <input
            [(ngModel)]="slider"
            type="checkbox"
            id="changeImage"
            (ngModelChange)="onSliderChange($event)"
          />
          <span class="slider round"></span>
        </label>
      </div>

      <div *ngIf="!sinPcs" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Temperaturas: </span>
          <span></span>
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><u>Temp. máxima</u></span>
          <span class="text-center">{{ pc.temperaturaMax }} ºC</span>
        </div>
        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><u>Temp. referencia</u></span>
          <span style="color:blue" class="text-center"
            >{{ pc.temperaturaRef }} ºC</span
          >
        </div>

        <div class="pc-details-derecha-item-tabla">
          <span class="text-center"><u>&Delta;T (normalizado)</u></span>
          <span style="color:red" class="text-center"
            >+ {{ pc.gradienteNormalizado | number: "1.0-1" }} ºC</span
          >
        </div>

        <div *ngIf="false" class="pc-details-derecha-item-tabla">
          <span class="text-center"><strong>Eficiencia</strong></span>
          <span class="text-center"
            >{{ (1 - pc.perdidas) * 100 | number: "1.0-0" }} %</span
          >
        </div>
      </div>

      <div *ngIf="!sinPcs" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i style="color:red" class="fas fa-exclamation-circle icon-error"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Anomalía: </span>
          <span *ngIf="checkIsMoreThanOne(pc.modulosAfectados)">
            Módulos afectados: {{ pc.modulosAfectados }}.
          </span>
          <span>{{ pcDescripcion[pc.tipo] }}</span>
        </div>
      </div>

      <div *ngIf="!sinPcs" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i style="color:orange" class="fas fa-flag icon-flag"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Causa: </span>
          <span>{{ pcCausa[pc.tipo] }}</span>
        </div>
      </div>

      <div *ngIf="pcService.getPcCoA(pc) > 1" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-check-circle icon-success"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Actuación recomendada: </span>
          <span>{{ pcRecomendacion[pc.tipo] }}</span>
        </div>
      </div>

      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-directions"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Localización:</span>
        </div>

        <div
          class="displayFlex"
          *ngIf="planta.tipo === 'seguidores'; else fija"
        >
          <div
            *ngIf="!checkIsNaN(pc.global_x)"
            class="pc-details-derecha-item-tabla"
          >
            <span class="text-center"><u>Seguidor</u></span>
            <span class="text-center">{{
              plantaService.getNombreSeguidor(pc)
            }}</span>
          </div>

          <div class="pc-details-derecha-item-tabla">
            <span
              *ngIf="!planta.hasOwnProperty('etiquetasLocalXY')"
              class="text-center"
              ><u>Fila/Columna</u></span
            >
            <span
              *ngIf="planta.hasOwnProperty('etiquetasLocalXY')"
              class="text-center"
              ><u>Nº Módulo</u></span
            >
            <span class="text-center">{{
              plantaService.getNumeroModulo(planta, pc)
            }}</span>
          </div>
        </div>

        <ng-template class="displayFlex" #fija>
          <div
            *ngIf="!checkIsNaN(pc.global_x)"
            class="pc-details-derecha-item-tabla"
          >
            <span class="text-center"
              ><u>{{ plantaService.getNombreGlobalX(planta) }}</u></span
            >
            <span class="text-center">{{ pc.global_x }}</span>
          </div>
          <div class="pc-details-derecha-item-tabla">
            <span class="text-center"
              ><u>{{ plantaService.getNombreGlobalY(planta) }}</u></span
            >
            <span class="text-center">{{ pc.global_y }}</span>
          </div>

          <div class="pc-details-derecha-item-tabla">
            <span class="text-center"
              ><u>{{ plantaService.getNombreLocalX(planta) }}</u></span
            >
            <span class="text-center">{{ getEtiquetaLocalX(pc) }}</span>
          </div>
          <div class="pc-details-derecha-item-tabla">
            <span class="text-center"
              ><u>{{ plantaService.getNombreLocalY(planta) }}</u></span
            >
            <span class="text-center">{{ getEtiquetaLocalY(pc) }}</span>
          </div>
        </ng-template>
      </div>
      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-clock"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Fecha de captura: </span>
          <span>{{ pc.datetime * 1000 | date: "dd/MM/yyyy HH:mm" }}</span>
        </div>
      </div>

      <div *ngIf="checkHasModule(pc)" class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="far fa-square"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Módulo: </span>
          <span
            >{{ pc.modulo.marca }} {{ pc.modulo.modelo }} ({{
              pc.modulo.potencia
            }}
            W)</span
          >
        </div>
      </div>

      <div class="pc-details-derecha-item">
        <div class="pc-details-derecha-icon">
          <i class="fas fa-sun"></i>
        </div>
        <div class="pc-texto">
          <span class="detail-title">Meteo: </span>
          <span
            >{{ pc.irradiancia | number: "1.0-0" }} W/m<sup>2</sup> | Viento:
            {{ pc.viento }} | {{ pc.temperaturaAire }} ºC | Nubes:
            {{ pc.nubosidad }} octavas</span
          >
        </div>
      </div>
      <hr />
      <h5 class="texto-descargas">Descargas:</h5>

      <div class="descargas">
        <a class="link-descarga" (click)="downloadRjpg(pc)">
          Imagen radiométrica
        </a>
        <a
          class="link-descarga"
          *ngIf="!informe.hasOwnProperty('jpgVisual') || informe.jpgVisual"
          (click)="downloadJpgVisual(pc)"
        >
          Imagen visual
        </a>
        <!-- <a (click)="downloadJpg(pc)" n>JPG</a> -->
        <!-- <button mat-raised-button>reclamacion</button> -->
        <!-- <button (click)="pc.resuelto = !pc.resuelto" [disabled]="pc.resuelto" mat-raised-button> <i *ngIf="pc.resuelto" class="fas fa-check"></i> resuelto</button> -->
      </div>
      <div *ngIf="user?.role === 1" class="pc-edit">
        <span>Tipo</span>
        <input
          style="width: 3rem;"
          [(ngModel)]="pc.tipo"
          type="number"
          id="pcTipo"
          maxlength="2"
          size="10"
          (change)="updatePcInDb(pc)"
        />
        <span>Num.modulos</span>
        <input
          style="width: 3rem;"
          [(ngModel)]="pc.modulosAfectados"
          type="number"
          id="pcModulosAfectados"
          maxlength="2"
          size="10"
          (change)="updatePcInDb(pc)"
        />
        <span>CoA</span>
        <input
          style="width: 3rem;"
          [(ngModel)]="pc.severidad"
          type="number"
          id="severidad"
          maxlength="2"
          size="10"
          (change)="updatePcInDb(pc)"
        />
      </div>
    </div>
  </div>
  <!-- <button mat-button (click)="onNoClick()">Cerrar</button> -->

  <mat-dialog-actions> </mat-dialog-actions>
</div>
