<div *ngIf="selectedPc" class="selected-pc-div">
  <div class="selected-pc-header">
    <div class="selected-pc-id">
      Id: {{ selectedPc.local_id }} ({{ selectedPc.vuelo }}) -
      <b>{{ selectedPc.temperaturaMax }} ºC</b>
    </div>
    <div>- {{ selectedPc.image_rotation }} º -</div>

    <button class="btn btn-danger" (click)="onClickDeletePc(selectedPc)">
      X
    </button>
  </div>
  <div class="selected-pc-subheader">
    <div class="selected-pc-local-coords">
      <table id="tabla_local_x" class="tabla_local_coords">
        <tr *ngFor="let f of filasArray" class="local-coords-row">
          <td *ngFor="let c of columnasArray" class="local-coords-col">
            <div
              *ngIf="planta.tipo !== 'fija'; else dosejes"
              [ngClass]="{
                'local-coords-selected': selectedPc.local_x === c && selectedPc.local_y === f,
                'local-coords-table-cell-v': planta.vertical === true,
                'local-coords-table-cell-h': planta.vertical === false
              }"
              (click)="onClickLocalCoordsTable(selectedPc, f, c)"
            >
              {{ f }}/{{ c }}
            </div>
            <ng-template #dosejes>
              <div
                [ngClass]="{
                  'local-coords-selected': selectedPc.local_y === f,
                  'local-coords-table-cell-v': planta.vertical === true,
                  'local-coords-table-cell-h': planta.vertical === false
                }"
                (click)="onClickLocalCoordsTable(selectedPc, f, c)"
              >
                {{ f }}/{{ c }}
              </div>
            </ng-template>
          </td>
        </tr>
      </table>
    </div>
    <!-- <div class="selected-pc-local-coords">
                      <table class="tabla_local_coords">
                          <tr *ngFor="let f of filas_array">
                              <input name="local_y" (change)="updatePcInDb(selectedPc, false)" type="radio" [value]="filas_array.length + 1 - f" [(ngModel)]="selectedPc.local_y">
                          </tr>
                      </table>
                  </div> -->

    <div class="selected-pc-tipo">
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="8"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_8.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="9"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_9.png" />
      </label>

      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="3"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_3.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="4"
        />
        <img class="img-fluid" alt="String" src="../../../assets/images/tipo_4.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="5"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_5.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="6"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_6.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="7"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_7.png" />
      </label>

      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="10"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_10.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="11"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_11.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="12"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_12.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="13"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_13.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="14"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_14.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="15"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_15.png" />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="16"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_16.png" />
      </label>

      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="17"
        />
        <img class="img-fluid" alt="String en CA" src="../../../assets/images/tipo_4.png" />
      </label>
      <!-- <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="1"
        />
        <img
          class="img-fluid"
          src="../../../assets/images/tipo_1.png"
        />
      </label>
      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="2"
        />
        <img
          class="img-fluid"
          src="../../../assets/images/tipo_2.png"
        />
      </label> -->

      <label class="selected-pc-tipo-label">
        <input
          (change)="updatePcInDb(selectedPc, false)"
          [(ngModel)]="selectedPc.tipo"
          type="radio"
          name="tipo"
          [value]="0"
        />
        <img class="img-fluid" src="../../../assets/images/tipo_0.png" />
      </label>
    </div>
  </div>

  <div class="selected-pc-coord-list">
    <!-- Lx: <input class="selected-pc-coord" type="text" (change)="updatePcInDb(selectedPc, false)" [(ngModel)]="selectedPc.local_x"> Ly: <input (change)="updatePcInDb(selectedPc, false)" class="selected-pc-coord" type="text" [(ngModel)]="selectedPc.local_y"> -->
    Gx:
    <input
      (change)="updatePcInDb(selectedPc, false)"
      class="selected-pc-coord"
      type="text"
      [(ngModel)]="selectedPc.global_x"
    />
    Gy:
    <input
      (change)="updatePcInDb(selectedPc, false)"
      class="selected-pc-coord"
      type="text"
      [(ngModel)]="selectedPc.global_y"
    />
    Lx:
    <input
      (change)="updatePcInDb(selectedPc, false)"
      class="selected-pc-coord"
      type="text"
      [(ngModel)]="selectedPc.local_x"
    />
    Ly:
    <input
      (change)="updatePcInDb(selectedPc, false)"
      class="selected-pc-coord"
      type="text"
      [(ngModel)]="selectedPc.local_y"
    />
  </div>
</div>
