.selected-pc-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
}

.selected-pc-id {
  font-weight: 400;
  background-color: #004085;
  color: white;
  text-align: center;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.selected-pc-coord {
  width: 15%;
}

.selected-pc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-pc-tipo-label > input {
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

.selected-pc-tipo-label > input + img {
  cursor: pointer;
  border: 2px solid transparent;
}

.selected-pc-tipo-label > img {
  width: 40px;
}

.selected-pc-tipo-label {
  margin: 0;
}

.selected-pc-tipo-label > input:checked + img {
  border: 4px solid black;
}

.selected-pc-subheader {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.selected-pc-subheader > div {
  align-self: center;
}

.selected-pc-coord-list {
  text-align: center;
  margin-top: 0.5rem;
}

.local-coords-col {
  border: 1px solid black;
}

.local-coords-selected {
  background-color: red;
}

.local-coords-table-cell-h {
  width: 25px;
  height: 15px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.local-coords-table-cell-v {
  width: 15px;
  height: 25px;
  text-align: center;
  font-size: 0.8rem;
  cursor: pointer;
}
