.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem 2rem;
  gap: 1rem;
}

@media (max-width: 600px) {
  app-map-all-plants {
    display: none;
  }

  .content {
    display: flex;
    position: fixed;
    gap: unset;
    grid-template-columns: none;
  }
}

@media (max-width: 1000px) {
  .content {
    display: grid;
    padding: 1rem;
  }
}
