<mat-expansion-panel (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'Zona' | translate }}</mat-panel-title>
  </mat-expansion-panel-header>
  <li mat-menu-item *ngFor="let zona of zonasPcs; index as i" (click)="stopPropagation($event)">
    <mat-checkbox
      [checked]="zonasSelected[zona.idZona]"
      [id]="zona.zona"
      [name]="zona.label"
      [value]="i"
      (change)="onChangeFiltroZona($event)"
    >
      <span style="font-size: 15px">
        {{ zona.label | translate }}
      </span>
    </mat-checkbox>
  </li>
</mat-expansion-panel>
