.seguidor-content {
  padding: 0.5rem;
  display: flex;
  position: relative;
  gap: 0.5rem;
  top: 70px;
}

.right-content {
  display: grid;
  row-gap: 1rem;
  width: 640px;
  grid-template-rows: min-content;
}

.image-content {
  height: 512px;
  width: 640px;
}

.image-not {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 512px;
}

.image-not img {
  width: 300px;
}

.image-not-label {
  display: grid;
  align-self: baseline;
  justify-self: center;
}

.image-not-label-principal {
  font-size: 24px;
  font-weight: 500;
}

.image-not-label-secondary {
  font-size: 20px;
  font-weight: 300;
  justify-self: center;
}

app-seguidor-view-toggle {
  position: absolute;
  right: 280px;
  top: 15px;
  z-index: 8;
}

app-seguidor-image-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 8;
}

app-seguidor-view-leyenda {
  position: absolute;
  right: 640px;
  top: 64px;
  z-index: 8;
  transform: translate(100%, 0);
}

app-seguidor-image-origin {
  position: absolute;
  z-index: 8;
  right: 600px;
  top: 472px;
}

app-seguidor-image-download {
  position: absolute;
  z-index: 8;
  right: 15px;
  top: 472px;
}

app-seguidor-anomalia-info {
  display: grid;
  row-gap: 1rem;
  width: 640px;
  height: calc(100vh - 684px);
  overflow: auto;
  overflow-x: hidden;
}

.slider-temporal {
  position: absolute;
  z-index: 8;
  right: 77px;
  top: 450px;
  width: 500px;
  background: white;
  padding: 0.5rem 0 0;
  border-radius: 4px;
}

.left-content {
  width: auto;
}

.prev-btn {
  position: absolute;
  left: 10px;
  top: 250px;
  z-index: 10;
}

.prev-btn mat-icon {
  color: white;
  font-size: 40px;
}

.next-btn {
  position: absolute;
  left: 600px;
  top: 250px;
  z-index: 10;
}

.next-btn mat-icon {
  color: white;
  font-size: 40px;
}

.prev-btn-no-image {
  position: absolute;
  left: 10px;
  top: 35px;
  z-index: 10;
}

.prev-btn-no-image mat-icon {
  font-size: 40px;
}

.next-btn-no-image {
  position: absolute;
  left: 600px;
  top: 35px;
  z-index: 10;
}

.next-btn-no-image mat-icon {
  font-size: 40px;
}
