.btn-list {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  height: 60px;
  padding: 0;
  width: 60px;
  min-width: unset !important;
  z-index: 1;
}

.map {
  height: calc(100vh - 64px);
  width: 100%;
}

/* ocultamos el zoom porque en mobile no se usa */
::ng-deep .ol-zoom {
  display: none;
}

#center-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.thermal-btn {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.thermal-btn-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .map {
    height: calc(100vh - 56px);
  }
}
