<div *ngIf="anomaliaSelected" class="content">
  <h5 class="title">
    Anomalía <b>{{ anomaliaInfo.numAnom }}</b>
  </h5>

  <div class="elem-info">
    <span>Nº de serie</span>
    <div *ngIf="!editInput" class="read-input">
      <span>{{ anomaliaSelected.hasOwnProperty('numeroSerie') ? anomaliaSelected.numeroSerie : 'Desconocido' }}</span>
      <button mat-icon-button (click)="editInput = true">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit($event)">
      <mat-form-field *ngIf="editInput" appearance="fill">
        <mat-label>Nº serie</mat-label>
        <input matInput formControlName="numeroSerie" />
        <button mat-icon-button matSuffix type="submit" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>
