<div *ngIf="anomaliaSelected" class="content">
  <span class="title">
    {{ 'Anomalía' | translate }} {{ anomaliaInfo.numAnom }} <b>({{ anomaliaInfo.tipo | translate }})</b>
  </span>

  <div class="elems-info">
    <div class="elem-info">
      <span class="elem-info-label">{{ 'Localización' | translate }}</span>
      <span class="subtitulo">{{ anomaliaInfo.localizacion }}</span>
    </div>

    <app-serial-number-input></app-serial-number-input>

    <div class="elem-info">
      <span class="elem-info-label">{{ 'Módulo' | translate }}</span>
      <div *ngIf="!editInput" class="read-input">
        <span>{{ anomaliaInfo.modulo }}</span>
        <button mat-icon-button (click)="editInput = true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit($event)">
        <mat-form-field *ngIf="editInput" appearance="fill">
          <mat-label>{{ 'Módulo' | translate }}</mat-label>
          <input matInput formControlName="módulo" />
          <button mat-icon-button matSuffix type="submit">
            <mat-icon>done</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>

    <div *ngIf="plantaFija" id="pos-map" class="elem-info">
      <span class="titulo">{{ 'Ir al mapa' | translate }}</span>
      <button mat-icon-button (click)="goToAnomMap()">
        <mat-icon>place</mat-icon>
      </button>
    </div>
  </div>
</div>
