.content {
  width: 100%;
  margin-top: 76px;
}

.elem-info {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.read-input {
  display: flex;
  align-items: center;
}

.read-input span {
  font-size: 18px;
  font-weight: 500;
}

.subtitulo {
  font-size: 18px;
  font-weight: 500;
}

.images {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin: 0.5rem;
}
