<div class="content">
  <app-view-header (viewSelected)="changeView($event)"></app-view-header>
  <div class="views">
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <div class="step-content">
          <app-summary></app-summary>
        </div>
      </mat-step>
      <mat-step>
        <div class="plantas-content">
          <app-plants-list></app-plants-list>
          <app-plants-map></app-plants-map>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-content">
          <app-mae-charts></app-mae-charts>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-content">
          <app-perdidas-charts></app-perdidas-charts>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-content">
          <app-prediccion-maes></app-prediccion-maes>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
