<div class="checks">
  <mat-checkbox
    (click)="$event.stopPropagation()"
    [(ngModel)]="!englishSelected"
    (ngModelChange)="downloadReportService.englishLang = !downloadReportService.englishLang"
    >{{ 'español' | translate | titlecase }}</mat-checkbox
  >
  <mat-checkbox
    (click)="$event.stopPropagation()"
    [(ngModel)]="englishSelected"
    (ngModelChange)="downloadReportService.englishLang = !downloadReportService.englishLang"
    >{{ 'ingles' | translate | titlecase }}</mat-checkbox
  >
</div>
