<div class="content">
  <button class="btn-recalc" mat-icon-button [matMenuTriggerFor]="recalcMenu">
    <mat-icon>build</mat-icon>
  </button>
  <mat-menu class="notif-menu" #recalcMenu="matMenu">
    <button mat-menu-item (click)="recalMAEyCC()">
      <mat-icon>sync</mat-icon>
      <span>Recalcular MAE y CC</span>
    </button>
    <!-- <button mat-menu-item (click)="setTipoNextYear()">
      <mat-icon>save</mat-icon>
      <span>Guardar tipos predicción</span>
    </button> -->
    <button mat-menu-item (click)="recalGlobalCoords()">
      <mat-icon>sync</mat-icon>
      <span>Recalcular Global Coords</span>
    </button>
  </mat-menu>
</div>
