mat-card {
  width: fit-content;
}

mat-card-content {
  display: flex;
  gap: 1rem;
}

.titulo {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.line {
  display: flex;
  align-items: center;
  width: max-content;
}

.line span {
  font-size: medium;
  margin-left: 0.5rem;
}

.view-1 {
  display: flex;
  gap: 1rem;
}

.leyenda-icon {
  width: 24px;
}

li {
  list-style-type: none;
}

.label-tipo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}

.label-tipo span {
  font-size: medium;
}
