<mat-card>
  <mat-card-content>
    <div *ngIf="!plantaFija || (plantaFija && viewSelected != 1 && viewSelected != 3)" class="lines">
      <div class="line">
        <img class="leyenda-icon" src="assets/icons/leyenda-grave.png" alt="" />
        <span> {{ viewsLabels[viewSelected][2] }}</span>
      </div>
      <div class="line">
        <img class="leyenda-icon" src="assets/icons/leyenda-medio.png" alt="" />
        <span>{{ viewsLabels[viewSelected][1] }}</span>
      </div>
      <div class="line">
        <img class="leyenda-icon" src="assets/icons/leyenda-leve.png" alt="" />
        <span> {{ viewsLabels[viewSelected][0] }}</span>
      </div>
      <div class="line">
        <img class="leyenda-icon" src="assets/icons/leyenda-no-anoms.png" alt="" />
        <span> Sin anomalías</span>
      </div>
    </div>

    <div *ngIf="plantaFija && viewSelected == 1" class="leyenda-block">
      <div *ngIf="thereAreZones" class="view-1">
        <div class="lines">
          <span class="lines-tittle">Zonas (% ccs)</span>
          <div class="line">
            <img class="leyenda-icon" src="assets/icons/leyenda-grave.png" alt="" />
            <span> {{ viewsLabels[viewSelected][2] }}</span>
          </div>
          <div class="line">
            <img class="leyenda-icon" src="assets/icons/leyenda-medio.png" alt="" />
            <span>{{ viewsLabels[viewSelected][1] }}</span>
          </div>
          <div class="line">
            <img class="leyenda-icon" src="assets/icons/leyenda-leve.png" alt="" />
            <span> {{ viewsLabels[viewSelected][0] }}</span>
          </div>
          <div class="line">
            <img class="leyenda-icon" src="assets/icons/leyenda-no-anoms.png" alt="" />
            <span> Sin anomalías</span>
          </div>
        </div>
        <div class="lines">
          <span class="lines-tittle">Anomalías</span>
          <div class="line">
            <mat-icon [ngStyle]="{ color: colors[viewSelected][2] }">crop_5_4</mat-icon>
            <span> {{ viewsCCsLabels[2] }}</span>
          </div>
          <div class="line">
            <mat-icon [ngStyle]="{ color: colors[viewSelected][1] }">crop_5_4</mat-icon>
            <span>{{ viewsCCsLabels[1] }}</span>
          </div>
          <div class="line">
            <mat-icon [ngStyle]="{ color: colors[viewSelected][0] }">crop_5_4</mat-icon>
            <span> {{ viewsCCsLabels[0] }}</span>
          </div>
        </div>
      </div>

      <div *ngIf="!thereAreZones" class="lines">
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[viewSelected][2] }">crop_5_4</mat-icon>
          <span> {{ viewsCCsLabels[2] }}</span>
        </div>
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[viewSelected][1] }">crop_5_4</mat-icon>
          <span>{{ viewsCCsLabels[1] }}</span>
        </div>
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[viewSelected][0] }">crop_5_4</mat-icon>
          <span> {{ viewsCCsLabels[0] }}</span>
        </div>
      </div>
    </div>

    <div *ngIf="plantaFija && viewSelected == 3" class="leyenda-block">
      <div class="lines">
        <li *ngFor="let tipo of tipos">
          <div class="label-tipo">
            <mat-icon [ngStyle]="{ color: tipo.color }" class="icon">crop_16_9</mat-icon>
            <span>{{ tipo.label }}</span>
          </div>
        </li>
      </div>
    </div>
  </mat-card-content>
</mat-card>
