<mat-card class="forgot-password-card">
  <mat-card-header>
    <mat-card-title>Te registraste con éxito</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="formGroup" *ngIf="user">
      <p class="text-center">
        Te hemos enviado un email de verificación a
        <strong>{{ user.email }}</strong>
      </p>
      <p class="text-center">
        Por favor, revisa tu bandeja de entrada y haz click en el enlace para verificar tu dirección de correo.
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="authService.sendVerificationMail()">
      Reenviar email de verificacición
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <div class="redirectToLogin">
      <span
        >¿Volver atrás? <a mat-button color="primary" class="redirect" routerLink="../sign-in">Iniciar sesión</a></span
      >
    </div>
  </mat-card-footer>
</mat-card>
