<div class="sidenav-content" *ngIf="seguidorSelected">
  <mat-toolbar [class.mat-elevation-z2]="true" class="title">
    <div>
      <span>{{ seguidorSelected.nombre }}</span>
      <span class="modulo-label">({{ seguidorSelected.moduloLabel }})</span>
      <button mat-icon-button class="btn-close-seguidor-view" (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="seguidor-content">
    <div class="left-content">
      <div class="image-content">
        <app-seguidor-view-toggle></app-seguidor-view-toggle>
        <app-seguidor-images></app-seguidor-images>
        <app-seguidor-image-toggle></app-seguidor-image-toggle>
        <!-- <app-seguidor-next-prev></app-seguidor-next-prev> -->
        <button class="prev-btn" mat-icon-button (click)="prevSeguidor()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button class="next-btn" mat-icon-button (click)="nextSeguidor()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <app-seguidor-slider-temporal></app-seguidor-slider-temporal>
      <app-seguidor-anomalias-list></app-seguidor-anomalias-list>
    </div>
    <app-seguidor-anomalia-info></app-seguidor-anomalia-info>
  </div>
</div>
