.title {
  height: 70px;
}

.btn-close-seguidor-view {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modulo-label {
  font-size: large;
  font-weight: 400;
  margin-left: 1rem;
  color: grey;
}

.seguidor-content {
  display: grid;
  position: relative;
  grid-template-columns: 6fr 4fr;
}

app-seguidor-view-toggle {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 999;
}

app-seguidor-image-toggle {
  position: absolute;
  top: 457px;
  left: 460px;
  z-index: 999;
}

app-seguidor-slider-temporal {
  position: absolute;
  top: 550px;
  left: 65px;
}

app-seguidor-next-prev {
  position: absolute;
  top: 220px;
}
