<div class="sidenav-content" *ngIf="seguidorSelected">
  <!-- NAVBAR SEGUIDOR VIEW -->
  <app-seguidor-view-navbar></app-seguidor-view-navbar>
  <div class="seguidor-content">
    <div class="left-content">
      <!-- IMAGEN -->
      <div class="image-content">
        <app-seguidor-view-toggle></app-seguidor-view-toggle>
        <app-seguidor-images></app-seguidor-images>
        <app-seguidor-image-toggle></app-seguidor-image-toggle>

        <!-- BOTONES ANTERIOR Y SIGUIENTE -->
        <button class="prev-btn" mat-icon-button (click)="prevSeguidor()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button class="next-btn" mat-icon-button (click)="nextSeguidor()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <app-seguidor-slider-temporal *ngIf="!oneReport && numAnomalias > 0"></app-seguidor-slider-temporal>
      <app-seguidor-image-download *ngIf="numAnomalias == 0"></app-seguidor-image-download>

      <!-- INFO ANOMALIA SELECCIONADA -->
      <app-seguidor-anomalia-info></app-seguidor-anomalia-info>

      <!-- DESCARGAR IMAGENES -->
      <app-seguidor-image-download></app-seguidor-image-download>
    </div>
    <div class="right-content" *ngIf="numAnomalias > 0">
      <!-- LISTA ANOMALIAS -->
      <app-seguidor-anomalias-list *ngIf="numAnomalias > 0"></app-seguidor-anomalias-list>
    </div>
  </div>
</div>
