.sidenav-content {
  height: 100vh;
}

.title {
  height: 70px;
}

.btn-close-seguidor-view {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modulo-label {
  font-size: large;
  font-weight: 400;
  margin-left: 1rem;
  color: grey;
}

.seguidor-content {
  height: calc(100vh - 70px);
  padding: 0.5rem;
  display: grid;
  position: relative;
  grid-template-columns: 6.5fr 3.5fr;
  gap: 1rem;
}

.image-content {
  height: 56vh;
}

app-seguidor-view-toggle {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 999;
}

app-seguidor-image-toggle {
  position: absolute;
  top: 457px;
  left: 460px;
  z-index: 999;
}

app-seguidor-next-prev {
  position: absolute;
  top: 220px;
}
