.seguidor-content {
  padding: 0.5rem;
  display: flex;
  position: relative;
  gap: 0.5rem;
  top: 70px;
}

.left-content {
  display: grid;
  row-gap: 1rem;
  width: 640px;
  grid-template-rows: min-content;
}

.image-content {
  height: 512px;
  width: 640px;
}

.image-not {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 512px;
}

.image-not img {
  width: 300px;
}

.image-not span {
  font-size: 24px;
  font-weight: 500;
  justify-self: center;
  align-self: baseline;
}

app-seguidor-view-toggle {
  position: absolute;
  left: 130px;
  top: 472px;
  z-index: 999;
}

app-seguidor-image-toggle {
  position: absolute;
  top: 15px;
  left: 475px;
  z-index: 999;
}

app-seguidor-view-leyenda {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 999;
}

.right-content {
  width: auto;
}

.prev-btn {
  position: absolute;
  left: 10px;
  top: 250px;
  z-index: 10;
}

.prev-btn mat-icon {
  color: white;
  font-size: 40px;
}

.next-btn {
  position: absolute;
  left: 600px;
  top: 250px;
  z-index: 10;
}

.next-btn mat-icon {
  color: white;
  font-size: 40px;
}

.prev-btn-no-image {
  position: absolute;
  left: 10px;
  top: 35px;
  z-index: 10;
}

.prev-btn-no-image mat-icon {
  font-size: 40px;
}

.next-btn-no-image {
  position: absolute;
  left: 600px;
  top: 35px;
  z-index: 10;
}

.next-btn-no-image mat-icon {
  font-size: 40px;
}
