<div class="content">
  <button mat-icon-button class="btn-sync" (click)="loadDataAndCheck(); offChecked()">
    <mat-icon>sync</mat-icon>
  </button>
  <button *ngIf="warnings.length > 0" class="btn-notif" mat-icon-button [matMenuTriggerFor]="warningMenu">
    <mat-icon matBadge="{{ warnings.length }}" matBadgeColor="primary">bug_report</mat-icon>
  </button>
  <mat-menu class="notif-menu" #warningMenu="matMenu">
    <div class="item-content" mat-menu-item *ngFor="let warning of warnings" (click)="$event.stopPropagation()">
      <div class="icon-and-label">
        <mat-icon class="btn-icon" color="primary">warning</mat-icon>
        <span class="btn-label">{{ warning.message }}</span>
      </div>
      <button
        mat-stroked-button
        *ngFor="let action of warning.reportActions"
        (click)="fixProblem(action.name)"
        color="primary"
      >
        {{ action.label }}
      </button>
    </div>
  </mat-menu>

  <div class="icon-no-warnings" *ngIf="warnings.length === 0">
    <mat-icon matBadge="✓">bug_report</mat-icon>
  </div>
</div>

<div class="checking" *ngIf="!checked">
  <mat-card class="bar-progress">
    <mat-card-content>
      <h5>Procesando...</h5>

      <section class="example-section">
        <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
      </section>
    </mat-card-content>
  </mat-card>
</div>
