.header {
  display: flex;
}

.btn-secondary {
  font-size: 0.8rem;
}

.selected_marker {
  color: white;
}

#main-page {
  overflow: hidden;
}

#slider {
  width: 100%;
  margin: 1rem 0;
  height: 5px;
}

.btn-group-vuelos {
  flex-wrap: wrap;
}

#tabla_pcs {
  background-color: rgba(153, 143, 143, 0.26);
  font-size: 0.7rem;
}

#tabla_pcs tr:hover {
  background-color: rgb(165, 165, 165);
}

#tabla_pcs th {
  font-weight: 400;
  padding: 0.2rem 0.2rem;
  font-size: 0.7rem;
}

.tabla_local_coords {
  background-color: grey;
}

.tabla_local_coords input {
  background-color: grey;
  color: black;
  width: 1rem;
}

.btn-eliminar {
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 0.7rem;
}

.hidden-canvas {
  display: none;
}

#temp {
  margin-bottom: 0;
}

#hs_type_form input {
  margin-left: 1rem;
  width: 1.5em;
  height: 1.5em;
}

#tooltip {
  display: block;
  background: #c8c8c8;
  margin-left: 20px;
  padding: 5px;
  position: absolute;
  z-index: 9999999999999;
  width: 50px;
  height: 35px;
}

.selected_flight {
  background-color: red;
}

.pc_seleccionado {
  background-color: grey;
}
.pc_error {
  background-color: orangered;
}
.pc_error_local_x {
  background-color: yellow;
}

.input-rangevalue {
  text-align: center;
  width: 75px;
  height: 25px;
}

.input-range-button {
  height: 2rem;
  margin-right: 0.5rem;
  align-self: center;
  padding: 0px;
}

.input-range-div {
  display: flex;
}

.col-pcs {
  height: 100vh;
  overflow: scroll;
  padding: 0;
  /* z-index: 99999; */
}

#container-ppal {
  height: 100vh;
  overflow: hidden;
}

.move-arrows {
  position: absolute;
  right: 200px;
  top: 0px;
}
