<mat-card>
  <mat-card-header>
    <mat-card-title>Filtros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h5>Gradiente</h5>
    <div class="filtro-gradiente">
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onInputFiltroGradiente($event)"
        (change)="onChangeFiltroGradiente()"
        tickInterval="1"
        min="{{ minGradiente }}"
        max="{{ maxGradiente }}"
        [(ngModel)]="rangoMinGradiente"
      ></mat-slider>
    </div>
    <h5>Temperatura max</h5>
    <div class="filtro-temperatura">
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onInputFiltroTempMax($event)"
        (change)="onChangeFiltroTempMax()"
        tickInterval="1"
        min="{{ minTemp }}"
        max="{{ maxTemp }}"
        [(ngModel)]="rangoMinTemp"
      ></mat-slider>
    </div>
    <h5>Pérdidas</h5>
    <div class="filtro-perdidas">
      <mat-slider
        thumbLabel
        [displayWith]="formatLabelPerdidas"
        (input)="onInputFiltroPerdidas($event)"
        (change)="onChangeFiltroPerdidas()"
        min="0"
        max="100"
        [(ngModel)]="rangoMinPerdidas"
      ></mat-slider>
    </div>
    <h5>Tipo</h5>
    <!-- <div>
      <section class="example-section">
        <span class="example-list-section">
          <mat-checkbox
            class="example-margin"
            [checked]="allComplete"
            [indeterminate]="someComplete()"
            (change)="setAll($event.checked)"
          >
            Todos
          </mat-checkbox>
        </span>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let tipo of tiposPcs">
              <mat-checkbox
                [(ngModel)]="tipo"
                (ngModelChange)="updateAllComplete()"
              >
                {{ tipo }}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </section>
    </div> -->
  </mat-card-content>
</mat-card>
