<mat-card>
  <mat-card-header>
    <mat-card-title>Plantas con más anomalías graves</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-bar-expandable-chart
      [data]="dataAnomsGraves"
      [dataName]="'Anomalías graves'"
      [labels]="labels"
      [amplitude]="50"
      [colors]="coloresVarMae"
      [zoomed]="true"
      [units]="'%'"
      [titleY]="'Anomalías graves'"
      (elemSelected)="onClick($event)"
      (chartPositionChange)="chartPositionChange($event)"
    ></app-bar-expandable-chart>
  </mat-card-content>
</mat-card>
