<div *ngIf="serviceInit">
  <app-navbar></app-navbar>
  <div class="structures-grid">
    <div class="left-bar">
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>Filtrar módulos</ng-template>
          <div>
            <app-confianza-filter></app-confianza-filter>
            <app-aspect-ratio-filter></app-aspect-ratio-filter>
            <app-area-modulo-bruto-filter></app-area-modulo-bruto-filter>
          </div>
          <div class="delete-buttons">
            <button mat-raised-button *ngIf="!deleteMode" (click)="switchDeleteMode()">
              <mat-icon>delete</mat-icon>
              <span>Activar modo eliminar</span>
            </button>
            <button mat-raised-button *ngIf="deleteMode" (click)="switchDeleteMode()">
              <mat-icon>cancel</mat-icon>
              <span>Desactivar modo eliminar</span>
            </button>
          </div>
          <div class="restore-button">
            <button mat-raised-button (click)="restoreDeletedModules()">
              <mat-icon>restore_from_trash</mat-icon>
              <span>Recuperar eliminados</span>
            </button>
          </div>
          <div class="next-button">
            <button mat-stroked-button matStepperNext (click)="loadModuleGroups()">Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Crear agrupaciones auto</ng-template>

          <div>
            <button mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Editar agrupaciones manual</ng-template>
          <div>
            <app-module-groups></app-module-groups>
          </div>
          <div>
            <button mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Crear estructuras</ng-template>

          <div>
            <button mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Unir/desunir estructuras</ng-template>

          <div>
            <button mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div>
      <app-map-structures></app-map-structures>
      <mat-card *ngIf="deleteMode" class="delete-mode-warn">
        <mat-card-subtitle>MODO ELIMINAR ACTIVADO</mat-card-subtitle>
      </mat-card>
      <app-thermal-slider></app-thermal-slider>
    </div>
  </div>
</div>
