.structures-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.left-bar {
  display: flex;
  flex-direction: column;
  background: white;
}

.left-bar h4 {
  margin: 1rem 1rem 0;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.next-button {
  margin-top: 1rem;
}

.delete-mode-warn {
  position: absolute;
  left: 60%;
  transform: translate(-50%, 0%);
  top: 6rem;
  padding: 0.5rem;
}

.delete-mode-warn mat-card-subtitle {
  color: red;
  font-weight: 500;
}

app-thermal-slider {
  position: absolute;
  left: 60%;
  transform: translate(-50%, 0%);
  bottom: 1rem;
}
