<app-loading *ngIf="!mapLoaded"></app-loading>
<app-navbar></app-navbar>
<mat-sidenav-container
  *ngIf="anomaliasLoaded"
  class="stats-container"
  [hasBackdrop]="true"
  (backdropClick)="sidenavStats.toggle()"
>
  <!-- SIDENAV STATS -->
  <mat-sidenav #sidenavStats [(opened)]="statsOpened" class="stats-sidenav" position="end">
    <app-planta-stats></app-planta-stats>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-sidenav-container class="main-container" [hasBackdrop]="false" (backdropClick)="sidenavStats.close()">
      <!-- SIDENAV FILTROS -->
      <mat-sidenav
        *ngIf="showFilters"
        #sidenavLeft
        [(opened)]="leftOpened"
        class="left-sidenav"
        position="start"
        disableClose
      >
        <div class="titulo">
          <h4>Filtros</h4>
        </div>
        <app-filters-panel></app-filters-panel>
      </mat-sidenav>

      <!-- SIDENAV LISTA ANOMALIAS -->
      <mat-sidenav #sidenavRight [(opened)]="rightOpened" class="right-sidenav" position="end" disableClose>
        <div class="titulo">
          <h4>Listado de anomalías</h4>
        </div>
        <app-anomalias-list></app-anomalias-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div *ngIf="anomaliasLoaded" class="rel">
          <!-- MAPA -->
          <app-map></app-map>

          <div>
            <div class="btns-export">
              <!-- BOTON COMPARTIR -->
              <app-share-map *ngIf="notSharedReport"></app-share-map>

              <!-- BOTON DESCARGAS -->
              <app-download-report *ngIf="notSharedReport"></app-download-report>
            </div>

            <!-- PROGRESS BAR PDF -->
            <app-progress-bar-pdf></app-progress-bar-pdf>

            <button mat-raised-button class="btn-open-controls" (click)="showControls()">
              <mat-icon>tune</mat-icon>
            </button>

            <div id="map-control" class="map-control">
              <!-- CONTROL TEMPORAL -->
              <div class="temporal-control">
                <app-slider-temporal *ngIf="showFilters"></app-slider-temporal>
              </div>

              <!-- CONTROLES VISUALES -->
              <div class="visual-control">
                <app-thermal-slider></app-thermal-slider>
                <app-global-coord-areas></app-global-coord-areas>
                <app-slider-opacity></app-slider-opacity>
              </div>
            </div>
          </div>
        </div>

        <!-- BOTON SIDENAV FILTROS -->
        <div *ngIf="anomaliasLoaded">
          <button
            *ngIf="showFilters"
            mat-raised-button
            class="btn-left"
            (click)="sidenavLeft.toggle()"
            matTooltip="Filtros"
          >
            <mat-icon *ngIf="!leftOpened">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="leftOpened">keyboard_arrow_left</mat-icon>
            <mat-icon>filter_alt</mat-icon>
          </button>

          <!-- BOTON SIDENAV LISTA ANOMALIAS -->
          <button mat-raised-button class="btn-right" (click)="sidenavRight.toggle()" matTooltip="Lista anomalías">
            <mat-icon>list_alt</mat-icon>
            <mat-icon *ngIf="!rightOpened">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="rightOpened">keyboard_arrow_right</mat-icon>
          </button>

          <!-- BOTON SIDENAV STATS -->
          <button
            *ngIf="notSharedReport"
            mat-raised-button
            class="btn-right-stats"
            (click)="sidenavStats.toggle(); loadStats()"
            matTooltip="Estadísticas"
            [disabled]="rightOpened"
          >
            <mat-icon>query_stats</mat-icon>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
