<mat-button-toggle-group appearance="standard" value="{{ viewSelected }}">
  <mat-button-toggle value="0" (change)="onToggleChange($event.value)">Pérdidas</mat-button-toggle>
  <mat-button-toggle value="1" (change)="onToggleChange($event.value)">CCs</mat-button-toggle>
  <mat-button-toggle value="2" (change)="onToggleChange($event.value)">&Delta;T Max (norm)</mat-button-toggle>
  <mat-button-toggle value="3" (change)="onToggleChange($event.value)">Tipo</mat-button-toggle>
</mat-button-toggle-group>
