<div class="map-view">
  <mat-card class="panel-anomalias">
    <!-- LISTADO ANOMALÍAS -->
    <app-anomalia-list-container></app-anomalia-list-container>
  </mat-card>

  <div class="map-area">
    <!-- MAPA -->
    <app-map></app-map>

    <div>
      <div class="leyenda">
        <!-- LEYENDA -->
        <app-leyenda-container class="leyenda-tipo" *ngIf="viewSelected === 'tipo'"></app-leyenda-container>
        <app-leyenda-container class="leyenda-no-tipo" *ngIf="viewSelected !== 'tipo'"></app-leyenda-container>
      </div>

      <app-view-control></app-view-control>

      <!-- CAPAS -->
      <app-layers-menu></app-layers-menu>
    </div>
  </div>
</div>
