<div class="content">
  <span class="title">{{ 'Compartir informe' | translate }}</span>
  <mat-checkbox class="editable-check" [(ngModel)]="versionTecnicos">{{
    'version tecnicos campo' | translate
    }}</mat-checkbox>
  <mat-checkbox class="editable-check" [(ngModel)]="onlyFiltered">{{
    'Solo anomalías filtradas' | translate
    }}</mat-checkbox>
  <div id="btn-copiar-enlace">
    <button mat-raised-button mat-dialog-close class="btn-enviar" color="primary" (click)="copyLink()">
      <div class="btn-enviar-content">
        <mat-icon>link</mat-icon>
        <span>{{ 'Copiar enlace' | translate }}</span>
      </div>
    </button>
  </div>

  <div *ngIf="canAddUsers" id="usuariosAccesoPlanta">
    <span class="title">{{ 'Usuarios con acceso a la planta' | translate }}</span>




    <div class="tabla-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="confirmDeletePlantFromUser(element.id, element.email)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
      <div id="btn-enviar-div">
        <button mat-raised-button class="btn-enviar" color="primary" (click)="openAddPlantToUserDialog()">
          <div class="btn-enviar-content">
            <mat-icon>person_add</mat-icon>
            <span>{{ 'Añadir usuario' | translate }}</span>
          </div>
        </button>
      </div>
    </div>

  </div>


</div>