<div class="map-view-content">
  <mat-card class="panel-anomalias">
    <!-- LISTADO ANOMALÍAS -->
    <app-anomalia-list-container></app-anomalia-list-container>
  </mat-card>

  <div class="map-area">
    <!-- MAPA -->
    <app-map></app-map>

    <div>
      <div class="leyenda">
        <!-- LEYENDA -->
        <app-leyenda-container class="leyenda-tipo" *ngIf="viewSelected === 'tipo'"></app-leyenda-container>
        <app-leyenda-container class="leyenda-no-tipo" *ngIf="viewSelected !== 'tipo'"></app-leyenda-container>
      </div>

      <button mat-raised-button class="btn-open-controls" (click)="showControls()">
        <mat-icon>tune</mat-icon>
      </button>

      <app-view-control></app-view-control>

      <!-- CAPAS -->
      <app-layers-menu></app-layers-menu>

      <div id="map-control" class="map-control">
        <!-- CONTROL TEMPORAL -->
        <div class="temporal-control">
          <app-slider-temporal *ngIf="numInformes > 1 && showFilters"></app-slider-temporal>
        </div>
      </div>
    </div>
  </div>

  <div class="btns-wrapper">
    <!-- BOTON DESCARGAS -->
    <app-download-report *ngIf="!sharedReport || completeView"></app-download-report>
  </div>

  <!-- PROGRESS BAR DESCARGAS -->
  <app-download-progress-bar class="progress-bar" *ngIf="generatingDownload"></app-download-progress-bar>

  <div class="dark-trasp-background" *ngIf="generatingDownload"></div>
</div>
