.map-view-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}

.panel-anomalias {
  padding: 5px;
  border-radius: 8px;
}

.map-area {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

app-layers-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.leyenda {
  position: absolute;
  display: flex;
  left: 10px;
  top: 10px;
  width: 100px;
}
