<app-loading *ngIf="!mapLoaded"></app-loading>
<mat-sidenav-container
  *ngIf="anomaliasLoaded"
  class="stats-container"
  [hasBackdrop]="true"
  (backdropClick)="closeStats()"
>
  <!-- SIDENAV STATS -->
  <mat-sidenav #sidenavStats [(opened)]="statsOpened" class="stats-sidenav" position="end">
    <!-- boton para cerrar el sidenav -->
    <button mat-icon-button class="btn-close-sidenav-stats close-stats" (click)="closeStats()">
      <mat-icon class="close-stats">close</mat-icon>
    </button>
    <!-- cargamos el modulo Stats -->
    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-sidenav-container class="main-container" [hasBackdrop]="false">
      <!-- SIDENAV FILTROS -->
      <mat-sidenav
        *ngIf="showFilters"
        #sidenavLeft
        opened
        mode="side"
        [fixedInViewport]="true"
        class="left-sidenav"
        [fixedTopGap]="70"
        position="start"
      >
        <div class="titulo">
          <h4>Filtros</h4>
        </div>
        <app-filters-panel></app-filters-panel>
      </mat-sidenav>

      <!-- SIDENAV LISTA ANOMALIAS -->
      <mat-sidenav #sidenavRight [(opened)]="rightOpened" class="right-sidenav" position="end" disableClose>
        <div class="titulo">
          <h4>Listado de anomalías</h4>
        </div>
        <app-anomalias-list></app-anomalias-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div *ngIf="anomaliasLoaded" class="rel">
          <!-- MAPA -->
          <app-map></app-map>

          <div>
            <div class="info-change-view">
              <!-- TOGGLE MAPAS -->
              <app-view-toggle></app-view-toggle>

              <!-- LEYENDA -->
              <app-leyenda></app-leyenda>
            </div>

            <div class="btns-export">
              <!-- BOTON COMPARTIR -->
              <app-share-report *ngIf="notSharedReport || completeView"></app-share-report>

              <!-- BOTON DESCARGAS -->
              <app-download-report *ngIf="notSharedReport || completeView"></app-download-report>
            </div>

            <button mat-raised-button class="btn-open-controls" (click)="showControls()">
              <mat-icon>tune</mat-icon>
            </button>

            <app-zones *ngIf="thereAreZones"></app-zones>
            <app-view-control></app-view-control>

            <div id="map-control" class="map-control">
              <!-- CONTROL TEMPORAL -->
              <div class="temporal-control">
                <app-slider-temporal *ngIf="numInformes > 1 && showFilters"></app-slider-temporal>
              </div>

              <!-- CONTROLES VISUALES -->
              <div class="visual-control">
                <app-thermal-slider [informeId]="selectedInformeId"></app-thermal-slider>
                <app-global-coord-areas *ngIf="thereAreLargestZones"></app-global-coord-areas>
                <app-slider-opacity></app-slider-opacity>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="anomaliasLoaded">
          <!-- BOTON SIDENAV LISTA ANOMALIAS -->
          <button
            mat-raised-button
            class="btn-right"
            (click)="sidenavRight.toggle()"
            matTooltip="Lista anomalías"
            matTooltipClass="tooltip-style"
          >
            <mat-icon>list_alt</mat-icon>
            <mat-icon *ngIf="!rightOpened">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="rightOpened">keyboard_arrow_right</mat-icon>
          </button>

          <!-- BOTON SIDENAV STATS -->
          <button
            *ngIf="notSharedReport || completeView"
            mat-raised-button
            class="btn-right-stats stats"
            (click)="loadStats(); sidenavStats.toggle()"
            matTooltip="Estadísticas"
            matTooltipClass="tooltip-style"
            [disabled]="noAnomsReport"
          >
            <mat-icon class="stats">query_stats</mat-icon>
            <mat-icon class="stats">keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- PROGRESS BAR DESCARGAS -->
<app-download-progress-bar class="progress-bar" *ngIf="generatingDownload"></app-download-progress-bar>

<div class="dark-trasp-background" *ngIf="generatingDownload"></div>
