h5 {
  margin-bottom: 15px;
  font-weight: 400;
}

button {
  width: 100%;
}

div {
  position: relative;
  display: inline-flex;
  align-items: center;
}

span {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}


.filter-active {
  color: #d32f2f;
}