.create-empresa {
  margin: 1rem;
}

.create-empresa-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

.example-form {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.btns-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
