.crete-map-container {
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

mat-drawer {
  min-width: 300px;
}

app-thermal-slider-cog {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
}
