.map {
  height: calc(100vh - 70px);
  width: 100%;
  // visibility: hidden;
}

#popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 10px;
}

@media (max-width: 1050px) {
  #popup {
    top: 50px;
  }
}

::ng-deep .ol-zoom {
  left: unset;
  right: 10px;
  top: unset;
  bottom: 10px;
}

::ng-deep .ol-control {
  background-color: rgba(0, 0, 0, 0.2);
}

::ng-deep .ol-control button {
  background-color: white;
  color: black;
}

@media (max-width: 900px) {
  ::ng-deep .ol-zoom {
    display: none;
  }
}

.coords-pointer {
  position: absolute;
  top: 0px;
  right: 280px;
  background: white;
}
