<div class="delete-buttons">
  <button mat-raised-button [disabled]="createMode" *ngIf="!deleteMode" (click)="switchDeleteMode()">
    <mat-icon class="icon">delete</mat-icon>
    <span>Activar modo eliminar</span>
  </button>
  <button mat-raised-button *ngIf="deleteMode" (click)="switchDeleteMode()">
    <mat-icon class="icon">cancel</mat-icon>
    <span>Desactivar modo eliminar</span>
  </button>
</div>
<div class="restore-buttons">
  <button mat-raised-button (click)="confirmRestoreDeletedDialog()" [disabled]="deleteMode || createMode">
    <mat-icon class="icon">restore_from_trash</mat-icon>
    <span>Rest. eliminados</span>
  </button>
  <!-- <button mat-raised-button class="btn-undo" (click)="restoreLastDeletedModule()" [disabled]="deleteMode">
    <mat-icon>restore</mat-icon>
  </button> -->
</div>
<div class="add-button">
  <button *ngIf="!createMode" mat-raised-button (click)="switchCreateMode()" [disabled]="deleteMode">
    <mat-icon class="icon">add_circle</mat-icon>
    <span>Activar modo crear módulos</span>
  </button>
  <button *ngIf="createMode" mat-raised-button (click)="switchCreateMode()" [disabled]="deleteMode">
    <mat-icon class="icon">cancel</mat-icon>
    <span>Desactivar modo crear módulos</span>
  </button>
</div>
