<mat-expansion-panel (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'Por fabricante de módulo' | translate }}</mat-panel-title>
  </mat-expansion-panel-header>
  <li mat-menu-item *ngFor="let modeloElem of modelosElem; index as i" (click)="stopPropagation($event)">
    <mat-checkbox
      [checked]="modelosSelected[modeloElem.modelo]"
      [id]="'modelo_' + modeloElem.modelo"
      [name]="modeloElem.label"
      [value]="i"
      (change)="onChangeFiltroModelo($event)"
    >
      <span style="font-size: 15px">
        {{ modeloElem.label | translate }}
      </span>
    </mat-checkbox>
  </li>
</mat-expansion-panel>
