<mat-card class="margin-top">
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">
          Resumen de la inspección termográfica aérea ({{
            informe.fecha * 1000 | date: "dd/MM/yyyy"
          }})
        </h2>
      </div>
    </div>

    <div class="colflex">
      <div class="flexchart">
        <h4 class="text-center perdidasTotales">Pérdidas (kW) totales</h4>
        <p-chart
          height="250"
          type="doughnut"
          [data]="dataPerdidasTotales"
          [options]="chartOptions"
        ></p-chart>

        <ul>
          <li>
            <b>Porcentaje de pérdidas</b>:
            <span style="color:tomato">
              {{ perdidasTotales / 10 / planta.potencia | number: "1.0-2" }}
              %</span
            >
          </li>
          <li>
            <b>Pérdidas nominales</b>:
            <span style="color:tomato"
              >{{ perdidasTotales | number: "1.0-1" }} kW</span
            >
          </li>
          <li>
            <b>Potencia nominal no afectada</b>:
            <span style="color:#3CB371">
              {{ planta.potencia * 1000 - perdidasTotales | number: "1.0-1" }}
              kW
            </span>
          </li>
        </ul>
      </div>
      <div class="flexchart">
        <div class="flexsubchat">
          <h4 class="text-center">Pérdidas (kW) por categoría</h4>
          <p-chart
            height="350"
            width="500"
            type="bar"
            [data]="dataPerdidasCategoria"
            [options]="chartOptions"
          ></p-chart>
        </div>
        <div class="flexsubchat">
          <h4 class="text-center">
            Número de anomalías por categoría
          </h4>
          <p-chart
            [options]="chartOptions"
            height="350"
            width="500"
            type="bar"
            [data]="dataCountCategoria"
          ></p-chart>
        </div>
      </div>
    </div> </mat-card-content
></mat-card>
