<mat-card>
  <app-bar-expandable-chart
    [data]="dataMae"
    [dataName]="'MAE'"
    [labels]="labels"
    [amplitude]="50"
    [colors]="coloresMae"
    [zoomed]="true"
    [units]="'%'"
    (elemSelected)="onClick($event)"
    (chartPositionChange)="chartPositionChange($event)"
  ></app-bar-expandable-chart>
  <app-bar-expandable-chart
    [data]="dataVarMae"
    [dataName]="'Variacion MAE'"
    [labels]="labels"
    [amplitude]="50"
    [colors]="coloresVarMae"
    [zoomed]="true"
    [units]="'%'"
    (elemSelected)="onClick($event)"
    (chartPositionChange)="chartPositionChange($event)"
  ></app-bar-expandable-chart>
</mat-card>
