<agm-map class="mapa"
  [latitude]="planta.latitud"
  [longitude]="planta.longitud"
  [mapTypeId]="mapType"
  [zoom]="planta.zoom"
  [streetViewControl]="false"
  (mapReady)="onMapReady($event)"
  [fullscreenControl]="true"
  [mapTypeControl]="true"
>
  <agm-circle
    *ngFor="let pc of pcService.currentFilteredPcs$ | async"
    [latitude]="pc.gps_lat"
    [longitude]="pc.gps_lng"
    [radius]="circleRadius"
    [strokeOpacity]="1"
    [strokePosition]="0"
    [strokeColor]="getStrokeColor(pcService.getPcCoA(pc))"
    [strokeWeight]="3"
    [fillOpacity]="0.3"
    [editable]="false"
    [zIndex]="1"
  ></agm-circle>
</agm-map>
<div class="button-row">
  <button mat-raised-button color="basic" (click)="initDrawingManager()">Nuevo area</button>
</div>
