<div class="normMod-info" *ngIf="normModSelected">
  <div>
    <span>Fila:</span>
    <span class="normMod-info__data">{{ normModSelected.fila }}</span>
    <span class="normMod-info__column">Columna:</span>
    <span class="normMod-info__data">{{ normModSelected.columna }}</span>
  </div>
  <span>Imagen:</span>
  <span class="normMod-info__data">{{ normModSelected.image_name }}</span>
</div>
<div class="modGroup-info" *ngIf="modGroupSelectedId">
  <span>ID Agrupacion: {{ modGroupSelectedId }}</span>
</div>

<div class="add-button">
  <button *ngIf="!drawActive" mat-raised-button (click)="drawNormModule()">
    <mat-icon class="icon">add_circle</mat-icon>
    <span>Crear módulo</span>
  </button>
  <button *ngIf="drawActive" mat-raised-button (click)="cancelDraw()">
    <mat-icon class="icon">disabled_by_default</mat-icon>
    <span>Cancelar</span>
  </button>
</div>

<button
  class="delete-button"
  *ngIf="!drawActive"
  mat-raised-button
  (click)="confirmDeleteNormModule()"
  [disabled]="normModSelected === undefined"
>
  <mat-icon class="icon">delete</mat-icon>
  <span>Eliminar módulo</span>
</button>

<div class="create-norm-mod">
  <form [formGroup]="form" class="example-form" (ngSubmit)="autoNormModules($event)">
    <mat-form-field appearance="outline">
      <mat-label>Filas</mat-label>
      <input matInput formControlName="filas" type="number" min="1" step="1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Columnas</mat-label>
      <input matInput formControlName="columnas" type="number" min="1" step="1" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ventana</mat-label>
      <input matInput formControlName="ventana" type="number" min="3" max="10" step="1" />
      <mat-error *ngIf="form.invalid">Introducir valor entre 3 y 10</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="modGroupSelectedId === undefined"
      class="auto-nM-button"
      color="warn"
      type="submit"
    >
      Generar mods agrupación
    </button>
  </form>
</div>

<div id="popup" class="ol-popup">
  <app-norm-mod-create-popup [coords]="coordsNewNormMod" [centroid]="centroidDB"></app-norm-mod-create-popup>
</div>
