.filtro {
  margin-bottom: 15px;
}

h5 {
  margin-bottom: 15px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.label {
  display: inline-flex;
  vertical-align: bottom;
}

mat-icon {
  margin-right: 7px;
}
