<h5>Clase</h5>
<!-- <div>
  <mat-checkbox
    class="example-margin"
    [checked]="allComplete"
    [indeterminate]="someComplete()"
    (change)="setAll($event.checked)"
  >
    {{ tiposTask.label }}
  </mat-checkbox>
  <li *ngFor="let tipo of tiposPcs; index as i">
    <mat-checkbox
      [(ngModel)]="tipo.completed"
      [id]="i"
      [name]="tipo.label"
      (ngModelChange)="updateAllComplete()"
      (change)="onChangeFiltroTipo($event)"
    >
      {{ tipo.label }}
    </mat-checkbox>
  </li>
</div> -->
