.anomalias-list {
  max-height: calc(100vh - 268px);
  overflow: auto;
}

table {
  width: 500px;
}

:host ::ng-deep .mat-cell {
  padding: 0 1rem 0 0;
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}

:host ::ng-deep td.mat-cell:first-of-type {
  padding-left: 0px;
}

/* ocultamos la barra vertical overscrool */
::-webkit-scrollbar {
  width: 0px;
}

.mat-row {
  cursor: pointer;
}

.mat-row.selected {
  background-color: grey;
}

.mat-row.hovered {
  background-color: grey;
}

.row-content {
  display: flex;
  justify-content: center;
}

.color-row {
  width: 10px;
  height: 48px;
}
