<div class="container-fluid" id="container-ppal">
  <div class="row">
    <div class="col-xs-12 col-lg-9">
      <div class="header">
        <h2>
          {{ planta?.nombre }} - {{ titulo | date }}
          <span> <input type="text" [(ngModel)]="carpetaJpgGray" (change)="onChangeCarpetaJpgGray($event)" />) - </span>
        </h2>
        <mat-slide-toggle *ngIf="user?.role == 1" [(ngModel)]="pcsOrEstructuras"> est/pc </mat-slide-toggle>
      </div>
      <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
        {{ alertMessage }}
      </div>

      <div class="btn-group btn-group-toggle btn-group-vuelos">
        <label
          [ngClass]="{ selected_flight: currentFlight === flight }"
          *ngFor="let flight of flightsList"
          [for]="flight"
          class="btn btn-secondary"
        >
          <input
            type="radio"
            name="options"
            [id]="flight"
            autocomplete="off"
            (change)="onClickFlightsCheckbox($event)"
          />{{ flight }}
        </label>
      </div>
      ( {{ informeService.selectedArchivoVuelo?.archivo }} -
      <input
        class="input-rangevalue"
        type="text"
        (change)="setImageFromRangeValue(rangeValue)"
        [(ngModel)]="rangeValue"
      />) - <input class="input-rangevalue" type="text" [(ngModel)]="currentImageRotation" />º -
      <input type="checkbox" [(ngModel)]="manualRotation" />

      <button class="btn btn-secondary input-range-button" (click)="setImageFromRangeValue(rangeValue - 4)">
        &lt; | &lt; (a)
      </button>
      <button class="btn btn-secondary input-range-button" (click)="setImageFromRangeValue(rangeValue - 1)">
        &lt; (s)
      </button>

      <!-- <button class="btn btn-danger input-range-button" (click)="setSeguidor($event)">
        ##
      </button> -->

      <button class="btn btn-secondary input-range-button" (click)="setImageFromRangeValue(rangeValue + 1)">
        &gt; (d)
      </button>

      <button class="btn btn-secondary input-range-button" (click)="setImageFromRangeValue(rangeValue + 4)">
        &gt; | &gt; (f)
      </button>

      <div class="input-range-div">
        <input
          type="range"
          id="slider"
          min="1"
          [max]="fileList.length || 1"
          step="1"
          [(value)]="rangeValue"
          (input)="setImageFromRangeValue($event.target.value)"
        />
        <!-- hay que restarle 1 -->
      </div>

      <div class="row">
        <div class="col col-xs-6">
          <app-canvas
            *ngIf="planta$"
            [pcsOrEstructuras]="pcsOrEstructuras"
            [carpetaJpgGray]="carpetaJpgGray"
            [currentLatLng]="currentLatLng"
            [currentDatetime]="currentDatetime"
            [currentTrackheading]="currentTrackheading"
            [currentImageRotation]="currentImageRotation"
            [planta$]="planta$"
          >
          </app-canvas>
          <div *ngIf="pcsOrEstructuras">
            <span>Pérdidas</span>
            <input
              *ngIf="selected_pc"
              style="width: 3rem;"
              [(ngModel)]="selected_pc.perdidas"
              (change)="updatePcInDb(selected_pc, false)"
              type="text"
              id="perdidas"
              maxlength="5"
              size="5"
              value="0"
            />
            <span>Severidad</span>
            <input
              *ngIf="selected_pc"
              style="width: 3rem;"
              [(ngModel)]="selected_pc.severidad"
              (change)="updatePcInDb(selected_pc, false)"
              type="number"
              id="severidad"
              maxlength="3"
              size="1"
              value="1"
            />
            <span>Irradiancia</span>
            <input
              *ngIf="selected_pc"
              style="width: 6rem;"
              [(ngModel)]="selected_pc.irradiancia"
              (change)="updatePcInDb(selected_pc, false)"
              type="text"
              id="irradiancia"
              maxlength="5"
              size="5"
              value="1"
            />
            <span>SqBase</span>
            <input
              style="width: 3rem;"
              *ngIf="selected_pc"
              [(ngModel)]="squareBase"
              type="number"
              id="squareBase"
              maxlength="2"
              size="20"
              (change)="setSquareBase(squareBase)"
            />
            <br />
            <span>SqProp</span>
            <input
              style="width: 3rem;"
              *ngIf="selected_pc"
              [(ngModel)]="squareProp"
              type="number"
              id="squareProp"
              maxlength="2"
              size="20"
              (change)="setSquareBase()"
            />
            <br />
            <br />
            <span>Modulos afectados</span>
            <input
              *ngIf="selected_pc"
              [(ngModel)]="selected_pc.modulosAfectados"
              (change)="updatePcInDb(selected_pc, false)"
              type="number"
              id="modulosAfectados"
              maxlength="5"
              size="2"
              value="1"
            />
            <span>Nubosidad</span>
            <input
              *ngIf="selected_pc"
              [(ngModel)]="selected_pc.nubosidad"
              (change)="updatePcInDb(selected_pc, false)"
              type="number"
              id="nubosidad"
              maxlength="1"
              size="2"
              value="1"
            />
          </div>
        </div>

        <div class="col col-xs-6 mapa">
          <app-edit-map [currentLatLng]="currentLatLng"> </app-edit-map>
          <!-- <button *ngIf="(user | async).role === 1" (click)="recalcularLocs()">Recalcular locs</button> -->

          <app-edit-pc-detail *ngIf="pcsOrEstructuras"></app-edit-pc-detail>
        </div>
      </div>
    </div>

    <div class="col col-xs-12 col-lg-3 col-pcs">
      <app-edit-list [pcsOrEstructuras]="pcsOrEstructuras"> </app-edit-list>
    </div>
  </div>
</div>
