<!-- <div class="mat-elevation-z8"> -->

<agm-map
  [latitude]="planta.latitud"
  [longitude]="planta.longitud"
  [mapTypeId]="mapType"
  [zoom]="planta.zoom"
  [disableDefaultUI]="false"
  (mapReady)="mapIsReady(map)"
>
  <agm-circle
    *ngFor="let pc of filteredPcs"
    (circleClick)="onMapCircleClick(pc)"
    [latitude]="pc.gps_lat"
    [longitude]="pc.gps_lng"
    [radius]="circleRadius"
    [strokeOpacity]="1"
    [strokePosition]="0"
    [strokeColor]="getStrokeColor(pc.severidad)"
    [strokeWeight]="3"
    [fillOpacity]="0.3"
    [editable]="false"
    [zIndex]="1"
  ></agm-circle>

  <agm-polygon
    *ngFor="let area of userAreaList"
    [paths]="area.path"
    [fillOpacity]="0"
    [strokeColor]="'#ffd04a'"
    [strokeOpacity]="1"
    [strokeWeight]="1"
    [visible]="true"
    [zIndex]="0.5"
    [clickable]="false"
  >
  </agm-polygon>
</agm-map>

<!-- <agm-circle
    *ngFor="let seguidor of seguidoresSinPcs"
    (circleClick)="onMapCircleClick(seguidor, true)"
    [latitude]="seguidor.gps_lat"
    [longitude]="seguidor.gps_lng"
    [radius]="circleRadius"
    [strokeOpacity]="1"
    [strokePosition]="0"
    [strokeColor]="grey"
    [strokeWeight]="2"
    [fillOpacity]="0.3"
    [editable]="false"
  >
  </agm-circle> -->
