.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 4px;
}

.btn-map {
  display: none;
  height: 58px;
  padding: 0;
  width: 40px;
  margin-bottom: 5px;
}

.buscar-input {
  width: 100%;
}

:host ::ng-deep .buscar-input .mat-form-field-wrapper {
  padding-bottom: 6px;
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.tabla-container {
  /* margin: 4px; */
  position: relative;
  height: calc(100vh - 152px);
  overflow: auto;
}

/* table {
  width: 100%;
} */

.mat-table {
  min-width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.mat-header-row,
.mat-row {
  display: flex;
  flex-direction: row;
}

.mat-header-cell,
.mat-cell {
  flex: auto;
}

.loc-header {
  display: flex;
  flex-direction: column;
}

.mat-row.selected {
  background-color: grey;
}

.row-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-data {
  font-size: 10px;
}

.cell-content {
  margin-left: 0.5rem;
  max-width: 80px;
}

.num-comentarios {
  width: 24px;
  height: 24px;
  background-color: green;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-comentarios span {
  color: white;
  font-weight: 500;
}

.btn-map-anom {
  width: 24px;
}

@media (max-width: 768px) {
  .btn-map {
    display: unset;
  }
}
