.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: white;
}

.left-content {
  display: flex;
  align-items: start;
}

.left-content img {
  position: absolute;
  left: 500px;
}

.titulo {
  font-size: 20px;
  font-weight: 500;
}

.views-btns {
  display: flex;
  gap: 1rem;
}

.views-btns button {
  border-radius: 18px;
}

.view-btn-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-clicked {
  background-color: #d1d1d1;
}

.pred-icon {
  color: #466df8;
}

.pred-label {
  color: #466df8;
}
