.map {
  height: calc(100vh - 96px);
  width: 100%;
  // visibility: hidden;
}

#popup {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 10px;
  z-index: 999;
}

.noAnoms {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  gap: 1rem;
  width: max-content;
}

.noAnoms mat-icon {
  color: limegreen;
  font-size: 28px;
}

.noAnoms span {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1050px) {
  #popup {
    top: 50px;
  }
}

::ng-deep .ol-zoom {
  left: unset;
  right: 10px;
  top: unset;
  bottom: 10px;
}

// ::ng-deep .ol-control button {
//   background-color: white;
//   color: black;
// }

@media (max-width: 900px) {
  ::ng-deep .ol-zoom {
    display: none;
  }

  .noAnoms {
    top: 60px;
  }
}

.coords-pointer {
  position: absolute;
  top: 0px;
  right: 280px;
  background: white;
}
