<div *ngIf="auth.user$ | async as user">
  <div *ngIf="user.role == 3; else localizaciones">
    <table *ngIf="dataSource.data" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let planta">{{ planta.nombre }}</td>
      </ng-container>

      <!-- Potencia Column -->
      <ng-container matColumnDef="potencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencia</th>
        <td mat-cell *matCellDef="let planta">{{ planta.potencia }} MW</td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
        <td mat-cell *matCellDef="let planta">{{ planta.tipo }}</td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let planta">
          {{ planta.informes[0].fecha * 1000 | date: 'dd/MM/yyyy' }}
          <a routerLink="../informe-edit/{{ planta.informes[0].id }}">
            <i class="far fa-edit"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #localizaciones>
    <table *ngIf="dataSourceLocs.data" mat-table [dataSource]="dataSourceLocs" matSort class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let planta">{{ planta.nombre }}</td>
      </ng-container>

      <!-- Potencia Column -->
      <ng-container matColumnDef="potencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencia</th>
        <td mat-cell *matCellDef="let planta">{{ planta.potencia }} MW</td>
      </ng-container>

      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
        <td mat-cell *matCellDef="let planta">{{ planta.tipo }}</td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="localizaciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Locs</th>
        <td mat-cell *matCellDef="let planta">
          <a routerLink="../auto-loc/{{ planta.id }}">
            <i class="fas fa-map-marker-alt"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsLocs"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLocs"></tr>
    </table>
  </ng-template>
</div>
