<mat-card>
  <div class="content">
    <span class="titulo">Estado del portfolio</span>
    <div class="datos">
      <div class="dato">
        <span class="nombre">MAE MEDIO</span>
        <span class="valor">4,42%</span>
        <!-- <span class="valor">{{ portfolioControlService.maeMedio * 100 | number: '1.0-2' }}%</span> -->
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">VARIACIÓN MAE MEDIO</span>
        <div class="dato-var">
          <span class="valor">+ 1,3%</span>
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">PÉRDIDAS</span>
        <span class="valor">2458 kW</span>
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">VARIACIÓN PÉRDIDAS</span>
        <div class="dato-var">
          <span class="valor">+ 16%</span>
          <mat-icon>arrow_drop_up</mat-icon>
        </div>
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">% MEDIO ANOMALÍAS GRAVES</span>
        <span class="valor">3,78%</span>
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">Nº PLANTAS</span>
        <span class="valor">13</span>
      </div>
      <div class="separador"></div>
      <div class="dato">
        <span class="nombre">POTENCIA TOTAL</span>
        <span class="valor">56 MW</span>
      </div>
    </div>
  </div>
</mat-card>
