<mat-dialog-content class="dialog-content">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">{{ 'Configura el PDF como prefieras' | translate }}</span>

        <!-- FILTRADAS O TODAS -->
        <div *ngIf="numElems > 0">
          <span class="titulo">{{ 'Anomalías a incluir' | translate }}</span>
          <mat-radio-group class="radio-btns" [value]="'all'" (change)="setFilteredPdf($event)">
            <mat-radio-button value="all">{{ 'todas' | translate | titlecase }}</mat-radio-button>
            <mat-radio-button value="filtered">{{ 'Solo filtradas' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="anoms-segs">
          <!-- ANEXO ANOMALIAS -->
          <mat-checkbox
            *ngIf="anexoAnomalias"
            [checked]="anexoAnomalias.completed"
            (change)="anexoAnomalias.completed = !anexoAnomalias.completed"
          >
            <span class="checkbox-titulo">{{ anexoAnomalias.label | translate }}</span>
          </mat-checkbox>

          <!-- ANEXO SEGUIDORES -->
          <div *ngIf="elemAnexoSeguidores">
            <mat-checkbox
              [checked]="allElemsSeguidoresCompleted"
              [indeterminate]="someComplete(elemAnexoSeguidores.id)"
              (change)="setAll($event.checked, elemAnexoSeguidores.id)"
            >
              <span class="titulo">{{ elemAnexoSeguidores.label | translate }}</span>
            </mat-checkbox>

            <li *ngFor="let elem of elemAnexoSeguidores.elems">
              <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemAnexoSeguidores.id)">
                <span style="font-size: 15px">
                  {{ elem.label | translate }}
                </span>
              </mat-checkbox>
            </li>
          </div>
        </div>

        <!-- AVANZADO -->
        <mat-accordion>
          <mat-expansion-panel
            class="mat-elevation-z0"
            [expanded]="panelOpenState"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titulo-2">{{ 'avanzado' | translate | titlecase }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- INTRODUCCION -->
            <div class="step-content">
              <div>
                <mat-checkbox
                  [checked]="allElemsIntroCompleted"
                  [indeterminate]="someComplete(elemIntroduccion.id)"
                  (change)="setAll($event.checked, elemIntroduccion.id)"
                >
                  <span class="titulo">{{ elemIntroduccion.label | translate }}</span>
                </mat-checkbox>

                <li *ngFor="let elem of elemIntroduccion.elems">
                  <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemIntroduccion.id)">
                    <span style="font-size: 15px">
                      {{ elem.label | translate }}
                    </span>
                  </mat-checkbox>
                </li>
              </div>

              <!-- ORTOFOTOS -->
              <mat-checkbox
                *ngIf="elemOrtofotos.elems.length == 1 && !noOrtofotos"
                [checked]="elemOrtofotos.elems[0].completed"
                (change)="elemOrtofotos.elems[0].completed = !elemOrtofotos.elems[0].completed"
              >
                <span class="checkbox-titulo">{{ elemOrtofotos.elems[0].label | translate }}</span>
              </mat-checkbox>
              <div *ngIf="elemOrtofotos.elems.length > 1 && !noOrtofotos">
                <mat-checkbox
                  [checked]="allElemsOrtoCompleted"
                  [indeterminate]="someComplete(elemOrtofotos.id)"
                  (change)="setAll($event.checked, elemOrtofotos.id)"
                >
                  <span class="titulo">{{ elemOrtofotos.label | translate }}</span>
                </mat-checkbox>

                <li *ngFor="let elem of elemOrtofotos.elems">
                  <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemOrtofotos.id)">
                    <span style="font-size: 15px">
                      {{ elem.label | translate }}
                    </span>
                  </mat-checkbox>
                </li>
              </div>

              <!-- RESULTADOS -->
              <div>
                <mat-checkbox
                  [checked]="allElemsResultadosCompleted"
                  [indeterminate]="someComplete(elemResultados.id)"
                  (change)="setAll($event.checked, elemResultados.id)"
                >
                  <span class="titulo">{{ elemResultados.label | translate }}</span>
                </mat-checkbox>
                <li *ngFor="let elem of elemResultados.elems">
                  <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemResultados.id)">
                    <span style="font-size: 15px">
                      {{ elem.label | translate }}
                    </span>
                  </mat-checkbox>
                </li>
              </div>

              <!-- ANEXO LISTA -->
              <mat-checkbox [checked]="anexoLista.completed" (change)="anexoLista.completed = !anexoLista.completed">
                <span class="checkbox-titulo">{{ anexoLista.label | translate }}</span>
              </mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <button mat-stroked-button matStepperNext>{{ 'siguiente' | translate | titlecase }}</button>
      </div>
    </mat-step>

    <!-- ADVERTENCIA MUCHAS ANOMALÍAS -->
    <mat-step *ngIf="plantaFija && anexoAnomalias !== undefined && anexoAnomalias.completed && numAnoms > 300">
      <div class="step-content">
        <div class="text-explain">
          <span
            >Has seleccionado el apartado <b>Imágenes de anomalías</b>. Se generará un PDF con una página por anomalía,
            por lo que tendrá más de <b>{{ numAnoms }}</b> páginas.</span
          >
          <span>¿Quieres continuar? </span>
        </div>
        <div class="btns">
          <button mat-stroked-button matStepperPrevious>{{ 'Volver atras' | translate }}</button>
          <button mat-stroked-button matStepperNext>{{ 'continuar' | translate | titlecase }}</button>
        </div>
      </div>
    </mat-step>
    <!-- ADVERTENCIA MUCHOS SEGUIDORES -->
    <mat-step
      *ngIf="
        !plantaFija && elemAnexoSeguidores !== undefined && elemAnexoSeguidores.elems[0].completed && numSegs > 300
      "
    >
      <div class="step-content">
        <div class="text-explain">
          <span
            >Has seleccionado algún apartado de <b>Imágenes seguidores</b>. Se generará un PDF con una o más páginas por
            seguidor, por lo que tendrá más de <b>{{ numSegs }}</b> páginas.</span
          >
          <span>¿Quieres continuar? </span>
        </div>
        <div class="btns">
          <button mat-stroked-button matStepperPrevious>{{ 'Volver atras' | translate }}</button>
          <button mat-stroked-button matStepperNext>{{ 'continuar' | translate | titlecase }}</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">{{ 'Selecciona destino' | translate }}</span>
        <div class="text-explain">
          <span>{{ 'Selecciona destino 1' | translate }}</span>
          <span
            ><b>( {{ emailUser }} )</b>
          </span>
          <span>{{ 'Selecciona destino 2' | translate }}</span>
        </div>
        <mat-checkbox id="check-select-email" [checked]="selectEmail" (change)="selectEmail = !selectEmail">
          <span class="checkbox-titulo">{{ 'Elegir otro email' | translate }}</span>
        </mat-checkbox>
        <form *ngIf="selectEmail" [formGroup]="form" (ngSubmit)="onSubmit($event)">
          <mat-form-field appearance="fill" class="email-input">
            <mat-label>{{ 'Introduce email' | translate }}</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <div class="btns">
            <button mat-stroked-button matStepperPrevious>{{ 'Volver atras' | translate }}</button>
            <button
              mat-stroked-button
              class="btn-generate"
              color="primary"
              [disabled]="form.invalid"
              matStepperNext
              type="submit"
            >
              {{ 'Solicitar PDF' | translate }}
            </button>
          </div>
        </form>
        <div class="btns" *ngIf="!selectEmail">
          <button mat-stroked-button matStepperPrevious>{{ 'Volver atras' | translate }}</button>
          <button mat-stroked-button class="btn-generate" color="primary" matStepperNext (click)="generate()">
            {{ 'Solicitar PDF' | translate }}
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">{{ 'PDF solicitado' | translate }}</span>
        <div *ngIf="plantaFija" class="text-explain">
          <span>{{ 'PDF solicitado 1' | translate }}</span>
          <span *ngIf="anexoAnomalias !== undefined"> {{ 'PDF solicitado 2' | translate }}</span>
          <span>{{ 'PDF solicitado 3' | translate }}</span>
        </div>
        <div *ngIf="!plantaFija" class="text-explain">
          <span>{{ 'PDF solicitado 1' | translate }}</span>
          <span *ngIf="elemAnexoSeguidores !== undefined"> {{ 'PDF solicitado 4' | translate }}</span>
          <span>{{ 'PDF solicitado 3' | translate }}</span>
        </div>
        <button mat-stroked-button mat-dialog-close>{{ 'cerrar' | translate | titlecase }}</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
