<mat-dialog-content class="dialog-content">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">Configura el PDF como prefieras</span>

        <!-- FILTRADAS O TODAS -->
        <div *ngIf="numElems > 0">
          <span class="titulo">Anomalías a incluir</span>
          <mat-radio-group class="radio-btns" [value]="'all'" (change)="setFilteredPdf($event)">
            <mat-radio-button value="all">Todas</mat-radio-button>
            <mat-radio-button value="filtered">Solo filtradas</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- INTRODUCCION -->
        <div>
          <mat-checkbox
            [checked]="allElemsIntroCompleted"
            [indeterminate]="someComplete(elemIntroduccion.id)"
            (change)="setAll($event.checked, elemIntroduccion.id)"
          >
            <span class="titulo">{{ elemIntroduccion.label }}</span>
          </mat-checkbox>

          <li *ngFor="let elem of elemIntroduccion.elems">
            <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemIntroduccion.id)">
              <span style="font-size: 15px">
                {{ elem.label }}
              </span>
            </mat-checkbox>
          </li>
        </div>

        <!-- ORTOFOTOS -->
        <mat-checkbox
          *ngIf="elemOrtofotos.elems.length == 1 && !noOrtofotos"
          [checked]="elemOrtofotos.elems[0].completed"
          (change)="elemOrtofotos.elems[0].completed = !elemOrtofotos.elems[0].completed"
        >
          <span class="checkbox-titulo">{{ elemOrtofotos.elems[0].label }}</span>
        </mat-checkbox>
        <div *ngIf="elemOrtofotos.elems.length > 1 && !noOrtofotos">
          <mat-checkbox
            [checked]="allElemsOrtoCompleted"
            [indeterminate]="someComplete(elemOrtofotos.id)"
            (change)="setAll($event.checked, elemOrtofotos.id)"
          >
            <span class="titulo">{{ elemOrtofotos.label }}</span>
          </mat-checkbox>

          <li *ngFor="let elem of elemOrtofotos.elems">
            <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemOrtofotos.id)">
              <span style="font-size: 15px">
                {{ elem.label }}
              </span>
            </mat-checkbox>
          </li>
        </div>

        <!-- RESULTADOS -->
        <div>
          <mat-checkbox
            [checked]="allElemsResultadosCompleted"
            [indeterminate]="someComplete(elemResultados.id)"
            (change)="setAll($event.checked, elemResultados.id)"
          >
            <span class="titulo">{{ elemResultados.label }}</span>
          </mat-checkbox>
          <li *ngFor="let elem of elemResultados.elems">
            <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemResultados.id)">
              <span style="font-size: 15px">
                {{ elem.label }}
              </span>
            </mat-checkbox>
          </li>
        </div>

        <!-- ANEXO LISTA -->
        <mat-checkbox [checked]="anexoLista.completed" (change)="anexoLista.completed = !anexoLista.completed">
          <span class="checkbox-titulo">{{ anexoLista.label }}</span>
        </mat-checkbox>

        <!-- ANEXO ANOMALIAS -->
        <mat-checkbox
          *ngIf="anexoAnomalias"
          [checked]="anexoAnomalias.completed"
          (change)="anexoAnomalias.completed = !anexoAnomalias.completed"
        >
          <span class="checkbox-titulo">{{ anexoAnomalias.label }}</span>
        </mat-checkbox>

        <!-- ANEXO SEGUIDORES -->
        <div *ngIf="elemAnexoSeguidores">
          <mat-checkbox
            [checked]="allElemsSeguidoresCompleted"
            [indeterminate]="someComplete(elemAnexoSeguidores.id)"
            (change)="setAll($event.checked, elemAnexoSeguidores.id)"
          >
            <span class="titulo">{{ elemAnexoSeguidores.label }}</span>
          </mat-checkbox>

          <li *ngFor="let elem of elemAnexoSeguidores.elems">
            <mat-checkbox [(ngModel)]="elem.completed" (ngModelChange)="updateAllComplete(elemAnexoSeguidores.id)">
              <span style="font-size: 15px">
                {{ elem.label }}
              </span>
            </mat-checkbox>
          </li>
        </div>

        <button mat-stroked-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>

    <!-- ADVERTENCIA MUCHAS ANOMALÍAS -->
    <mat-step *ngIf="plantaFija && anexoAnomalias !== undefined && anexoAnomalias.completed && numAnoms > 300">
      <div class="step-content">
        <div class="text-explain">
          <span
            >Has seleccionado el apartado <b>Imágenes de anomalías</b>. Se generará un PDF con una página por anomalía,
            por lo que tendrá más de <b>{{ numAnoms }}</b> páginas.</span
          >
          <span>¿Quieres continuar? </span>
        </div>
        <div class="btns">
          <button mat-stroked-button matStepperPrevious>Volver atrás</button>
          <button mat-stroked-button matStepperNext>Continuar</button>
        </div>
      </div>
    </mat-step>
    <!-- ADVERTENCIA MUCHOS SEGUIDORES -->
    <mat-step
      *ngIf="
        !plantaFija && elemAnexoSeguidores !== undefined && elemAnexoSeguidores.elems[0].completed && numSegs > 300
      "
    >
      <div class="step-content">
        <div class="text-explain">
          <span
            >Has seleccionado algún apartado de <b>Imágenes seguidores</b>. Se generará un PDF con una o más páginas por
            seguidor, por lo que tendrá más de <b>{{ numSegs }}</b> páginas.</span
          >
          <span>¿Quieres continuar? </span>
        </div>
        <div class="btns">
          <button mat-stroked-button matStepperPrevious>Volver atrás</button>
          <button mat-stroked-button matStepperNext>Continuar</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">Selecciona destino</span>
        <div class="text-explain">
          <span
            >Tras solicitar el PDF, cuando esté generado te llegará un correo al email con el que has iniciado
            sesión.</span
          >
          <span
            ><b>( {{ emailUser }} )</b>
          </span>
          <span
            >Si prefieres que te llegue a otro email, activa la siguiente casilla en introduce el que prefieras.</span
          >
        </div>
        <mat-checkbox id="check-select-email" [checked]="selectEmail" (change)="selectEmail = !selectEmail">
          <span class="checkbox-titulo">Elegir otro email</span>
        </mat-checkbox>
        <form *ngIf="selectEmail" [formGroup]="form" (ngSubmit)="onSubmit($event)">
          <mat-form-field appearance="fill" class="email-input">
            <mat-label>Introduce email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <div class="btns">
            <button mat-stroked-button matStepperPrevious>Volver atrás</button>
            <button mat-stroked-button class="btn-generate" [disabled]="form.invalid" matStepperNext type="submit">
              Solicitar PDF
            </button>
          </div>
        </form>
        <div class="btns" *ngIf="!selectEmail">
          <button mat-stroked-button matStepperPrevious>Volver atrás</button>
          <button mat-stroked-button class="btn-generate" matStepperNext (click)="generate()">Solicitar PDF</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <div class="step-content">
        <span class="titulo-principal">PDF solicitado</span>
        <div *ngIf="plantaFija" class="text-explain">
          <span>En breve recibiras un correo con un enlace para descargar tu PDF.</span>
          <span *ngIf="anexoAnomalias !== undefined">
            Como has seleccionado el apartado que incluye imágenes de las anomalías, ten en cuenta que el tiempo podría
            dilatarse si el número de anomalias es elevado.</span
          >
          <span>Puedes seguir utilizando la aplicación sin ningún problema.</span>
        </div>
        <div *ngIf="!plantaFija" class="text-explain">
          <span>En breve recibiras un correo con un enlace para descargar tu PDF.</span>
          <span *ngIf="elemAnexoSeguidores !== undefined">
            Como has seleccionado el apartado que incluye imágenes de los seguidores, ten en cuenta que el tiempo podría
            dilatarse si el número de seguidores es elevado.</span
          >
          <span>Puedes seguir utilizando la aplicación sin ningún problema.</span>
        </div>
        <button mat-stroked-button mat-dialog-close>Cerrar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
