<mat-tab-group *ngIf="loadStats">
  <mat-tab label="MAE">
    <div class="mae-grid">
      <div class="mae-content-izq">
        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>MAE global</mat-card-title>
            <mat-card-subtitle>Módulos Apagados Equivalentes por año</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="mae-global">
              <app-chart-mae-global></app-chart-mae-global>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>MAE por zonas</mat-card-title>
            <mat-card-subtitle>Para visualizar dónde están los problemas de rendimiento</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="mae-zonas">
              <app-chart-anomalias-zonas></app-chart-anomalias-zonas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>MAE por tipo de anomalía</mat-card-title>
            <mat-card-subtitle
              >Encuentra la relación entre el tipo de anomalía y las pérdidas que provoca</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="mae-tipo">
              <app-chart-numsyperd></app-chart-numsyperd>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="mat-tab-stats" label="Células calientes (CC)">
    <div class="cc-grid">
      <div class="cc-content-izq">
        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>Módulos con células calientes</mat-card-title>
            <mat-card-subtitle>% de módulos con CC y gradiente medio (ºC) </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-chart-pct-cels></app-chart-pct-cels>
          </mat-card-content>
        </mat-card>

        <mat-card class="chart-altura">
          <mat-card-header>
            <mat-card-title>Céls. calientes por altura</mat-card-title>
            <mat-card-subtitle
              >Para detectar posibles problemas relacionados con vegetación y desposiciones de
              pájaros</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <app-chart-altura></app-chart-altura>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="cc-content-drcha">
        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>Módulos con cel. calientes por gradiente</mat-card-title>
            <mat-card-subtitle>Clasificación de los módulos con céls calientes por gradiente</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-chart-cels-temps></app-chart-cels-temps>
          </mat-card-content>
        </mat-card>

        <mat-card class="chart-mae">
          <mat-card-header>
            <mat-card-title>Céls. calientes por zonas</mat-card-title>
            <mat-card-subtitle>Para visualizar dónde se generan las céls. calientes</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-chart-cels-por-zonas></app-chart-cels-por-zonas>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab class="mat-tab-stats" label="TED">
    <ng-template matTabContent>
      <div class="ted-grid">
        <mat-card class="chart-sankey">
          <mat-card-header>
            <mat-card-title>TED Potencia (Diagrama de Evolución Temporal)</mat-card-title>
            <mat-card-subtitle
              >Evolución de las pérdidas de las anomalías con el tiempo. Ayuda a responder qué ocurre con las pérdidas y
              cuándo ocurren.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="ted-sankey-potencia">
              <app-chart-sankey-potencia></app-chart-sankey-potencia>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="chart-sankey">
          <mat-card-header>
            <mat-card-title>TED (Diagrama de Evolución Temporal)</mat-card-title>
            <mat-card-subtitle
              >Evolución de las anomalías con el tiempo. Ayuda a responder qué ocurre con las anomalías y cuándo
              ocurren.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="ted-sankey">
              <app-chart-sankey></app-chart-sankey>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab> -->
</mat-tab-group>
