<div>
    <mat-form-field class="buscar-input" appearance="outline">
        <mat-label>{{ 'Buscar' | translate | titlecase }}</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input autocomplete="off" />
      </mat-form-field>
    <mat-accordion>
        <mat-expansion-panel 
            *ngFor="anom of allAnomalias; index as i"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{i}}   Substring en circuito abierto
                </mat-panel-title>
                <mat-panel-description>
                   
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Información principal
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Información sobre el vuelo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            O&M
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Información próximo año
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    
</div>

