.create-report {
  margin: 1rem;
}

.example-form {
  width: 100%;
}

mat-card {
  width: min-content;
}

mat-card-content {
  display: grid;
}

app-mat-selected-search {
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.btns-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
