.create-user {
  margin: 1rem;
}

.example-form {
  width: 100%;
}

mat-card {
  width: min-content;
}

mat-card-content {
  display: grid;
}

.btns-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
