.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-sidenav {
  margin-left: 10px;
  border-radius: 4px;
  padding-left: 5px;
  width: 300px;
}

.btn-left {
  position: absolute;
  top: 70px;
  left: 0;
  margin-left: 10px;
  padding-left: 0;
  padding-right: 0;
}

.right-sidenav {
  display: flex;
  margin-right: 10px;
  border-radius: 4px;
}

.btn-right {
  position: absolute;
  top: 70px;
  right: 0;
  left: auto;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
}

h3 {
  margin-top: 20px;
}
