.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn-left {
  top: 70px;
  position: absolute;
}

.btn-right {
  top: 70px;
  right: 0;
  left: auto;
  position: absolute;
}
