mat-card {
  height: 100%;
}

#map {
  /* height: calc(100vh - 302px); */
  height: calc(100vh - 310px); /* +8px para que se vean las sombras */
  width: 100%;
}

.ol-popup {
  position: absolute;
  transform: translate(-50%, -140%);
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.popup-label {
  display: block;
  width: max-content;
}
