mat-card {
  height: 100%;
}

#map {
  height: 200px;
  /* height: calc(50vh - 86px - 32px); */
  width: 100%;
}

.ol-popup {
  position: absolute;
  transform: translate(-50%, -140%);
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.popup-label {
  display: block;
  width: max-content;
}
