mat-card {
  height: 100%;
  max-height: calc(calc(100vh - 282px) / 2); /* 286px - 4px para las sombras */
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart {
  max-width: 500px;
  /* margin: 35px auto; */
  /* padding: 0; */
}
