<div class="legend">
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_1.png" />
    <span>{{ tiposAnomalia[1] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_2.png" />
    <span>{{ tiposAnomalia[2] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_3.png" />
    <span>{{ tiposAnomalia[3] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_4.png" />
    <span>{{ tiposAnomalia[4] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_5.png" />
    <span>{{ tiposAnomalia[5] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_6.png" />
    <span>{{ tiposAnomalia[6] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_7.png" />
    <span>{{ tiposAnomalia[7] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_8.png" />
    <span>{{ tiposAnomalia[8] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_9.png" />
    <span>{{ tiposAnomalia[9] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_10.png" />
    <span>{{ tiposAnomalia[10] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_11.png" />
    <span>{{ tiposAnomalia[11] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_12.png" />
    <span>{{ tiposAnomalia[12] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_13.png" />
    <span>{{ tiposAnomalia[13] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_14.png" />
    <span>{{ tiposAnomalia[14] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_15.png" />
    <span>{{ tiposAnomalia[15] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_16.png" />
    <span>{{ tiposAnomalia[16] }}</span>
  </div>
  <div class="legend__row">
    <!-- <img class="icon" src="../../../assets/images/tipo_17.png" /> -->
    <span>{{ tiposAnomalia[17] }}</span>
  </div>
  <div class="legend__row">
    <img class="icon" src="../../../assets/images/tipo_18.png" />
    <span>{{ tiposAnomalia[18] }}</span>
  </div>
  <div class="legend__row">
    <!-- <img class="icon" src="../../../assets/images/tipo_19.png" /> -->
    <span>{{ tiposAnomalia[19] }}</span>
  </div>
</div>
