<div class="clusters-control">
  <button mat-raised-button (click)="createCluster()" [disabled]="joinActive">
    <mat-icon>add_circle_outline</mat-icon>
    <span *ngIf="!createClusterActive">Crear nuevo cluster</span>
    <span *ngIf="createClusterActive">Cancelar crear cluster</span>
  </button>
  <button mat-raised-button (click)="deleteCluster()" [disabled]="!isClusterSelected || joinActive">
    <mat-icon>delete</mat-icon>
    <span>Eliminar cluster</span>
  </button>
  <button mat-raised-button (click)="activeJoinMode()" [disabled]="!isClusterSelected">
    <mat-icon>link</mat-icon>
    <span *ngIf="!joinActive">Unir a otro cluster</span>
    <span *ngIf="joinActive">Cancelar unión</span>
  </button>
  <button mat-raised-button (click)="deleteClusterUnion()" [disabled]="!isClusterSelected || joinActive">
    <mat-icon>delete</mat-icon>
    <span>Eliminar unión cluster</span>
  </button>

  <form class="example-container" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Param 1</mat-label>
      <input matInput type="number" placeholder="Ex. 12" [formControl]="formControl" min="10" />
      <span matSuffix>unit</span>
      <mat-error *ngIf="formControl.invalid">Min size: 10</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Param 2</mat-label>
      <input matInput type="number" placeholder="Ex. 12" [formControl]="formControl" min="10" />
      <span matSuffix>unit</span>
      <mat-error *ngIf="formControl.invalid">Min size: 10</mat-error>
    </mat-form-field>
  </form>
</div>
