<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Ajuste Bruto</ng-template>
    <div>
      <form class="example-container" [formGroup]="form">
        <button mat-raised-button color="primary" class="auto-cluster-button" (click)="autoCluster()">
          AUTO CLUSTER
        </button>
        <mat-form-field appearance="outline">
          <mat-label>Localización</mat-label>
          <input matInput type="number" [formControl]="formControlLoc" min="3" max="8" />
          <span matSuffix>º</span>
          <mat-error *ngIf="formControlLoc.invalid">Introducir valor entre 3 y 8</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Velocidad</mat-label>
          <input matInput type="number" [formControl]="formControlVel" min="2" max="8" />
          <span matSuffix>m/s</span>
          <mat-error *ngIf="formControlVel.invalid">Introducir valor entre 2 y 8</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div>
      <button mat-stroked-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ajuste Fino</ng-template>
    <div class="control-fine">
      <button mat-raised-button (click)="createCluster()" [disabled]="joinActive">
        <mat-icon>add_circle_outline</mat-icon>
        <span *ngIf="!createClusterActive">Crear nuevo cluster</span>
        <span *ngIf="createClusterActive">Cancelar crear cluster</span>
      </button>
      <button mat-raised-button (click)="deleteCluster()" [disabled]="!isClusterSelected || joinActive">
        <mat-icon>delete</mat-icon>
        <span>Eliminar cluster</span>
      </button>
      <button mat-raised-button (click)="activeJoinMode()" [disabled]="!isClusterSelected">
        <mat-icon>link</mat-icon>
        <span *ngIf="!joinActive">Unir a otro cluster</span>
        <span *ngIf="joinActive">Cancelar unión</span>
      </button>
      <button mat-raised-button (click)="deleteClusterUnion()" [disabled]="!isClusterSelected || joinActive">
        <mat-icon>delete</mat-icon>
        <span>Eliminar unión cluster</span>
      </button>
    </div>

    <div class="atras-siguiente">
      <button mat-stroked-button matStepperPrevious>Atrás</button>
      <button mat-stroked-button matStepperNext>Siguiente</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
