.clusters-control {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
}

.warn-active {
  color: #d32f2f;
}

mat-icon {
  margin-right: 8px;
}

.auto-cluster-button {
  margin: 30px 0;
}

mat-form-field {
  width: 100%;
  padding: 0 20px;
}
