<div class="clusters-control">
  <form class="example-container" [formGroup]="form">
    <button mat-raised-button class="auto-cluster-button" (click)="autoCluster()">AUTO CLUSTER</button>
    <mat-form-field appearance="outline">
      <mat-label>Localización</mat-label>
      <input matInput type="number" [formControl]="formControlLoc" min="3" max="8" />
      <span matSuffix>º</span>
      <mat-error *ngIf="formControlLoc.invalid">Introducir valor entre 3 y 8</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Velocidad</mat-label>
      <input matInput type="number" [formControl]="formControlVel" min="2" max="8" />
      <span matSuffix>m/s</span>
      <mat-error *ngIf="formControlVel.invalid">Introducir valor entre 2 y 8</mat-error>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createCluster()" [disabled]="joinActive">
    <mat-icon>add_circle_outline</mat-icon>
    <span *ngIf="!createClusterActive">Crear nuevo cluster</span>
    <span *ngIf="createClusterActive">Cancelar crear cluster</span>
  </button>
  <button mat-raised-button (click)="deleteCluster()" [disabled]="!isClusterSelected || joinActive">
    <mat-icon>delete</mat-icon>
    <span>Eliminar cluster</span>
  </button>
  <button mat-raised-button (click)="activeJoinMode()" [disabled]="!isClusterSelected">
    <mat-icon>link</mat-icon>
    <span *ngIf="!joinActive">Unir a otro cluster</span>
    <span *ngIf="joinActive">Cancelar unión</span>
  </button>
  <button mat-raised-button (click)="deleteClusterUnion()" [disabled]="!isClusterSelected || joinActive">
    <mat-icon>delete</mat-icon>
    <span>Eliminar unión cluster</span>
  </button>
</div>
