agm-map {
  height: 512px;
}

#tabla_locationareas {
  background-color: rgba(153, 143, 143, 0.26);
  font-size: 0.7rem;
}

.col-locationareas {
  height: 100vh;
  overflow: scroll;
  padding: 0;
  z-index: 99999;
}

.seleccionado {
  background-color: grey;
}
.table th {
  padding: 0;
  vertical-align: center !important;
}
