<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <h2>
            <h2>{{ planta?.nombre }}</h2>
          </h2>
          <h3 id="info"></h3>

          <agm-map
            [latitude]="plantaLocation.lat"
            [longitude]="plantaLocation.lng"
            [mapTypeId]="mapType"
            [zoom]="defaultZoom"
            (mapReady)="onMapReady($event)"
          >
          </agm-map>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-6" *ngIf="selectedLocationArea">
        
              <ul class="propiedadesLocArea">
                <li class="liPropiedadesLocArea">
                  globalX:
                  <input
                    (change)="updateLocationArea(selectedLocationArea)"
                    [(ngModel)]="selectedLocationArea.globalX"
                    type="text"
                    name="globalX"
                  />
                </li>
                <li>
                  globalY:
                  <input
                    (change)="updateLocationArea(selectedLocationArea)"
                    [(ngModel)]="selectedLocationArea.globalY"
                    type="text"
                    name="globalY"
                  />
                </li>
                <li>

                    <mat-form-field>
                        <mat-label>Modulo</mat-label>
                        <mat-select [(ngModel)]="selectedLocationArea.modulo" name="m" (selectionChange)="updateLocationArea(selectedLocationArea)" >
                          <mat-option *ngFor="let m of modulos" [value]="m.id">
                            {{m.marca}} {{m.modelo}} ({{m.potencia}} W)
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </li>
                <li>
                  <button
                    type="button"
                    class="btn btn-danger btn-eliminar"
                    (click)="deleteLocationArea(selectedLocationArea)"
                  >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 col-locationareas">
      <button (click)="showOrHideAllPolygons()">Show/hide all</button>
      <button (click)="showCloserPolygons()">Show closer</button>
      <table class="table" id="tabla_locationareas">
        <tr>
          <th>GlobX</th>
          <!-- <th> Filename</th> -->
          <th>GlobY</th>
          <th>sel</th>
        </tr>

        <tr
          style="cursor:  pointer"
          (click)="selectLocationArea(locArea)"
          *ngFor="let locArea of locationAreaList"
          [ngClass]="{ seleccionado: locArea === selectedLocationArea }"
        >
          <th>{{ locArea.globalX }}</th>
          <th>{{ locArea.globalY }}</th>
          <!-- <th> {{pc.archivo}}</th> -->
          <th>
            <mat-checkbox
              (click)="changeVisibilityPolygon(locArea)"
              [(ngModel)]="locArea.visible"
            ></mat-checkbox>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
