<mat-card>
  <div class="header">
    <div>
      <span class="titulo">MAE</span>
      <span class="subtitulo">(Modulos Apagados Equivales)</span>
    </div>
    <div class="change-btns">
      <button
        mat-raised-button
        class="change-btn"
        *ngIf="plantas.length > 50 && chartZoomed == true"
        (click)="updateOptions('all')"
      >
        <mat-icon>zoom_in_map</mat-icon>
        <span class="btn-label">Ver todas</span>
      </button>
      <button
        mat-raised-button
        class="change-btn"
        *ngIf="plantas.length > 50 && chartZoomed == false"
        (click)="updateOptions('start')"
      >
        <mat-icon>zoom_out_map</mat-icon>
        <span class="btn-label">Ampliar</span>
      </button>
    </div>
  </div>
  <div class="direction-btns">
    <button
      mat-icon-button
      *ngIf="plantas.length > 50 && chartZoomed == true"
      [disabled]="chartStart"
      (click)="updateOptions('left')"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="plantas.length > 50 && chartZoomed == true"
      [disabled]="chartEnd"
      (click)="updateOptions('right')"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="chart" *ngIf="dataLoaded" id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [annotations]="chartOptions.annotations"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>
</mat-card>
