<mat-card>
  <mat-card-header>
    <mat-card-title>
      MAE
      <span class="subtitulo">(Modulos Apagados Equivales)</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="chart" *ngIf="dataLoaded" id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [annotations]="chartOptions.annotations"
        [colors]="chartOptions.colors"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>
