mat-spinner {
  position: absolute;
  top: 200px;
  left: 60%;
  transform: translate(50%, 0%);
}

.cluster-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.right-bar {
  display: flex;
  flex-direction: column;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
