.cluster-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.right-bar {
  display: flex;
  flex-direction: column;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
