.panel {
  padding: 10px 0 10px 10px;
  min-width: 250px;
  overflow-y: hidden;
  position:relative;
}

.clean-filters {
  font-size: 16px;
}

.titulo {
  width: 100%;
  height:48px;
  padding-bottom:3px;
  margin: -10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  text-align:center;
  position:relative;
}

.filters{
  position:relative;
  padding: 5px 0;
  /* Cuando el panel de filtros está fijo y a la izquierda (version en produccion de la app o en la versión nueva en seguidores, usamos 168px.
  Si el panel es desplegable a la derecha, usamos 238px  */
  /* height: calc(100vh - 168px); */
  height: calc(100vh - 238px);
  padding-right: 12px;
  overflow-y:scroll;
  z-index:1000;

}
