<div class="container">
  <div class="col-12 example-container">
    <!-- Value: {{ form.value | json }} -->
    <hr />
    <form class="formContainer" [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field style="display: none;">
        <input matInput formControlName="id" placeholder="id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="nombre" placeholder="Nombre de la planta" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="latitud" placeholder="Latitud GPS" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="longitud" placeholder="Longitud GPS" />
      </mat-form-field>

      <mat-radio-group formControlName="tipo" aria-label="Tipo">
        <mat-radio-button value="fija">Fija</mat-radio-button>
        <mat-radio-button value="1 eje">1 eje</mat-radio-button>
        <mat-radio-button value="seguidores">Seguidores</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <input matInput type="number" formControlName="potencia" placeholder="Potencia (MW)" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="empresa" placeholder="Empresa (id)" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="filas" placeholder="Filas" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="columnas" placeholder="Columnas" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="num_modulos" placeholder="Número de módulos" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="moduloPotencia" placeholder="Potencia media modulos (W)" />
      </mat-form-field>

      <mat-form-field *ngIf="planta">
        <mat-label>Módulos</mat-label>
        <mat-select formControlName="modulos" multiple>
          <mat-option *ngFor="let modulo of allModulos" [value]="modulo.id"
            >{{ modulo.marca }} {{ modulo.modelo }} ({{ modulo.potencia }} W)</mat-option
          >
        </mat-select>
      </mat-form-field>

      <span>Módulos:</span>
      <mat-radio-group formControlName="vertical" aria-label="Modulos orientados verticalmente">
        <mat-radio-button [value]="true">Vertical</mat-radio-button>
        <mat-radio-button [value]="false">Horizontal</mat-radio-button>
      </mat-radio-group>

      <span>Alturas:</span>
      <mat-radio-group formControlName="alturaBajaPrimero" aria-label="Altura baja primero">
        <mat-radio-button [value]="true">Altura baja primero</mat-radio-button>
        <mat-radio-button [value]="false">Altura alta primero</mat-radio-button>
      </mat-radio-group>

      <span>Referencia a Solardrone:</span>
      <mat-radio-group formControlName="referenciaSolardrone" aria-label="Referencia a Solardrone">
        <mat-radio-button [value]="true">Sí</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>

      <button mat-button color="primary" type="submit" [disabled]="form.invalid">
        Actualizar
      </button>

      <!-- <mat-form-field>
          <mat-radio-group formControlName="tipo" placeholder="Tipo">
            <mat-radio-button value="fija">fija</mat-radio-button>
            <mat-radio-button value="seguidores">seguidores</mat-radio-button>
            <mat-radio-button value="1 ejes">1 eje</mat-radio-button>
          </mat-radio-group>
        </mat-form-field> -->
    </form>

    <div *ngIf="success">Planta actualizada</div>

    <h4>Criterios para Anomalías</h4>
    <mat-form-field>
      <mat-label>Criterio</mat-label>
      <mat-select [(value)]="critSeleccionado">
        <mat-option *ngFor="let crit of criterios" [value]="crit">
          {{ crit.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button color="secondary" (click)="simularCriteriosClasificacion(critSeleccionado)">
      SIMULAR criterios
    </button>
    <button mat-button color="danger" (click)="aplicarCriteriosClasificacion(critSeleccionado)">
      APLICAR criterios
    </button>
  </div>
</div>
