.report-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.report-selector-title {
  font-size: 14px;
  font-weight: 400;
}

.report-selector-content {
  border-radius: 20px;
}

.mat-select-trigger {
  gap: 1rem;
}
