<div *ngIf="variosInformes" class="report-selector">
  <span class="report-selector-title">Seleccionar informe</span>
  <button mat-raised-button class="report-selector-content">
    <mat-select [(value)]="reportSelected" (selectionChange)="onReportChange($event)">
      <mat-option [value]="report" *ngFor="let report of reports">
        {{ report.date * 1000 | date : 'dd/MM/yyyy' }}
      </mat-option>
    </mat-select>
  </button>
</div>

<span class="one-report" *ngIf="!variosInformes">{{ reportSelected.date * 1000 | date : 'dd/MM/yyyy' }}</span>
