<mat-card>
  <mat-card-content>
    <h3>Categorías</h3>
    <div class="filtro-severidad">
      <ng-container *ngFor="let cat of numCategorias">
        <mat-checkbox
          *ngIf="countCategoria[cat - 1] > 0"
          [checked]="filtroCategoria.includes(cat)"
          (change)="onChangeCheckboxCategoria($event)"
          value="{{ cat }}"
        >
          <span class="checkbox-filtro-severidad">
            <span class="filtro-texto"> {{ nombreClases[cat] }} </span>
            <span class="filtro-numero"
              >({{ countCategoriaFiltrada[cat - 1] }} /
              {{ countCategoria[cat - 1] }})</span
            >
          </span>
        </mat-checkbox>
      </ng-container>
    </div>

    <hr />

    <h3 class="titulo-gradiente">Gradiente mínimo</h3>
    <span class="subtitulo-gradiente"
      >(sólo se aplica a células calientes)</span
    >
    <div class="filtro-gradiente">
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onInputFiltroGradiente($event)"
        tickInterval="1"
        min="{{ global.minGradiente }}"
        max="{{ global.maxGradiente }}"
        [(ngModel)]="filtroGradiente"
      ></mat-slider>
      <span class="filtro-gradiente-numero">({{ filtroGradiente }} ºC)</span>
    </div>

    <hr />

    <h3>Clase de Anomalía (CoA)</h3>
    <div class="filtro-severidad">
      <ng-container *ngFor="let ts of numClases">
        <mat-checkbox
          [disabled]="countClase[ts - 1] === 0"
          [checked]="filtroClase.includes(ts)"
          (change)="onCheckBoxClaseChange($event)"
          value="{{ ts }}"
        >
          <div class="filtros-severidad-circulo-texto">
            <div class="circle circleSeveridad{{ ts }}"></div>
            <span class="filtro-severidad-text"
              >{{ labelsSeveridad[ts - 1] }}
            </span>

            <span class="filtro-numero">
              ({{ countClaseFiltrada[ts - 1] }} / {{ countClase[ts - 1] }})
            </span>
            <i
              matTooltip="{{ descripcionSeveridad[ts - 1] }}"
              class="info-severidad fas fa-info-circle"
            ></i>
          </div>
        </mat-checkbox>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
