<mat-card>
  <mat-card-content>
    <h4>
      Clase de Anomalía
      <i
        class="fas fa-info-circle info-coa"
        (click)="onClickExplicacionCoA()"
      ></i>
    </h4>

    <div class="filtro-severidad">
      <ng-container *ngFor="let ts of numClases">
        <mat-checkbox
          [disabled]="countClase[ts - 1] === 0"
          [checked]="filtroClase.includes(ts)"
          (change)="onCheckBoxClaseChange($event)"
          value="{{ ts }}"
        >
          <div class="filtros-severidad-circulo-texto">
            <div class="circle circleSeveridad{{ ts }}"></div>
            <span class="filtro-severidad-text"
              >{{ labelsSeveridad[ts - 1] }}
            </span>
            &nbsp;
            <span class="filtro-numero">
              ({{ countClaseFiltrada[ts - 1] }} / {{ countClase[ts - 1] }})
            </span>
          </div>
        </mat-checkbox>
      </ng-container>
    </div>
    <hr />
    <h4>Categorías</h4>
    <div class="filtro-severidad">
      <ng-container *ngFor="let cat of numCategorias">
        <mat-checkbox
          *ngIf="countCategoria[cat - 1] > 0"
          [checked]="filtroCategoria.includes(cat)"
          (change)="onChangeCheckboxCategoria($event)"
          value="{{ cat }}"
        >
          <span class="checkbox-filtro-severidad">
            <span class="filtro-texto"> {{ nombreClases[cat] }} </span>
            <span class="filtro-numero filtro-numero-categoria">
              ({{ countCategoriaFiltrada[cat - 1] }} /
              {{ countCategoria[cat - 1] }})</span
            >
          </span>
        </mat-checkbox>
      </ng-container>
    </div>

    <hr />

    <h4 class="titulo-gradiente">Gradiente mínimo</h4>
    <span class="subtitulo-gradiente"
      >(sólo se aplica a células calientes)</span
    >
    <div class="filtro-gradiente">
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onInputFiltroGradiente($event)"
        (mouseup)="onChangeFiltroGradiente()"
        tickInterval="1"
        min="{{ minGradiente }}"
        max="{{ maxGradiente }}"
        [(ngModel)]="filtroGradiente"
      ></mat-slider>
      <span class="filtro-gradiente-numero">({{ filtroGradiente }} ºC)</span>
    </div>
  </mat-card-content>
</mat-card>
