.mat-sort-header-container {
  align-items: center;
}

.filtro-severidad {
  display: flex;
  flex-direction: column;
}

.filtro-gradiente {
  display: flex;
  flex-direction: row;
}
.filtro-gradiente-numero {
  margin-bottom: 10px;
  width: 5rem;
  align-self: center;
  color: grey;
}

.circle {
  width: 15px;
  height: 15px;
  align-self: center;
  border-radius: 50%;
}

.circleSeveridad1 {
  background: #20b2aa;
}

.circleSeveridad2 {
  background: #ff4500;
}

.circleSeveridad3 {
  background: #b70000;
}

.filtros-severidad {
  display: flex;
  flex-direction: column;
}

.filtro-severidad-text {
  margin-left: 0.5rem;
}

.filtros-severidad-circulo-texto {
  display: flex;
  flex-direction: row;
}

.info-severidad {
  margin-left: 0.5rem;
}

.filtro-numero {
  color: grey;
}

mat-slider {
  width: 100%;
}
