<div class="popup">
  <mat-card class="popup-hover" *ngIf="anomaliaHover">
    <mat-card-content class="popup-hover-content">
      <div class="elemento">
        <span class="titulo-resalt">{{ 'anomalia' | translate | titlecase }} #{{ anomaliaHover.numAnom }}</span>
      </div>
      <div class="elemento">
        <span class="titulo">{{ 'tipo' | translate | titlecase }}</span>
        <span class="subtitulo">{{ pcDescripcion[anomaliaHover.tipo] | translate }}</span>
      </div>
      <div class="elemento">
        <span class="titulo">{{ 'Temperatura Max' | translate }}</span>
        <span *ngIf="anomaliaHover.temperaturaMax !== 0" class="subtitulo"
          >{{ anomaliaHover.temperaturaMax | number : '1.0-1' }} ºC</span
        >
        <span *ngIf="anomaliaHover.temperaturaMax === 0" class="subtitulo">Pronto disponible</span>
      </div>
      <div class="elemento">
        <span class="titulo">&Delta;T {{ 'normalizado' | translate | titlecase }}</span>
        <span *ngIf="anomaliaHover.gradienteNormalizado !== 0" class="subtitulo"
          >{{ anomaliaHover.gradienteNormalizado | number : '1.0-1' }} ºC</span
        >
        <span *ngIf="anomaliaHover.gradienteNormalizado === 0" class="subtitulo">Pronto disponible</span>
      </div>
      <div class="elemento">
        <span class="titulo">{{ 'perdidas' | translate | titlecase }} (beta)</span>
        <span class="subtitulo">{{ anomaliaHover.perdidas * 100 | number : '1.0-0' }}%</span>
      </div>
      <div class="elemento">
        <span class="titulo">{{ 'clase' | translate | titlecase }}</span>
        <span class="subtitulo">CoA {{ anomaliaHover.clase }}</span>
      </div>
      <div class="elemento" *ngIf="anomaliaHover.criticidad !== undefined">
        <span class="titulo"
          >{{ 'Criticidad (Criterio' | translate }} {{ anomaliaService.criterioCriticidad.nombre }})</span
        >
        <span class="subtitulo">{{ criticidadLabels[anomaliaHover.criticidad] | translate }}</span>
      </div>
      <div class="elemento">
        <span class="titulo">{{ 'localizacion' | translate | titlecase }}</span>
        <span class="subtitulo">{{ localizacion }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="popup-desktop" *ngIf="anomaliaSelect">
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="General">
          <div class="tab-content">
            <div class="elemento">
              <span class="titulo-resalt">{{ 'anomalia' | translate | titlecase }} #{{ anomaliaSelect.numAnom }}</span>
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'tipo' | translate | titlecase }}</span>
              <span class="subtitulo">{{ pcDescripcion[anomaliaSelect.tipo] | translate }}</span>
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'Temperatura Max' | translate }}</span>
              <span *ngIf="anomaliaSelect.temperaturaMax !== 0" class="subtitulo"
                >{{ anomaliaSelect.temperaturaMax | number : '1.0-1' }} ºC</span
              >
              <span *ngIf="anomaliaSelect.temperaturaMax === 0" class="subtitulo">{{
                'Pronto disponible' | translate
              }}</span>
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'Gradiente Temp. Normalizado' | translate }}</span>
              <span *ngIf="anomaliaSelect.gradienteNormalizado !== 0" class="subtitulo"
                >{{ anomaliaSelect.gradienteNormalizado | number : '1.0-1' }} ºC</span
              >
              <span *ngIf="anomaliaSelect.gradienteNormalizado === 0" class="subtitulo">Pronto disponible</span>
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'perdidas' | translate | titlecase }} (beta)</span>
              <span class="subtitulo">{{ anomaliaSelect.perdidas * 100 | number : '1.0-0' }}%</span>
              <!-- <input (change)="onEdit($event, 'perdidas')" type="text" matImput [(ngModel)]="anomaliaSelect.perdidas" /> -->
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'clase' | translate | titlecase }}</span>
              <span class="subtitulo">CoA {{ anomaliaSelect.clase }}</span>
            </div>
            <div class="elemento" *ngIf="anomaliaSelect.criticidad !== undefined">
              <span class="titulo"
                >{{ 'Criticidad (Criterio' | translate }} {{ anomaliaService.criterioCriticidad.nombre }})</span
              >
              <span class="subtitulo">{{ criticidadLabels[anomaliaSelect.criticidad] | translate }}</span>
            </div>
            <div class="elemento">
              <span class="titulo">{{ 'localizacion' | translate | titlecase }}</span>
              <span class="subtitulo">{{ localizacion }}</span>

              <div class="admin-inputs" *ngIf="isAdmin">
                <mat-form-field class="input">
                  <mat-label>Fila</mat-label>
                  <input
                    class="input"
                    matInput
                    type="number"
                    [value]="anomaliaSelect.localY"
                    (change)="updateAnomalia($event.target.value, 'localY')"
                  />
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Columna</mat-label>
                  <input
                    class="input"
                    matInput
                    type="number"
                    [value]="anomaliaSelect.localX"
                    (change)="updateAnomalia($event.target.value, 'localX')"
                  />
                </mat-form-field>
                <!-- <span class="titulo">Fila</span> -->
                <!-- <input
                  class="imput"
                  matInput
                  type="number"
                  [value]="anomaliaSelect.localY"
                  (change)="updateAnomalia($event.target.value, 'localY')"
                /> -->
                <!-- <span class="titulo">Columna</span>
                <input
                  class="imput"
                  matInput
                  type="number"
                  [value]="anomaliaSelect.localX"
                  (change)="updateAnomalia($event.target.value, 'localX')"
                /> -->
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{ 'Vuelo' | translate }}" *ngIf="seccionVuelo">
          <div class="tab-content">
            <div class="elemento" *ngIf="infoAdicional.vuelo.fecha">
              <span class="titulo">{{ 'Fecha' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.fecha }}</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.hora">
              <span class="titulo">{{ 'Hora' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.hora }}</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.irradiancia">
              <span class="titulo">{{ 'Irradiancia (calculada)' | translate }}(beta)</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.irradiancia | number : '1.0-0' }} W/m<sup>2</sup></span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.emisividad !== undefined">
              <span class="titulo">{{ 'Emisividad' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.emisividad }}</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.tempReflejada !== undefined">
              <span class="titulo">{{ 'Temperatura reflejada' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.tempReflejada }} ºC</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.tempAire !== undefined">
              <span class="titulo">{{ 'Temperatura aire' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.tempAire | number : '1.0-1' }} ºC</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.vientoVelocidad !== undefined">
              <span class="titulo">{{ 'Velocidad viento' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.vientoVelocidad }} (Beaufort)</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.vuelo.vientoDireccion !== undefined">
              <span class="titulo">{{ 'Dirección viento' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.vuelo.vientoDireccion }}º</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="{{ 'Módulo' | translate }}" *ngIf="seccionModulo">
          <div class="tab-content">
            <div class="elemento" *ngIf="infoAdicional.modulo.marcaModulo">
              <span class="titulo">{{ 'Marca módulo' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.modulo.marcaModulo }}</span>
            </div>
            <div class="elemento" *ngIf="infoAdicional.modulo.modeloModulo">
              <span class="titulo">{{ 'Modelo módulo' | translate }}</span>
              <span class="subtitulo">{{ infoAdicional.modulo.modeloModulo }}</span>
            </div>
            <!-- <div class="elemento" *ngIf="infoAdicional.modulo.tipoPanelModulo !== undefined">
            <span class="titulo">Tipo de panel</span>
            <span class="subtitulo">{{ infoAdicional.modulo.tipoPanelModulo }}</span>
          </div> -->
            <div class="elemento" *ngIf="infoAdicional.modulo.potencia">
              <span class="titulo">{{ 'potencia' | translate | titlecase }}</span>
              <span class="subtitulo">{{ infoAdicional.modulo.potencia }} W</span>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="O&M">
          <div class="tab-comments">
            <app-comments [anomalia]="anomaliaSelect"></app-comments>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
