<div class="stats-content">
  <div>
    <h5 class="chart-titulo">{{ 'Desde el punto de vista del MAE' | translate }}</h5>
    <div class="mae-grid">
      <div class="mae-grid-top-row">
        <!-- MAE GLOBAL -->
        <app-chart-mae-global *ngIf="(!sharedReport && portfolioLoaded) || completeView"></app-chart-mae-global>

        <!-- MAE POR ZONAS -->
        <app-chart-mae-zonas
          *ngIf="(thereAreZones && reportControlService.nombreGlobalCoords.length > 0) || completeView"
        ></app-chart-mae-zonas>
      </div>

      <!-- MAE TIPO ANOMALIA -->
      <app-chart-tipo-anoms></app-chart-tipo-anoms>
    </div>
  </div>

  <div *ngIf="thereAreCCs">
    <h5 class="chart-titulo">{{ 'Desde el punto de vista de las Células calientes' | translate }}</h5>
    <div class="cc-grid">
      <!-- MODULOS CON CC -->
      <app-chart-pct-cels *ngIf="loadCCyGradChart"></app-chart-pct-cels>

      <!-- MODULOS CON CC POR GRADIENTE -->
      <app-chart-cels-grad></app-chart-cels-grad>

      <!-- CC POR ZONAS -->
      <app-chart-cels-por-zonas *ngIf="thereAreZones"></app-chart-cels-por-zonas>

      <!-- CC POR ALTURA -->
      <app-chart-altura></app-chart-altura>
    </div>
  </div>
</div>
