<!-- boton para cerrar el sidenav -->
<button mat-icon-button class="btn-close-sidenav-stats close-stats" (click)="closeSidenav()">
  <mat-icon class="close-stats">close</mat-icon>
</button>

<mat-tab-group>
  <mat-tab label="{{ 'MAE' | translate }}">
    <div class="mae-grid">
      <div class="mae-content-izq">
        <!-- MAE GLOBAL -->
        <app-chart-mae-global *ngIf="(!sharedReport && portfolioLoaded) || completeView"></app-chart-mae-global>

        <!-- MAE POR ZONAS -->
        <app-chart-mae-zonas
          *ngIf="(thereAreZones && reportControlService.nombreGlobalCoords.length > 0) || completeView"
        ></app-chart-mae-zonas>
      </div>
      <div>
        <!-- MAE TIPO ANOMALIA -->
        <app-chart-tipo-anoms></app-chart-tipo-anoms>
      </div>
    </div>
  </mat-tab>

  <mat-tab *ngIf="thereAreCCs" class="mat-tab-stats" label="{{ 'Células calientes' | translate }}">
    <div class="cc-grid">
      <div class="cc-content-izq">
        <!-- MODULOS CON CC -->
        <app-chart-pct-cels *ngIf="loadCCyGradChart"></app-chart-pct-cels>

        <!-- CC POR ALTURA -->
        <app-chart-altura></app-chart-altura>
      </div>
      <div class="cc-content-drcha">
        <!-- MODULOS CON CC POR GRADIENTE -->
        <app-chart-cels-grad></app-chart-cels-grad>

        <!-- CC POR ZONAS -->
        <app-chart-cels-por-zonas *ngIf="thereAreZones"></app-chart-cels-por-zonas>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
