<!-- boton para cerrar el sidenav -->
<button mat-icon-button class="btn-close-sidenav-stats close-stats" (click)="closeSidenav()">
  <mat-icon class="close-stats">close</mat-icon>
</button>

<mat-tab-group>
  <mat-tab label="MAE">
    <div class="mae-grid">
      <div class="mae-content-izq">
        <!-- MAE GLOBAL -->
        <app-chart-mae-global *ngIf="!sharedReport && portfolioLoaded"></app-chart-mae-global>

        <!-- MAE POR ZONAS -->
        <app-chart-mae-zonas
          *ngIf="thereAreZones && reportControlService.nombreGlobalCoords.length > 0"
        ></app-chart-mae-zonas>
      </div>
      <div>
        <!-- MAE TIPO ANOMALIA -->
        <app-chart-tipo-anoms></app-chart-tipo-anoms>
      </div>
    </div>
  </mat-tab>

  <mat-tab class="mat-tab-stats" label="Células calientes (CC)">
    <div class="cc-grid">
      <div class="cc-content-izq">
        <!-- MODULOS CON CC -->
        <app-chart-pct-cels *ngIf="loadCCyGradChart"></app-chart-pct-cels>

        <!-- CC POR ALTURA -->
        <app-chart-altura></app-chart-altura>
      </div>
      <div class="cc-content-drcha">
        <!-- MODULOS CON CC POR GRADIENTE -->
        <app-chart-cels-grad></app-chart-cels-grad>

        <!-- CC POR ZONAS -->
        <app-chart-cels-por-zonas *ngIf="thereAreZones"></app-chart-cels-por-zonas>
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab *ngIf="plantaDemo" class="mat-tab-stats" label="TED">
    <ng-template matTabContent>
      <div class="ted-grid">
        <mat-card class="chart-sankey">
          <mat-card-header>
            <mat-card-title>TED Potencia (Diagrama de Evolución Temporal)</mat-card-title>
            <mat-card-subtitle
              >Evolución de las pérdidas de las anomalías con el tiempo. Ayuda a responder qué ocurre con las pérdidas y
              cuándo ocurren.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="ted-sankey-potencia">
              <app-chart-sankey-potencia></app-chart-sankey-potencia>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="chart-sankey">
          <mat-card-header>
            <mat-card-title>TED (Diagrama de Evolución Temporal)</mat-card-title>
            <mat-card-subtitle
              >Evolución de las anomalías con el tiempo. Ayuda a responder qué ocurre con las anomalías y cuándo
              ocurren.</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <div class="ted-sankey">
              <app-chart-sankey></app-chart-sankey>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab> -->
</mat-tab-group>
