.stats-content {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mae-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mae-grid-top-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.chart-titulo {
  margin: 0 0 1rem 1rem;
}

.cc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 800px) {
  .mae-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .cc-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}
