.map {
  height: calc(100vh - 64px);
  width: 100%;
}

.ol-popup {
  position: absolute;
  margin-left: 1rem;
  margin-top: 1rem;
}

::ng-deep .ol-zoom {
  left: unset;
  right: 10px;
  top: unset;
  bottom: 10px;
}

::ng-deep .ol-control {
  background-color: rgba(0, 0, 0, 0.2);
}

::ng-deep .ol-control button {
  background-color: white;
  color: black;
}
