.anomalias-list {
  max-height: calc(100vh - 90px);
  overflow: auto;
}

table {
  width: 500px;
}

:host ::ng-deep .mat-cell {
  padding: 0 1rem 0 0;
}

.mat-row {
  cursor: pointer;
}

.mat-row.selected {
  background-color: lightcoral;
}

.mat-row.hovered {
  background-color: lightgray;
}
