.anomalias-list {
  max-height: calc(100vh - 90px);
  overflow: auto;
}

table {
  width: 500px;
}

.mat-row {
  cursor: pointer;
}

.mat-row.selected {
  background-color: lightgrey;
}

.mat-row.hovered {
  background-color: whitesmoke;
}
