<div *ngIf="serviceInit">
  <app-navbar></app-navbar>
  <div>
    <app-map-classification></app-map-classification>
    <app-thermal-slider></app-thermal-slider>
    <button
      *ngIf="anomsDisconnected.length > 0"
      class="btn-anom-disconnected"
      mat-raised-button
      (click)="deleteDisconnectedAnoms()"
    >
      Eliminar {{ anomsDisconnected.length }} anomalías desconectadas
    </button>
    <div class="btns-anom-no-data">
      <button class="sync-btn" mat-raised-button (click)="syncAnomsState()" matTooltip="Actualizar estado anomalías">
        <mat-icon>sync</mat-icon>
      </button>
      <button
        *ngIf="anomaliasNoData.length === 0 && anomsNoModule.length > 0"
        class="btn-anom-no-data"
        mat-raised-button
        (click)="updateModuleAnoms()"
      >
        {{ anomsNoModule.length }} anomalías sin módulo
      </button>
      <button
        *ngIf="anomaliasNoData.length === 0 && anomsNoGlobals.length > 0"
        class="btn-anom-no-data"
        mat-raised-button
        (click)="updateGlobalCoordsAnoms()"
      >
        {{ anomsNoGlobals.length }} anomalías sin globals
      </button>
      <button
        *ngIf="anomaliasNoData.length > 0"
        class="btn-anom-no-data"
        mat-raised-button
        (click)="updateAnomaliasNoData()"
      >
        {{ anomaliasNoData.length }} anomalías sin datos
      </button>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar__row-top">
      <h4>{{ nombrePlanta }}</h4>
      <div class="bottom-bar__fila-columna" *ngIf="normModHovered">
        <span class="title">Fila:</span>
        <span class="value">{{ normModHovered.fila }}</span>
        <span class="title">Columna:</span>
        <span>{{ normModHovered.columna }}</span>
      </div>
      <span>Eliminar anomalía ( Q )</span>
    </div>
    <app-anom-tipo-control></app-anom-tipo-control>
    <button class="end-process" mat-raised-button color="primary" (click)="endClassification()">
      Terminar clasificación
    </button>
  </div>
</div>

<mat-card class="bar-progress" *ngIf="processing">
  <mat-card-content>
    <h5>Procesando...</h5>

    <section class="example-section">
      <mat-progress-bar [color]="progressBarColor" [mode]="determinate" [value]="progressBarValue"> </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>
