<div *ngIf="serviceInit">
  <app-navbar></app-navbar>
  <div>
    <app-map-classification></app-map-classification>
    <app-thermal-slider></app-thermal-slider>
    <button
      *ngIf="anomsDisconnected.length > 0"
      class="btn-anom-disconnected"
      mat-raised-button
      (click)="deleteDisconnectedAnoms()"
    >
      Eliminar {{ anomsDisconnected.length }} anomalías desconectadas
    </button>
    <div class="btns-anom-no-data">
      <button
        *ngIf="anomaliasNoData.length === 0"
        class="btn-anom-no-data"
        mat-raised-button
        (click)="updateModuleAnoms()"
        [disabled]="numAnomsNoModule === 0"
      >
        {{ numAnomsNoModule }} anomalías sin módulo
      </button>
      <button
        *ngIf="anomaliasNoData.length === 0"
        class="btn-anom-no-data"
        mat-raised-button
        (click)="updateGlobalCoordsAnoms()"
        [disabled]="numAnomsNoGlobals === 0"
      >
        {{ numAnomsNoGlobals }} anomalías sin globals
      </button>
      <button
        class="btn-anom-no-data"
        mat-raised-button
        [disabled]="anomaliasNoData.length === 0"
        (click)="updateAnomaliasNoData()"
      >
        {{ anomaliasNoData.length }} anomalías sin datos
      </button>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="bottom-bar__row-top">
      <h4>{{ nombrePlanta }}</h4>
      <div class="bottom-bar__fila-columna" *ngIf="normModHovered">
        <span class="title">Fila:</span>
        <span class="value">{{ normModHovered.fila }}</span>
        <span class="title">Columna:</span>
        <span>{{ normModHovered.columna }}</span>
      </div>
      <span>Eliminar anomalía ( Q )</span>
    </div>
    <app-anom-tipo-control></app-anom-tipo-control>
    <button class="end-process" mat-raised-button color="primary" (click)="endClassification()">
      Terminar clasificación
    </button>
  </div>
</div>
