<div mat-dialog-title>
  <h3 class="text-center dialog-title">
    Clases de las anomalías
  </h3>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <p>
        Las anomalías detectadas son clasificadas según la norma internacional
        para inspecciones termográficas (IEC-62446-3). Esta clasificación nos
        permite agrupar las anomalías en "Clases de Anomalías (CoA)" según su
        importancia siguiendo el siguiente criterio:
      </p>
      <ul class="lista-coa">
        <li *ngFor="let desc of global.descripcionSeveridad; index as i">
          <div class="circleSeveridad circleSeveridad{{ i + 1 }}"></div>
          {{ desc }}
        </li>
      </ul>

      <p>
        A continuación se detalla qué tipos de anomalías quedan clasificadas
        dentro de cada clase
        <span *ngIf="criterio.nombre !== 'Solardrone'">
          (criterio {{ criterio.nombre }}) </span
        >:
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h4 class="text-center coa1">CoA 1</h4>
      <ul>
        <div
          *ngIf="criterio.critCoA.rangosDT[0] !== criterio.critCoA.rangosDT[1]"
        >
          <li *ngFor="let tipo of categoriasPorGradiente">
            {{ global.labels_tipos[tipo] }}
            ({{ criterio.critCoA.rangosDT[0] }} &lt;= &Delta;T &lt;
            {{ criterio.critCoA.rangosDT[1] }})
          </li>
        </div>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="text-center coa2">
        CoA 2
      </h4>
      <ul>
        <div
          *ngIf="criterio.critCoA.rangosDT[1] !== criterio.critCoA.rangosDT[2]"
        >
          <li *ngFor="let tipo of categoriasPorGradiente">
            {{ global.labels_tipos[tipo] }}
            ({{ criterio.critCoA.rangosDT[1] }} &lt;= &Delta;T &lt;
            {{ criterio.critCoA.rangosDT[2] }})
          </li>
        </div>

        <li *ngFor="let tipo of criterio.critCoA.siempreCoA2">
          {{ global.labels_tipos[tipo] }}
        </li>
      </ul>
    </div>
    <div class="col-4">
      <h4 class="text-center coa3">CoA 3</h4>
      <ul>
        <li *ngFor="let tipo of categoriasPorGradiente">
          {{ global.labels_tipos[tipo] }} (&Delta;T &gt;=
          {{ criterio.critCoA.rangosDT[2] }})
          <span *ngIf="criterio.critCoA.hasOwnProperty('tempCoA3')">
            ó (T &gt;= {{ criterio.critCoA.tempCoA3 }} ºC)
          </span>
        </li>
        <li *ngFor="let tipo of criterio.critCoA.siempreCoA3">
          {{ global.labels_tipos[tipo] }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Notas: '&Delta;T' = gradiente de temperatura normalizado. 'CA' = Circuito
      abierto. 'CC' = cortocircuito.
    </div>
  </div>
</div>

<mat-dialog-actions> </mat-dialog-actions>
