.anomalia-info {
  margin-left: 0.5rem;
}

.info {
  overflow: auto;
  max-height: calc(100vh - 730px);
}

.line-info {
  display: flex;
  margin-top: 0.3rem;
  align-items: flex-start;
}

.subtitle {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.4rem;
}

.subtitle-label {
  font-size: 1.1rem;
  font-weight: 500;
}

.line-content {
  display: flex;
  margin-left: 1rem;
  gap: 1rem;
}

.line-sub-content {
  display: flex;
  gap: 0.5rem;
}

.meteo-content {
  margin-left: 1rem;
  width: max-content;
}

.meteo-two-lines {
  display: grid;
}

.meteo-line {
  display: flex;
  width: max-content;
}

.imput {
  text-align: right;
  background: whitesmoke;
  width: 50px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1px;
  font-weight: 700;
}
