<div class="anomalia-info" *ngIf="anomaliaSelected">
  <h5 class="title">
    Anomalía <b>#{{ anomaliaInfo.localId }}</b>
    <span *ngIf="anomaliaInfo.clase !== undefined" [ngStyle]="{ color: anomaliaInfo.claseColor }">
      ({{ anomaliaInfo.clase }})</span
    >
  </h5>
  <div class="line-info">
    <div
      class="subtitle"
      *ngIf="
        anomaliaInfo.temperaturaMax !== undefined ||
        anomaliaInfo.temperaturaRef !== undefined ||
        anomaliaInfo.gradienteNormalizado !== undefined
      "
    >
      <mat-icon style="color: red">thermostat</mat-icon>
      <span class="subtitle-label">Temperaturas:</span>
    </div>
    <div class="line-content">
      <span *ngIf="anomaliaInfo.temperaturaMax !== undefined"
        >T. Máx: <b>{{ anomaliaInfo.temperaturaMax }}ºC</b></span
      >
      <span *ngIf="anomaliaInfo.temperaturaRef !== undefined" style="color: blue"
        >T. Ref: <b>{{ anomaliaInfo.temperaturaRef }}ºC</b>
      </span>
      <span *ngIf="anomaliaInfo.gradienteNormalizado !== undefined" style="color: red"
        >&Delta;T (norm): <b>+ {{ anomaliaInfo.gradienteNormalizado | number: '1.0-1' }}ºC</b></span
      >
    </div>
  </div>
  <div class="line-info">
    <div class="subtitle">
      <mat-icon style="color: darkorange">flag</mat-icon>
      <span class="subtitle-label">Causa: </span>
    </div>
    <span class="line-content">{{ anomaliaInfo.causa }}</span>
  </div>
  <div class="line-info">
    <div class="subtitle">
      <mat-icon style="color: green">check_circle</mat-icon>
      <span class="subtitle-label">Actuación recomendada: </span>
    </div>
    <span class="line-content">{{ anomaliaInfo.recomendacion }}</span>
  </div>
  <div class="line-info">
    <div class="subtitle">
      <mat-icon style="color: purple">assistant_direction</mat-icon>
      <span class="subtitle-label">Localización: </span>
    </div>
    <div class="line-content">
      <span
        >Fila: <b>{{ anomaliaInfo.fila }}</b></span
      >
      <span
        >Columna: <b>{{ anomaliaInfo.columna }}</b>
      </span>
    </div>
  </div>
  <div class="line-info">
    <div class="subtitle">
      <mat-icon style="color: blue">today</mat-icon>
      <span class="subtitle-label">Fecha de captura: </span>
    </div>
    <span class="line-content">{{ anomaliaInfo.fecha * 1000 | date: 'dd/MM/yyyy HH:mm' }}</span>
  </div>
</div>
