.line-info {
  display: grid;
}

.subtitle-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 500;
}

.line-content {
  margin-left: 2rem;
}
