<mat-sidenav-container class="main-container" [hasBackdrop]="false">
  <!-- SIDENAV FILTROS -->
  <mat-sidenav
    *ngIf="showFilters"
    #sidenavLeft
    [(opened)]="leftOpened"
    class="left-sidenav"
    [fixedInViewport]="true"
    position="start"
    disableClose
  >
    <div class="titulo">
      <h4>Filtros</h4>
    </div>
    <app-filters-panel></app-filters-panel>
  </mat-sidenav>

  <!-- SIDENAV LISTA ANOMALIAS -->
  <mat-sidenav
    #sidenavRight
    [(opened)]="rightOpened"
    class="right-sidenav"
    [fixedInViewport]="true"
    position="end"
    disableClose
  >
    <div class="titulo">
      <h4>Listado de anomalías</h4>
    </div>
    <app-seguidores-list></app-seguidores-list>
  </mat-sidenav>

  <!-- SIDENAV STATS -->
  <!-- <mat-sidenav
    #sidenavStats
    [(opened)]="statsOpened"
    class="stats-sidenav"
    [fixedInViewport]="true"
    position="end"
    disableClose
  >
    <app-planta-stats></app-planta-stats>
  </mat-sidenav> -->

  <mat-sidenav-content>
    <div *ngIf="seguidoresLoaded" class="rel">
      <!-- MAPA -->
      <app-map-seguidores></app-map-seguidores>

      <div *ngIf="seguidoresLoaded">
        <app-view-toggle></app-view-toggle>
        <app-share-map *ngIf="!sharedReport"></app-share-map>
        <app-download-report></app-download-report>
        <app-barra-resumen-planta></app-barra-resumen-planta>
        <div class="map-sliders">
          <app-slider-temporal *ngIf="!sharedReport"></app-slider-temporal>
        </div>
      </div>
    </div>

    <!-- BOTON SIDENAV FILTROS -->
    <div *ngIf="seguidoresLoaded">
      <button *ngIf="showFilters" mat-raised-button class="btn-left" (click)="sidenavLeft.toggle()">
        <mat-icon *ngIf="!leftOpened">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="leftOpened">keyboard_arrow_left</mat-icon>
        <mat-icon>filter_alt</mat-icon>
      </button>

      <!-- BOTON SIDENAV LISTA SEGUIDORES -->
      <button mat-raised-button class="btn-right" (click)="sidenavRight.toggle()">
        <mat-icon>list_alt</mat-icon>
        <mat-icon *ngIf="!rightOpened">keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf="rightOpened">keyboard_arrow_right</mat-icon>
      </button>
      <button
        *ngIf="!sharedReport"
        mat-icon-button
        class="btn-right-stats"
        (click)="sidenavStats.toggle()"
        [class.mat-elevation-z2]="true"
      >
        <mat-icon>query_stats</mat-icon>
        <!-- <mat-icon *ngIf="!statsOpened">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="statsOpened">keyboard_arrow_right</mat-icon> -->
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
