.content {
  width: 100%;
  height: fit-content;
  background-color: green;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.share-btn {
  border-radius: 8px;
  width: fit-content;
  align-self: center;
}

.share-btn-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
