<div class="switch-theme">
  <button
    class="btn-switch"
    *ngIf="!darkMode"
    mat-stroked-button
    (click)="onSetTheme('dark-theme')"
    matTooltip="{{ 'Modo oscuro' | translate }}"
  >
    <div class="btn-content">
      <mat-icon>dark_mode</mat-icon>
      <span class="label">{{ 'Cambiar a modo oscuro' | translate }}</span>
    </div>
  </button>
  <button
    class="btn-switch"
    *ngIf="darkMode"
    mat-stroked-button
    (click)="onSetTheme('light-theme')"
    matTooltip="{{ 'Modo claro' | translate }}"
  >
    <div class="btn-content">
      <mat-icon>light_mode</mat-icon>
      <span class="label">{{ 'Cambiar a modo claro' | translate }}</span>
    </div>
  </button>
</div>
