.map {
  height: calc(100vh - 70px);
  width: 100%;
}

.btn-list {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  height: 60px;
  padding: 0;
  width: 60px;
  min-width: unset !important;
  z-index: 1;
}

/* ocultamos el zoom porque en mobile no se usa */
::ng-deep .ol-zoom {
  display: none;
}

#center-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
