.map {
  height: calc(100vh - 56px);
  width: 100%;
}

.btn-list {
  position: fixed;
  right: 16px;
  top: 72px;
  height: 60px;
  padding: 0;
  width: 60px;
  min-width: unset !important;
  z-index: 1;
}

/* ocultamos el zoom porque en mobile no se usa */
::ng-deep .ol-zoom {
  display: none;
}

#center-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
