<div class="navbar-content">
  <div *ngIf="isReport && loadContent" class="left-content">
    <app-simple-plant-summary></app-simple-plant-summary>
  </div>

  <span class="example-spacer"></span>

  <div class="right-content">
    <!-- MENU ALERTAS INFORME TERMINADO ANTES DE ENTREGAR -->
    <app-warnings-menu *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-warnings-menu>

    <!-- MENU RECALCULAR DATOS EN INFORMES -->
    <app-report-recalc *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-report-recalc>

    <!-- MENU RECALCULAR DATOS EN PORTFOLIO -->
    <!-- <app-portfolio-recalc *ngIf="isAdmin && !isReport && !isDemo"></app-portfolio-recalc> -->

    <!-- NOTIFICACIONES DEL PORTFOLIO -->
    <app-portfolio-notifications *ngIf="loadPortfolioContent && isPortfolio"></app-portfolio-notifications>

    <!-- AVISO DE FILTROS ACTIVOS -->
    <div class="active-filters" *ngIf="activeFilters">
      <mat-icon class="icon-active-filters" >warning</mat-icon>
      <button class="active-filters" mat-button color="primary"> {{ 'Filtros activos' | translate }} </button>
    </div>

    <app-share-plant-container *ngIf="loadContent && !isShared"></app-share-plant-container>

    <!-- FILTROS -->
    <app-filters *ngIf="loadContent && !isShared"></app-filters>

    <!-- MENU DERECHA -->
    <app-right-menu-container></app-right-menu-container>
  </div>
</div>
