<div class="navbar-content">
  <div class="left-content">
    <div id="plant-summary" *ngIf="loadContent && !tipoComentarios">
      <app-plant-summary></app-plant-summary>
    </div>

    <div *ngIf="tipoComentarios">
      <app-simple-plant-summary></app-simple-plant-summary>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="right-content">
    <!-- MENU ALERTAS INFORME TERMINADO ANTES DE ENTREGAR -->
    <app-warnings-menu *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-warnings-menu>

    <!-- MENU RECALCULAR MAE Y CC -->
    <app-report-recalc *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-report-recalc>

    <!-- BOTON NOTIFICACIONES PROVISIONAL -->
    <button class="btn-notif" *ngIf="hasNotifications" mat-icon-button [matMenuTriggerFor]="notifMenu">
      <mat-icon matBadge="{{ notifications.length }}" matBadgeColor="primary">notifications</mat-icon>
    </button>
    <mat-menu class="notif-menu" #notifMenu="matMenu">
      <button mat-menu-item (click)="applyFilter.emit(notification.filter)" *ngFor="let notification of notifications">
        <div class="btn-content">
          <mat-icon class="btn-icon">warning</mat-icon>
          <span class="btn-label">{{ notification.content }}</span>
        </div>
      </button>
    </mat-menu>

    <!-- MENU DERECHA -->
    <app-right-menu-container></app-right-menu-container>
  </div>
</div>
