nav {
  margin-bottom: 1rem;
  box-shadow: 0px 4px 7px #88888826;
}

.example-spacer {
  flex: 1 1 auto;
}

.nb {
  position: relative;
  height: 70px;
  z-index: 999;
  overflow-x: hidden;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-brand-logo {
  display: none;
}

#plant-summary {
  visibility: hidden;
}

@media (max-width: 950px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-logo {
    display: block;
    padding-right: 1.2rem;
  }
}

.right {
  display: flex;
}

.btn-notif {
  margin-right: 1rem;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn-icon {
  color: #b90009;
}

.btn-label {
  font-size: 16px;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}
