.navbar-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 600px) {
  .left-content {
    display: none;
  }

  app-warnings-menu {
    display: none;
  }

  app-report-recalc {
    display: none;
  }

  .btn-notif {
    display: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

@media (max-width: 950px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-logo {
    display: block;
    padding-right: 1.2rem;
  }
}

.btn-notif {
  margin-right: 1rem;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn-icon {
  color: #b90009;
}

.btn-label {
  font-size: 16px;
}


.active-filters {
  display: flex;
  align-items: center;
}

.active-filters mat-icon {
  font-size: 24px;
  height: 24px;
  width: 16px;
  margin-left: 16px;
}

.active-filters button {
  font-size: 18px;
  background: none;
  border: none;
  box-shadow: none;
  pointer-events: none;
}

