<div class="navbar-content">
  <div class="left-content">
    <div id="plant-summary" *ngIf="loadContent && !tipoComentarios">
      <app-plant-summary></app-plant-summary>
    </div>

    <div *ngIf="tipoComentarios">
      <app-simple-plant-summary></app-simple-plant-summary>
    </div>
  </div>

  <span class="example-spacer"></span>

  <div class="right-content">
    <!-- MENU ALERTAS INFORME TERMINADO ANTES DE ENTREGAR -->
    <app-warnings-menu *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-warnings-menu>

    <!-- MENU RECALCULAR DATOS EN INFORMES -->
    <app-report-recalc *ngIf="isAdmin && isReport && loadContent && !isDemo"></app-report-recalc>

    <!-- MENU RECALCULAR DATOS EN PORTFOLIO -->
    <!-- <app-portfolio-recalc *ngIf="isAdmin && !isReport && !isDemo"></app-portfolio-recalc> -->

    <!-- NOTIFICACIONES DEL PORTFOLIO -->
    <app-portfolio-notifications *ngIf="loadPortfolioContent"></app-portfolio-notifications>

    <!-- MENU DERECHA -->
    <app-right-menu-container></app-right-menu-container>
  </div>
</div>
