.navbar-content {
  position: relative;
  display: flex;
  align-items: center;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .left-content {
    display: none;
  }

  app-warnings-menu {
    display: none;
  }

  app-report-recalc {
    display: none;
  }

  .btn-notif {
    display: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

#plant-summary {
  visibility: hidden;
}

@media (max-width: 950px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-logo {
    display: block;
    padding-right: 1.2rem;
  }
}

.btn-notif {
  margin-right: 1rem;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn-icon {
  color: #b90009;
}

.btn-label {
  font-size: 16px;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
}
