.global-areas-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 8px;
  padding-bottom: 0px;
  min-width: 250px;
  box-shadow: none !important;
}

.btn-menu {
  margin-left: 7px;
}

.example-section {
  margin: 5px 15px 0 15px;
}

li {
  list-style-type: none;
}
