<mat-card>
  <mat-card-header>
    <mat-card-title>Céls. calientes por altura</mat-card-title>
    <mat-card-subtitle
      >Si la distribución no es uniforme, puede significar problemas relacionados con vegetación o deposiciones de
      pájaros</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <apx-chart
      *ngIf="dataLoaded"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [title]="chartOptions.title"
      [colors]="chartOptions.colors"
      [yaxis]="chartOptions.yaxis"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </mat-card-content>
</mat-card>
