<div class="imagen-principal">
    <div class="cabecera">
        <img src="assets/images/logo.png" class="logo img-responsive">
    </div>
    <div class="text-container">
        <div class="imagen-text">Termografía del futuro, robustez tradicional</div>
    </div>
</div>


<div class="container seccion">
    <div class="row propuesta-valor">
        <div class="col-xs-12 text-center">
            <h1>Termografía <b>aérea</b> de parques fotovoltaicos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="assets/images/euro.png" alt="" class="img-responsive propuesta-imagen">
            <h3 class="subtitulo text-center"><strong>10 veces más barato</strong><br><span>(respecto al método tradicional)</span></h3>
            <p class="descripcion">
                Ahorra en costes de mantenimiento con una fidelidad y precision <strong>idénticas a la obtenidas a
                pie.</strong>
            </p>

        </div>
        <div class="col-md-4 col-xs-12">
            <img src="assets/images/contrast.png" alt="" class="img-responsive propuesta-imagen">
            <h3 class="subtitulo text-center"><strong>Alto nivel de datalle</strong><br><span>(acorde a la norma IEC 62446-3)</span></h3>
            <p class="descripcion">
                Resolución de las imágenes (térmica y visual) que asegura la detección de <strong>todas</strong> las anomalías térmicas existentes.
            </p>

        </div>
        <div class="col-md-4 col-xs-12">
            <img src="assets/images/informe.png" alt="" class="img-responsive propuesta-imagen">
            <h3 class="subtitulo text-center"><b>Especialistas<br> en termografía aérea</b></h3>
            <p class="descripcion">
                Exclusiva dedicación a la termografía aérea desde hace 4 años, permitiéndonos realizar un trabajo <b>profesional</b> y <b>especializado</b>.
            </p>

        </div>
    </div>
</div>

<div class="seccion oscuro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Nuestro recorrido</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-4 recorrido">
                        <div class="recorrido-titulo">
                            2014
                        </div>
                        <img src="assets/images/premio.jpg" alt="" class="recorrido-imagen">
                        <div class="recorrido-texto">
                            <b>1er premio</b> en el concurso de "Ideas Emprendedoras en el Mundo Rural"
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-4 recorrido">
                        <div class="recorrido-titulo">2015</div>
                        <img src="assets/images/telefonica.jpg" alt="" class="recorrido-imagen text-center">
                        <div class="recorrido-texto">
                            Seleccionados <b>entre más de 900 proyectos</b> para el programa de <b>aceleración</b> Telefónica Agrotech Startup

                        </div>

                    </div>
                    <div class="col-xs-12 col-md-4 recorrido">
                        <div class="recorrido-titulo">
                            2016
                        </div>
                        <img src="assets/images/puesta_a_punto.jpg" alt="" class="recorrido-imagen">
                        <div class="recorrido-texto">
                            Arranque y <b>puesta a punto</b> de la tecnología, volando en decenas de campos para asegurar 100% de fidelidad.
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="recorrido-titulo2">
                            <h3>2017-2018</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="lista-datos">
                            <img src="assets/images/imagen_principal1.jpg" alt="" class=" lista-imagen">
                            <span class="recorrido-texto"><b>Millones</b> de paneles inspeccionadas</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="lista-datos">
                            <img src="assets/images/injuve.jpg" alt="" class="lista-imagen">
                            <span class="lista-texto"><h4><strong>Ganadores</strong> del Certamen Nacional Jóvenes de Emprendedores</h4></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="lista-datos">
                            <img src="assets/images/foto_drone.jpg" alt="" class="lista-imagen">
                            <span class="recorrido-texto"><b>500 MW +</b> inspeccionados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="seccion claro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>¿Cómo son posibles estos precios?</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <p>Nuestra
                            <strong>razón de ser de ser</strong> desde que nacimos es hacer termografía aérea y eso nos ha llevado a
                            <strong>especializarnos</strong> en todo el proceso, agilizando y optimizando costes. Esto nos permite ofrecer un precio por MW <b>inmejorable</b>.
                    </div>
                </div>
            </div>
            <img src="assets/images/imagen_aerea_termica.jpg" alt="" class="img-responsive text-center imagen">

        </div>
    </div>
</div>
<div class="seccion oscuro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>¿Por qué somos tan rápidos?</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <p>
                            Las aeronaves no tripuladas (drones) con cámaras FLIR a bordo analizan parques enteros en cuestión de minutos, recorriendo las instalaciones a una velocidad de unos <b>10 km/h</b> (acorde con la norma IEC).

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="assets/images/drone_desde_suelo.jpg" alt="" class="img-responsive imagen">
            </div>

        </div>
    </div>
</div>

<div class="seccion claro">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 text-center">

                <h2>Especialistas en termografía infrarroja</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <p class="especialistas-texto text-center">Llevamos <strong>4 años</strong> haciendo termografías aéreas. Toda la experiencia obtenida hasta ahora nos ha hecho entender qué información necesitas, de la manera que la necesitas y en el formato más adecuado.</p>
                    </div>
                </div>
                <img src="assets/images/operario.jpg" alt="" class="img-responsive imagen">

            </div>
        </div>
        <div class="row certificados">
            <div class="col-xs-12 col-md-6">
                <h4 class="text-center">Certificado en Termografía infrarroja</h4>
                <img src="assets/images/flir.png" alt="" class="img-responsive img-certificados">
            </div>
            <div class="col-xs-12 col-md-6">
                <h4 class="text-center">Solardrone es un operador certificado por</h4>
                <img src="assets/images/aesa.png" alt="" class="img-responsive img-certificados">
            </div>
        </div>

    </div>
</div>




<div class="apoyo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Con el apoyo de:</h2>
                <h4>A lo largo de nuestro camino hemos recibido el apoyo de las siguientes instituciones y empresas:
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/junta.png" alt="" class="img-responsive img-apoyo">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/avante.jpg" alt="" class="img-responsive img-apoyo">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/telefonica.jpg" alt="" class="img-responsive img-apoyo">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/diputacion.jpg" alt="" class="img-responsive img-apoyo">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/trujillo.gif" alt="" class="img-responsive img-apoyo">
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="assets/images/ceei.jpg" alt="" class="img-responsive img-apoyo">
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3>Contacto</h3>
                <h4> Solardrone</h4>
                <br>Edificio i-Novo
                <br> Avda. Miajadas 32, Trujillo (Cáceres)
                <h5>
                    info@solardrone.es
                </h5>
                <img src="assets/images/europa.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>

</footer>