<div class="imagen-principal">
  <div class="cabecera text-center">
    <img src="assets/images/logo.png" class="logo img-fluid" />
    <a [routerLink]="['clients']"> <span class="acceso-clientes">Acceso clientes </span></a>
  </div>
  <div class="text-container">
    <div class="imagen-text">Termografía del futuro, robustez tradicional</div>
  </div>
</div>

<div class="container seccion">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="titulo-ppal">Termografía <b>aérea</b> de parques fotovoltaicos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-xs-12">
      <div class="text-center">
        <img src="assets/images/euro.png" alt="" class="img-fluid propuesta-imagen" />

        <h3 class="text-center"><strong>10 veces más barato</strong></h3>
        <h4 class="text-center">(respecto al método tradicional)</h4>
        <p>
          Ahorra en costes de mantenimiento con una fidelidad y precision
          <strong>idénticas a la obtenidas a pie.</strong>
        </p>
      </div>
    </div>
    <div class="col-md col-xs-12">
      <div class="text-center">
        <img src="assets/images/contrast.png" alt="" class="img-fluid propuesta-imagen" />

        <h3 class="subtitulo text-center">
          <strong>Alto nivel de detalle</strong>
        </h3>
        <h4 class="text-center">( resolución de 3 cm/pixel)</h4>
        <p>
          Resolución de las imágenes (térmica y visual) que asegura la detección de <strong>todas</strong> las anomalías
          térmicas existentes.
        </p>
      </div>
    </div>
    <div class="col-md col-xs-12">
      <div class="text-center">
        <img src="assets/images/informe.png" alt="" class="img-fluid propuesta-imagen" />

        <h3 class="subtitulo text-center">
          <b
            >Especialistas<br />
            en termografía aérea</b
          >
        </h3>
        <p>
          Exclusiva dedicación a la termografía aérea desde hace 4 años, permitiéndonos realizar un trabajo
          <b>profesional</b> y <b>especializado</b>.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="seccion oscuro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Nuestro recorrido</h2>
        <div class="row">
          <div class="col-xs-12 col-md-4 recorrido">
            <div class="recorrido-titulo">
              2014
            </div>
            <img src="assets/images/premio.jpg" alt="" class="recorrido-imagen" />
            <p class="recorrido-texto"><b>1er premio</b> en el concurso de "Ideas Emprendedoras en el Mundo Rural"</p>
          </div>
          <div class="col-xs-12 col-md-4 recorrido">
            <div class="recorrido-titulo">2015</div>
            <img src="assets/images/telefonica.jpg" alt="" class="recorrido-imagen text-center" />
            <p class="recorrido-texto">
              Seleccionados <b>entre más de 900 proyectos</b> para Telefónica Agrotech Startup
            </p>
          </div>
          <div class="col-xs-12 col-md-4 recorrido">
            <div class="recorrido-titulo text-center">
              2016
            </div>
            <img src="assets/images/puesta_a_punto.jpg" alt="" class="recorrido-imagen" />
            <p class="recorrido-texto">
              Arranque y <b>puesta a punto</b> de la tecnología, volando en decenas de campos para asegurar 100% de
              fidelidad.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class="recorrido-titulo2 text-center">2017-2018</h3>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="lista-datos">
              <img src="assets/images/imagen_principal1.jpg" alt="" class="lista-imagen" />
              <p class="recorrido-texto"><b>Millones</b> de paneles inspeccionadas</p>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="lista-datos">
              <img src="assets/images/injuve.jpg" alt="" class="lista-imagen" />
              <span class="lista-texto"
                ><h4><strong>Ganadores</strong> del Certamen Nacional Jóvenes de Emprendedores</h4></span
              >
            </div>
          </div>
          <div class="col col-md-4">
            <div class="lista-datos">
              <img src="assets/images/foto_drone.jpg" alt="" class="lista-imagen" />
              <p class="recorrido-texto"><b>500 MW +</b> inspeccionados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="seccion claro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>¿Cómo son posibles estos precios?</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                        <p>Nuestra
                            <strong>razón de ser de ser</strong> desde que nacimos es hacer termografía aérea y eso nos ha llevado a
                            <strong>especializarnos</strong> en todo el proceso, agilizando y optimizando costes. Esto nos permite ofrecer un precio por MW <b>inmejorable</b>.
                    </div>
                </div>
            </div>
            <img src="assets/images/imagen_aerea_termica.jpg" alt="" class="img-fluid text-center imagen">

        </div>
    </div>
</div> -->
<div class="seccion oscuro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>¿Por qué somos tan rápidos?</h2>
        <div class="row">
          <div class="col text-center">
            <p class="text-center">
              Las aeronaves no tripuladas (drones) con cámaras FLIR a bordo analizan parques enteros en cuestión de
              minutos, recorriendo las instalaciones a una velocidad que garantiza una calidad
              <b>óptima</b> de las imágenes.
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <img src="assets/images/drone_desde_suelo.jpg" alt="" class="img-fluid imagen" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="seccion claro">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Especialistas en termografía infrarroja</h2>
        <div class="row">
          <div class="col text-center">
            <p class="especialistas-texto text-center">
              Llevamos <strong>4 años</strong> haciendo termografías aéreas. Toda la experiencia obtenida hasta ahora
              nos ha hecho entender qué información necesitas, de la manera que la necesitas y en el formato más
              adecuado.
            </p>
          </div>
        </div>
        <img src="assets/images/operario.jpg" alt="" class="img-fluid imagen" />
      </div>
    </div>
    <div class="row certificados">
      <div class="col col-md-6">
        <h4 class="text-center">Certificado en Termografía infrarroja</h4>
        <div class="text-center">
          <img src="assets/images/flir.png" alt="" class="img-fluid img-certificados" />
        </div>
      </div>
      <div class="col col-md-6">
        <h4 class="text-center">Solardrone es un operador certificado por</h4>
        <div class="text-center">
          <img src="assets/images/aesa.png" alt="" class="img-fluid img-certificados" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="apoyo">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Con el apoyo de:</h2>
        <h4 class="text-center">
          A lo largo de nuestro camino hemos recibido el apoyo de las siguientes instituciones y empresas:
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/junta.png" alt="" class="img-fluid img-apoyo" />
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/avante.jpg" alt="" class="img-fluid img-apoyo" />
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/telefonica.jpg" alt="" class="img-fluid img-apoyo" />
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/diputacion.jpg" alt="" class="img-fluid img-apoyo" />
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/trujillo.gif" alt="" class="img-fluid img-apoyo" />
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <img src="assets/images/ceei.jpg" alt="" class="img-fluid img-apoyo" />
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center">Contacto</h3>
        <h4 class="text-center">Solardrone</h4>
        <p class="text-center">
          <br />Edificio i-Novo <br />
          Avda. Miajadas 32, Trujillo (Cáceres)
        </p>
        <h5 class="text-center">
          (+34) 628 635 268
        </h5>
        <h6 class="text-center">
          <a routerLink="/aviso-legal">Aviso legal</a>
        </h6>
        <h6 class="text-center">
          <a routerLink="/aviso-legal">Política de privacidad</a>
        </h6>

        <div class="text-center">
          <img src="assets/images/europa.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</footer>
