<button (click)="downloadPDF0()">Generar PDF</button>
<div id="pdfContent" class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Análisis termográfico aéreo de módulos fotovoltaicos</h1>
            <div class="text-center">
                <img id="imgPortada" class="img-fluid" src="{{portadaImg$ | async}}" alt="">
                <img *ngIf="imgPortada === null" class="img-fluid" src="../../../assets/images/portada.jpg" alt="">
            </div>

            <h5 class="text-right">Planta solar: {{planta.nombre}} ({{planta.potencia}} MW - {{planta.tipo}})</h5>
            <h5 class="html2pdf__page-break text-right">Fecha del vuelo: {{informe.fecha * 1000 | date: 'dd/MM/y' }} </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>1. Introducción</h3>
            <p>
                Este documento contiene los resultados de la inspección termográfica realizada en la planta solar fotovoltaica de {{planta.nombre}} de {{planta.potencia}} MW ({{planta.tipo}}). </p>
            <p>
                La inspección ha sido realizada mediante vehículos aéreos no tripulados operados y diseñados a tal efecto por Solardrone.
            </p>

            <p>
                Las inspecciones termográficas en instalaciones solares fotovoltaicas forman parte del mantenimiento preventivo recomendado para este tipo de instalaciones y tiene como objetivo anticiparse a aquellos problemas en los paneles que no son detectables fácilmente
                de otra manera.
            </p>

            <p>
                Es importante que este mantenimiento sea llevado a cabo por profesionales, ya que una termografía mal realizada durante varios años puede afectar al estado general de la planta. El equipo de Solardrone cuenta con personal formado en Termografía Infrarroja
                Nivel 1.
            </p>

            <p>
                Entre las ventajas de realizar termografía infrarroja de manera regular por profesionales, permite aumentar la eficiencia de la planta (performance ratio), evitar reparaciones más costosas, aumentar la vida útil de los equipos, detectar problemas relacionados
                con distintos fabricantes de paneles, problemas de conexión entre módulos… entre una larga lista de ventajas.
            </p>

            <p>
                Solardrone utiliza la más avanzada tecnología al servicio de la fotovoltaica con el fin de reducir al mínimo el tiempo y el coste de operación sin renunciar a la más alta calidad y fiabilidad.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>1.1 Criterios de operación</h4>
            <p>
                El <b>criterio</b> base que Solardrone sigue para realizar inspecciones termográficas es la norma internacional para inspecciones termográficas <b>IEC 62446-3</b>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <h4>1.2 Datos del vuelo</h4>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" colspan="2">Vehículo aéreo no tripulado</th>
                    </tr>
                    <tr>
                        <th scope="row">Modelo</th>
                        <td>{{global.uav}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cámara térmica</th>
                        <td>{{global.camaraTermica}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Última calibración</th>
                        <td>{{global.ultimaCalibracion}}</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="2">Datos del vuelo</th>
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{informe.fecha * 1000 | date: 'dd/MM/y' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Horario de los vuelos</th>
                        <td>{{informe.hora_inicio}} - {{informe.hora_fin}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Velocidad</th>
                        <td>{{informe.velocidad}} km/h</td>
                    </tr>
                    <tr>
                        <th scope="row">GSD térmico</th>
                        <td>{{informe.gsd | number: '1.1'}} cm/pixel</td>
                    </tr>
                    <tr>
                        <th scope="row">GSD visual</th>
                        <td>{{informe.gsd / 25 | number: '1.1'}} cm/pixel</td>
                    </tr>
                    <tr>
                        <th class="text-center" colspan="2">Datos meteorológicos</th>
                    </tr>
                    <tr>
                        <th scope="row">Irradiancia</th>
                        <td> > {{irradianciaMinima}} W/m<sup>2</sup> (correcta según norma IEC 62446-3)</td>
                    </tr>
                    <tr>
                        <th scope="row">Temperatura</th>
                        <td>{{informe.temperatura}} ºC</td>
                    </tr>
                    <tr>
                        <th scope="row">Nubosidad</th>
                        <td>{{informe.nubosidad}} okta</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>1.3 Irradiancia durante el vuelo</h4>

            <p *ngIf="informe.irradiancia === 0">
                Los datos de irradiancia durante el vuelo han sido obtenidos de la estación meteorológica de la propia planta de {{planta.nombre}}, los cuales han sido suministrados a nuestro software para ser emparejados con las imágenes termográficas tomadas desde
                el aire, de manera que cada imagen tiene una irradiancia asociada. Dicha irradiancia es la más cercana en el tiempo de las registradas.
            </p>
            <p *ngIf="informe.irradiancia !== 0">
                Los datos de irradiancia durante el vuelo han sido obtenidos de los instrumentos de medición que Solardrone ha llevado a planta, los cuales han sido suministrados a nuestro software para ser emparejados con las imágenes termográficas tomadas desde el
                aire, de manera que cada imagen tiene una irradiancia asociada. Dicha irradiancia es la más cercana en el tiempo de las registradas.
            </p>
            <div class="text-center">
                <img id="imgIrradiancia" class="img-fluid rounded" src="{{irradianciaImg$ | async}}" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>1.4 Ajuste de parámetros térmicos</h4>
            <p>
                Con el fin de obtener medidas de temperaturas absolutas fiables, es necesario tener en cuenta distintas variables térmicas que afectan directamente al resultado de las medidas obtenidas por las cámaras. Las más importantes son la <b>emisividad</b>                y la <b>temperatura reflejada</b>.
            </p>
            <h5>1.4.1 Emisividad</h5>
            <p>
                La emisividad del material se mide de manera experimental en le campo. La emisivdad del mismo depende del tipo de vidrio de los paneles y de la suciedad que tengan. La emisividad escogida por el termógrafo tras el ensayo experimental es de:
            </p>
            <div class="text-center">
                <span class="text-center"><strong>Emisividad = {{emisividad}}</strong></span>
            </div>
            <img id="imgSuciedad" class="img-fluid rounded" src="{{suciedadImg$ | async}}" alt="">


            <h5>1.4.2 Temperatura reflejada</h5>
            <p>
                La temperatura reflejada nos depende de la atmosfera y las condiciones meteorológicas del día del vuelo. Para obtener este parámetro es necesario llevar a cabo un procedimiento de medición adecuado en la misma planta el mismo día del vuelo. La temperatura
                reflejada medida es:
            </p>

            <div class="text-center">
                <span class="text-center"><strong>Temperatura reflejada = {{tempReflejada}} ºC</strong></span>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>1.5 Pérdida de Performance Ratio (ΔPR)</h4>

            <p>
                El coeficiente de rendimiento de sistemas fotovoltaicos o Performance Ratio es un parámetro que tuvo su origen conceptual en la norma IES 61724 (1998) para ser utilizado como indicador de calidad en la evaluación de sistemas fotovoltaicos.
            </p>

            <p>
                Este parámetro se utiliza para medir el rendimiento de cualquier sistema fotovoltaico. En otras palabras, si queremos saber si un módulo está generando la energía que debería bastaría con conocer su PR. No podemos conocer el PR de cada módulo con una
                termografía, pero lo que sí podemos conocer es la pérdida de PR (ΔPR) producida por anomalía térmica respecto a sus condiciones ideales. Es decir, un módulo con un punto caliente que causa una ΔPR = -1% tiene menos importancia que una
                anomalía que causa una ΔPR = -33%, el cual está haciendo caer la producción eléctrica del módulo en un 33%.
            </p>

            <p>
                La pérdida de PR nos indica, por tanto, lo perjudicial que es una anomalía térmica, identificando explícitamente los puntos sobre los que se debe actuar para optimizar la producción eléctrica. Es un parámetro indispensable en el diagnóstico termográfico
                de una instalación fotovoltaica, ya que nos permite tomar decisiones en base a un dato técnico-económico objetivo.
            </p>

            <p>
                Para poder evaluar la planta utilizaremos los siguientes dos sencillos conceptos:
            </p>

            <h5><u> Pérdidas de performance ratio (ΔPR)</u></h5>

            <p>
                Cada incidencia tiene una variación de performance ratio asociado. Por ejemplo, un diodo bypass cortocircuitado produce un 33% de pérdidas en el módulo (ΔPR=33%), mientras que un punto caliente aislado produce de media &lt 5% de pérdidas.
            </p>

            <h5><u> Módulos apagados equivalentes</u></h5>

            <p>
                El concepto “módulos apagados equivalentes” es la cantidad equivalente de módulos que no generan energía debido a las incidencias registradas en la planta. Por ejemplo, si tenemos tres módulos idénticos con un defecto en un diodo bypass cada uno, cada
                módulo genera un 33% menos de energía. Entonces, el número de módulos apagados equivalentes es 1.
            </p>

            <p>
                Uniendo los dos conceptos anteriores, se puede hacer una estimación “grosso modo” de la variación de PR de la planta de la siguiente manera:
            </p>

            <div class="text-center">
                <img class="img-fluid" src="../../../assets/images/formula_mae.png" alt="">
            </div>

            <p>
                Siendo N = Número de módulos; PR = Performance ratio; MAE = Módulos apagados equivalente calculados
            </p>

            <p>
                Por lo tanto, sabiendo el MAE sabremos cuánto PR estamos perdiendo debido a las incidencias encontradas.
            </p>
            <p>
                El objetivo será obtener un MAE bajo, lo cual nos indicará un correcto mantenimiento de la planta.
            </p>
            <p>
                Teniendo en cuenta todas las plantas fotovoltaicas inspeccionadas por Solardrone, se puede hacer una clasificación estadística según el MAE. Según la siguiente tabla, podemos clasificar el mantenimiento de una planta en 3 tipos: muy bueno (por debajo
                de la media), correcto (en la media) y 'mejorable' (por encima de la media):
            </p>
            <div class="text-center">
                <img class="img-fluid" src="../../../assets/images/maeCurva.png" alt="">
            </div>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">%MAE de la planta</th>
                        <th scope="col">Mantenimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: rgb(85, 156, 85)">
                        <th scope="row">
                            < {{global.mae[0]}}%</th>
                                <td>Muy bueno</td>

                    </tr>
                    <tr style="color: rgb(0, 132, 255)">
                        <th scope="row">{{global.mae[0]}}% - {{global.mae[1]}}%</th>
                        <td>Correcto</td>

                    </tr>
                    <tr style="color: rgb(255, 136, 0)">
                        <th scope="row">> {{global.mae[1]}}%</th>
                        <td>Mejorable</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>1.6 Clasificación de las anomalías</h4>

            <p>
                Según la norma UNE-62446-3 de inspección termográfica de instalaciones fotovoltaicas, las anomalías termográficas se clasifican en tres clases o CoA (Class of Abnormalitys):
            </p>
            <ul>
                <li><b>CoA 1 - sin anomalía</b>: hacemos seguimiento, pero no hay que actuar.</li>
                <li><b style="color: orange">CoA 2 - anomalía térmica</b>: ver la causa y, si es necesario, arreglar en un periodo razonable.</li>
                <li><b style="color:red">CoA 3 - anomalía térmica relevante para la seguridad</b>: próxima interrupción de la operación normal del módulo, detectar la causa y rectificar en un periodo razonable.</li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>1.7 Cómo localizar las incidencias</h4>

            <p>
                Todas las incidencias tienen asociada una localización GPS, cuyo margen de error es de unos pocos metros (0-2 metros). </p>
            <p *ngIf="planta.tipo === '2 ejes'">
                Además todos ellos tienen asociado los parámetros seguidor”, “fila” y “columna” según el mapa habitual de la planta. Las filas y las columnas tienen origen en la esquina superior izquierda del seguidor.
            </p>
            <p *ngIf="planta.tipo === 'fija'">
                Además todos ellos tienen asociado los parámetros "pasillo", "columna" y "altura" según el mapa habitual de la planta.
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>2. Resultados de la inspección termográfica</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <h4>2.1 Clasificación de incidencias por clase (CoA)</h4>
            <p>
                A continuación se detallan la cantidad de incidencias registradas según su clase (1, 2 ó 3).
            </p>
            <p>
                Se han registrado en total <b>{{countClase[1] + countClase[2]}} anomalías térmicas</b>, de las cuales <b>{{countClase[1]}}</b> son de <strong style="color:orange">clase 2</strong> y <b>{{countClase[2]}}</b> son de <strong style="color:red">clase 3</strong>.
            </p>
            <p>
                Además, se han registrado {{countClase[0]}} incidencias de clase 1 (sin anomalía), con el fin de realizar un seguimiento a lo largo del tiempo de las mismas.
            </p>

        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <h4>2.2 Anomalías térmicas por categoría</h4>

            <!-- <p-chart style="width: 600px" id="chart1" type="bar" [data]="dataTipos"></p-chart>

            <p-chart id="chart2" type="doughnut" [data]="dataSeveridad"></p-chart> -->

            <p>
                La siguiente tabla muestra la cantidad de anomalías térmicas por categoría. Sólo se incluyen las anomalías térmicas de clase 2 y 3.
            </p>
            <table class="table table-striped" *ngIf="numCategorias">
                <thead class="thead-dark">
                    <tr>
                        <th>Categoría</th>
                        <th>Cantidad</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tr *ngFor="let i of numCategorias">
                    <td *ngIf="countCategoria[i-1] > 0">{{global.pcDescripcion[i]}}</td>
                    <td *ngIf="countCategoria[i-1] > 0">{{countCategoria[i-1]}}</td>
                    <td *ngIf="countCategoria[i-1] > 0">{{countCategoria[i-1]/allPcs.length*100 | number: '1.0-1'}} %</td>
                </tr>
                <tr>

                    <td><b>TOTAL: </b></td>
                    <td>{{countClase[1] + countClase[2]}}</td>
                    <td>100 %</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>2.3 Anomalías térmicas por posición dentro del seguidor</h4>
            <p>
                Esta clasificación tiene como fin detectar posibles problemas relacionados con la posición de cada módulo. De este análisis se obtienen problemas relacionados con la vegetación de la instalación, por ejemplo.
            </p>
            <p>
                Los números de la siguiente tabla indican la cantidad de anomalías térmicas registradas en la posición en la que se encuentran (fila y columna) dentro de cada seguidor. Sólo se incluyen anomalías térmicas de clase 2 y 3.
            </p>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col" *ngFor="let col of arrayColumnas">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of arrayFilas">
                        <th scope="row">{{fila}}</th>
                        <td *ngFor="let num of countPosicion[fila-1]">{{num}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h4>2.4 MAE de la planta</h4>
            <p>
                El MAE (módulo apagados equivalentes) nos da medida cualitativa del impacto que tienen las incidencias registradas en el PR (performance ratio) de la planta.
            </p>
            <div class="text-center">
                <h5> MAE = ∆PR / PR = {{informe.mae}} %</h5>
            </div>
            <p>
                El MAE de {{planta.nombre}} en {{informe.fecha | date: 'dd/MM/y'}} es <b>{{informe.mae}} %</b>, lo que nos indica un MAE <b>{{calificacionMae(informe.mae) }}</b>.
            </p>

            <p>
                Nuestro objetivo será siempre reducir el MAE, llevando a cabo las actuaciones recomendadas.
            </p>


        </div>
    </div>


    <span class="html2pdf__page-break">.</span>

    <div class="row">
        <div class="col-12">
            <h1>Anexo I: Listado de anomalías térmicas</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#ID</th>
                        <th>Clase</th>
                        <th>Categoría</th>
                        <th *ngIf="planta.tipo === '2 ejes'">Seguidor</th>
                        <th *ngIf="planta.tipo === '2 ejes'">Fila</th>
                        <th *ngIf="planta.tipo === 'fija' || planta.tipo === '1 eje'">Pasillo</th>
                        <th *ngIf="planta.tipo === 'fija' || planta.tipo === '1 eje'">Altura</th>
                        <th>Columna</th>
                        <th>Gradiente (normalizado)</th>
                        <th>Archivo</th>
                    </tr>
                </thead>
                <tr *ngFor="let pc of allPcs">
                    <td>{{pc.local_id}}</td>
                    <td>CoA {{pc.severidad}}</td>
                    <td>{{global.pcDescripcion[pc.tipo]}}</td>
                    <td>{{pc.global_x}}</td>
                    <td>{{pc.local_y}}</td>
                    <td>{{pc.local_x}}</td>
                    <td>+ {{pc.gradienteNormalizado}} ºC</td>
                    <td>{{pc.archivoPublico}}</td>

                </tr>
            </table>
        </div>
    </div>

    <span class="html2pdf__page-break">.</span>