<!-- <span id="tooltip"> {{tooltip_temp}} </span> -->
<!--   (dblclick)="onDblClickCanvas($event)"
  (mouseup)="onMouseUpCanvas($event)"
  (mousemove)="onMouseMoveCanvas($event)"
  (click)="onClickBuildEstructura($event)" -->
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
        {{ alertMessage }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <canvas
        (dblclick)="onDblClickCanvas($event)"
        class="imagen-termica"
        id="mainCanvas"
        width="640"
        height="512"
      ></canvas>
    </div>
  </div>
  <div class="row" *ngIf="estructura">
    <div class="col-9 propiedadesEstructura">
      <div class="row">
        <div class="col-6">
          <i class="fas fa-arrows-alt-v"></i>

          <input
            [(ngModel)]="estructura.filas"
            type="number"
            id="filasEstructura"
            (change)="updateEstructura(true)"
            maxlength="2"
            class="estSize"
            min="1"
          />
          <span> Fila inicio</span>
          <input
            [(ngModel)]="estructura.filaInicio"
            type="number"
            id="filaInicioEstructura"
            (change)="updateEstructura()"
            maxlength="2"
            size="3"
            class="inputInicio"
            min="1"
          />
        </div>
        <div class="col-3">
          <button mat-raised-button color="warn" *ngIf="estructura" (click)="deleteEstructura(estructura)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <i class="fas fa-arrows-alt-h"></i>

          <input
            [(ngModel)]="estructura.columnas"
            type="number"
            id="columnasEstructura"
            (change)="updateEstructura(true)"
            maxlength="2"
            class="estSize"
          />
          <span> Col. inicio</span>
          <input
            [(ngModel)]="estructura.columnaInicio"
            type="number"
            id="columnaInicioEstructura"
            (change)="updateEstructura()"
            maxlength="4"
            size="6"
            class="inputInicio"
          />
          <mat-checkbox (change)="updateEstructura(true)" [(ngModel)]="estructura.sentido">{{
            estructura.sentido ? 'dcha->izq' : 'izq->drcha'
          }}</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label *ngFor="let gc of global.globalCoordsEstructura">
            G_<b>{{ gc }}: </b>
            <input
              [(ngModel)]="estructura.globalCoords[gc]"
              id="global{{ gc }}"
              (change)="updateEstructura()"
              maxlength="4"
              size="4"
              class="inputInicio"
              disabled
            />
          </label>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>
    </div>
  </div>
  <div></div>
</div>
