<div class="content">
  <span class="title">{{ 'Compartir informe' | translate }}</span>
  <mat-checkbox id="version_tecnicos_campo" class="editable-check" [(ngModel)]="versionTecnicos">{{
    'version tecnicos campo' | translate
  }}</mat-checkbox>
  <mat-checkbox class="editable-check" [(ngModel)]="onlyFiltered">{{
    'Solo anomalías filtradas' | translate
  }}</mat-checkbox>
  <button id="copiar_enlace_button" mat-raised-button mat-dialog-close class="btn-enviar" color="primary" (click)="copyLink()">
    <div id="copiar_enlace_div" class="btn-enviar-content">
      <mat-icon id="copiar_enlace_icon">link</mat-icon>
      <span id="copiar_enlace_text">{{ 'Copiar enlace' | translate }}</span>
    </div>
  </button>
</div>
