.resumen {
  display: flex;
  position: fixed;
  top: 20px;
}

.grupo1 {
  display: flex;
  width: max-content;
  align-items: center;
}

.grupo1 mat-icon {
  margin-right: 0.5rem;
}

.titulo {
  margin-right: 1rem;
}

.subtitulo {
  margin-right: 1em;
  font-weight: 400;
}

.grupo2 {
  display: flex;
  align-self: center;
  cursor: pointer;
  color: grey;
  vertical-align: middle;
  margin-right: 15px;
}

.menu-grupo2 .subtitulo {
  font-weight: 300;
  font-size: 1.1rem;
}

.menu-grupo2 mat-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.menu-grupo2 .elemento {
  display: flex;
  margin-left: 1rem;
}

.grupo3 {
  display: inline-flex;
  width: max-content;
}

.grupo3 .elemento {
  display: inline-flex;
  margin-left: 1.3rem;
  align-items: center;
}

.grupo3 .subtitulo {
  margin-right: 0.3rem;
}

.success {
  color: green;
}

.help {
  cursor: pointer;
  margin-right: 0.5rem;
}

@media (max-width: 730px) {
  .grupo3 {
    display: none;
  }

  .resumen {
    grid-template-columns: 92% 8%;
  }
}

@media (max-width: 450px) {
  /* .navbar-brand-logo {
    display: none;
  } */
  .resumen {
    top: 2px;
  }

  .grupo1 {
    display: grid;
  }

  .grupo1 mat-icon {
    display: none;
  }

  .titulo {
    margin-right: 0px;
  }
}
