<div *ngIf="informe$ | async" class="resumen">
  <div class="grupo1">
    <mat-icon color="primary">home</mat-icon>
    <h5 class="titulo">
      {{ nombrePlanta }}
      <span class="subtitulo">({{ potenciaPlanta | number: '1.0-0' }} MW / {{ tipoPlanta }})</span>
    </h5>
  </div>
  <div class="grupo2" [matMenuTriggerFor]="menu" matTooltip="Datos vuelo">
    <mat-icon>info</mat-icon>
    <mat-menu #menu="matMenu" class="menu">
      <div class="menu-grupo2">
        <div class="elemento">
          <h5>Datos del vuelo</h5>
        </div>
        <div class="elemento">
          <mat-icon color="secondary">today</mat-icon>
          <h5 class="subtitulo">{{ informe.fecha * 1000 | date: 'dd/MM/yyyy' }}</h5>
        </div>
        <div *ngIf="informe.irradiancia !== undefined" class="elemento">
          <mat-icon color="secondary">wb_sunny</mat-icon>
          <h5 class="subtitulo">{{ informe.irradiancia | number: '1.0-0' }} W/m<sup>2</sup></h5>
        </div>
        <div class="elemento">
          <mat-icon color="secondary">cloud_queue</mat-icon>
          <h5 class="subtitulo">{{ informe.nubosidad | number: '1.0-0' }}/8 octavas</h5>
        </div>
        <div class="elemento">
          <mat-icon color="secondary">window</mat-icon>
          <h5 class="subtitulo">{{ informe.gsd | number: '1.0-0' }} &plusmn; 0.5 cm/pixel</h5>
        </div>
        <div *ngIf="informe.vientoDireccion !== undefined" class="elemento">
          <mat-icon color="secondary">east</mat-icon>
          <h5 class="subtitulo">{{ informe.vientoDireccion }}º</h5>
        </div>
        <div *ngIf="informe.vientoVelocidad !== undefined" class="elemento">
          <mat-icon color="secondary">air</mat-icon>
          <h5 class="subtitulo">{{ informe.vientoVelocidad }} (Beaufort)</h5>
        </div>
        <div
          *ngIf="
            informe.vientoVelocidad === undefined &&
            informe.vientoDireccion === undefined &&
            informe.viento !== undefined
          "
          class="elemento"
        >
          <mat-icon color="secondary">air</mat-icon>
          <h5 class="subtitulo">{{ informe.viento }} (Beaufort)</h5>
        </div>
      </div>
    </mat-menu>
  </div>
  <div class="grupo3">
    <div class="elemento">
      <mat-icon
        class="help"
        matTooltip="Módulos Apagados Equivalentes. Cada anomalía térmica detectada tiene una pérdida de energía asociada. El MAE cuantifica la suma de estas pérdidas acumuladas en la planta"
        >help_outline</mat-icon
      >
      <span class="subtitulo">MAE</span>
      <span>{{ informe.mae | number: '1.0-2' }}%</span>
      <!-- <mat-icon *ngIf="informe.mae > 0.1" color="primary">arrow_circle_up</mat-icon> -->
    </div>
    <div class="elemento">
      <mat-icon class="help" matTooltip="Porcentaje de módulos que tienen células calientes en la planta."
        >help_outline</mat-icon
      >
      <span class="subtitulo">CC</span>
      <span>{{ informe.cc | number: '1.0-2' }}%</span>
      <!-- <mat-icon *ngIf="informe.cc < 3" class="success">arrow_circle_down</mat-icon> -->
    </div>
  </div>
</div>
