<div class="content">
  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="setTipoComentario($event)">
    <mat-tab label="Comentarios">
      <div class="tab-content">
        <div id="comentarios-list" class="comentarios-list">
          <div class="comentarios">
            <div *ngFor="let comAnom of comentariosAnom">
              <app-comment [comentario]="comAnom"></app-comment>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Curva IV">
      <div class="tab-content">
        <div class="comentarios">
          <div *ngFor="let comIV of comentariosIV">
            <app-comment [comentario]="comIV"></app-comment>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <form class="example-form" [formGroup]="form" (ngSubmit)="sendMessage($event)">
    <mat-form-field class="send-input" appearance="outline">
      <mat-label>Comentario</mat-label>
      <input matInput placeholder="Comentario" formControlName="texto" autocomplete="off" />
      <button mat-icon-button matSuffix type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
