<div class="filtro">
  <h5>Tipo</h5>
  <button class="tipo-select" mat-stroked-button [matMenuTriggerFor]="menu">
    <span *ngIf="defaultLabelStatus" class="filter-default">{{ defaultSelectLabel }}</span>
    <span *ngIf="!defaultLabelStatus" class="filter-selected">{{ selectedLabels.toString() }}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu class="menu-tipo" #menu="matMenu">
    <div class="grid">
      <div class="labels-tipo">
        <li *ngFor="let tipo of tiposPcs; index as i" (click)="stopPropagation($event)">
          <mat-checkbox
            [(ngModel)]="tipo.completed"
            [id]="'tipo_' + (i + 1)"
            [name]="tipo.label"
            (change)="onChangeFiltroTipo($event)"
          >
            <div class="label-tipo">
              <mat-icon [ngStyle]="{ color: tipo.color }" class="icon">crop_16_9</mat-icon>
              <span style="font-size: 15px">
                {{ tipo.label }}
              </span>
            </div>
          </mat-checkbox>
        </li>
      </div>
      <div class="counts-tipo">
        <li *ngFor="let count of filterTipoCounts">
          <span style="font-size: 13px">{{ count }}</span>
        </li>
      </div>
    </div>
  </mat-menu>
</div>
