<div class="filtro">
  <h5>Tipo</h5>
  <button class="tipo-select" mat-stroked-button [matMenuTriggerFor]="menu">
    <span *ngIf="defaultStatus" class="filter-default">{{ defaultSelect }}</span>
    <span *ngIf="!defaultStatus" class="filter-selected">{{ selected.toString() }}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <li *ngFor="let tipo of tiposPcs; index as i" (click)="stopPropagation($event)">
      <mat-checkbox
        [(ngModel)]="tipo.completed"
        [id]="'tipo_' + (i + 1)"
        [name]="tipo.label"
        (change)="onChangeFiltroTipo($event)"
      >
        <span style="font-size: 15px">
          {{ tipo.label }}
        </span>
        <span class="count" style="font-size: 13px">{{ tipo.count }}</span>
      </mat-checkbox>
    </li>
  </mat-menu>
</div>
