<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="logo">
      <app-sd-logo></app-sd-logo>
    </mat-toolbar>
    <mat-nav-list class="list-items">
      <div class="top-items">
        <a *ngIf="!isShared && !isPortfolio" mat-list-item (click)="navigateTo('analysis')">
          <div *ngIf="itemSelected === 'analysis'" class="item-content" [ngStyle]="{ color: itemColor }">
            <mat-icon>query_stats</mat-icon>
            <span>{{ 'Análisis' | translate }}</span>
          </div>
          <div *ngIf="itemSelected !== 'analysis'" class="item-content">
            <mat-icon>query_stats</mat-icon>
            <span>{{ 'Análisis' | translate }}</span>
          </div>
        </a>
        <a *ngIf="!isPortfolio" mat-list-item (click)="navigateTo('map')">
          <div *ngIf="itemSelected === 'map'" class="item-content" [ngStyle]="{ color: itemColor }">
            <mat-icon>map</mat-icon>
            <span>{{ 'mapa' | translate | titlecase }}</span>
          </div>
          <div *ngIf="itemSelected !== 'map'" class="item-content">
            <mat-icon>map</mat-icon>
            <span>{{ 'mapa' | translate | titlecase }}</span>
          </div>
        </a>
        <a *ngIf="isPortfolio" mat-list-item>
          <div *ngIf="itemSelected === 'list'" class="item-content" [ngStyle]="{ color: itemColor }">
            <mat-icon>view_list</mat-icon>
            <span>{{ 'listado' | translate | titlecase }}</span>
          </div>
          <div *ngIf="itemSelected !== 'list'" class="item-content">
            <mat-icon>map</mat-icon>
            <span>{{ 'listado' | translate | titlecase }}</span>
          </div>
        </a>
        <!-- <a *ngIf="isPortfolio" mat-list-item (click)="navigateTo('charts')">
          <div *ngIf="itemSelected === 'charts'" class="item-content" [ngStyle]="{ color: itemColor }">
            <mat-icon>insights</mat-icon>
            <span>{{ 'graficos' | translate | titlecase }}</span>
          </div>
          <div *ngIf="itemSelected !== 'charts'" class="item-content">
            <mat-icon>insights</mat-icon>
            <span>{{ 'graficos' | translate | titlecase }}</span>
          </div>
        </a> -->
        <a *ngIf="!isPortfolio && showPrediction" mat-list-item (click)="navigateTo('prediction')">
          <!-- <a *ngIf="!isPortfolio" mat-list-item (click)="navigateTo('prediction')"> -->
          <div *ngIf="itemSelected === 'prediction'" class="item-content" [ngStyle]="{ color: itemColor }">
            <mat-icon>insights</mat-icon>
            <span>{{ 'prediccion' | translate | titlecase }}</span>
          </div>
          <div *ngIf="itemSelected !== 'prediction'" class="item-content">
            <mat-icon>insights</mat-icon>
            <span>{{ 'prediccion' | translate | titlecase }}</span>
          </div>
        </a>
      </div>
      <div class="bottom-items">
        <app-switch-theme></app-switch-theme>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- CONTENT -->
    <mat-toolbar [class.mat-elevation-z0]="true" class="navbar">
      <mat-toolbar-row class="navbar-top">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <app-navbar-container></app-navbar-container>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="showOnlyDesktop" class="data-navbar foreground">
        <app-report-principal-data-container *ngIf="!isPortfolio"></app-report-principal-data-container>
        <app-portfolio-principal-data-container *ngIf="isPortfolio"></app-portfolio-principal-data-container>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
