<mat-card>
  <mat-card-content>
    <div *ngIf="viewSelected != 1">
      <span class="titulo">{{ viewsTitle[viewSelected] }}</span>
      <div class="line">
        <mat-icon [ngStyle]="{ color: colors[2] }">crop_5_4</mat-icon>
        <span> {{ viewsLabels[viewSelected][2] }}</span>
      </div>
      <div class="line">
        <mat-icon [ngStyle]="{ color: colors[1] }">crop_5_4</mat-icon>
        <span>{{ viewsLabels[viewSelected][1] }}</span>
      </div>
      <div class="line">
        <mat-icon [ngStyle]="{ color: colors[0] }">crop_5_4</mat-icon>
        <span> {{ viewsLabels[viewSelected][0] }}</span>
      </div>
    </div>
    <div *ngIf="viewSelected == 1">
      <span class="cc-label" *ngIf="numCelsCalientes === 0">Ningún módulo con celulas calientes</span>
      <div *ngIf="numCelsCalientes > 0">
        <span class="titulo">{{ viewsTitle[viewSelected] }}</span>
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[2] }">crop_5_4</mat-icon>
          <span> {{ viewsLabels[viewSelected][2] }}</span>
        </div>
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[1] }">crop_5_4</mat-icon>
          <span>{{ viewsLabels[viewSelected][1] }}</span>
        </div>
        <div class="line">
          <mat-icon [ngStyle]="{ color: colors[0] }">crop_5_4</mat-icon>
          <span> {{ viewsLabels[viewSelected][0] }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
