<div *ngIf="serviceInit">
  <div class="structures-grid">
    <div class="left-bar">
      <h4>{{ nombrePlanta }}</h4>
      <mat-vertical-stepper [linear]="true" #stepper>
        <!-- FASE CARGAR -->
        <mat-step>
          <ng-template matStepLabel>Cargar módulos</ng-template>
          <app-load-elems></app-load-elems>
          <button mat-stroked-button matStepperNext>Siguiente</button>
        </mat-step>

        <!-- FASE 1 -->
        <mat-step>
          <ng-template matStepLabel>Filtrar módulos</ng-template>
          <app-raw-modules-filters></app-raw-modules-filters>
          <div>
            <button mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button [disabled]="!modulesLoaded" matStepperNext (click)="endFilterSubscription()">
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- FASE 2 -->
        <mat-step>
          <ng-template matStepLabel>Crear y eliminar módulos</ng-template>
          <div class="filter-warning">
            <span>(Filtros desconectados. Para volver a utilizarlos recargar la web)</span>
          </div>
          <app-raw-modules></app-raw-modules>
          <div class="next-button">
            <button
              [disabled]="deleteRawModMode || createRawModMode"
              mat-stroked-button
              matStepperNext
              (click)="resetAddDelRawModulesPhase()"
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- FASE 3 -->
        <mat-step>
          <ng-template matStepLabel>Crear agrupaciones auto</ng-template>
          <app-auto-module-groups></app-auto-module-groups>
          <div>
            <button class="back-btn" mat-stroked-button matStepperPrevious>Atrás</button>
            <button mat-stroked-button matStepperNext>Siguiente</button>
          </div>
        </mat-step>

        <!-- FASE 4 -->
        <mat-step>
          <ng-template matStepLabel>Editar agrupaciones</ng-template>
          <div>
            <app-module-groups></app-module-groups>
          </div>
          <div>
            <button class="back-btn" mat-stroked-button matStepperPrevious (click)="resetEditGroupsPhase()">
              Atrás
            </button>
            <button
              mat-stroked-button
              matStepperNext
              (click)="toggleLoadRawModules(false); toggleLoadNormModules(true); resetEditGroupsPhase()"
            >
              Siguiente
            </button>
          </div>
        </mat-step>

        <!-- FASE 4 -->
        <mat-step>
          <ng-template matStepLabel>Normalizar módulos auto</ng-template>
          <div>
            <app-auto-norm-modules></app-auto-norm-modules>
          </div>
          <div>
            <button
              class="back-btn"
              mat-stroked-button
              matStepperPrevious
              (click)="toggleLoadRawModules(true); toggleLoadNormModules(false)"
            >
              Atrás
            </button>
            <button mat-stroked-button matStepperNext (click)="toggleEditNormModules(true)">Siguiente</button>
          </div>
        </mat-step>

        <!-- FASE 6 -->
        <mat-step>
          <ng-template matStepLabel>Editar módulos normalizados</ng-template>
          <div>
            <app-norm-modules></app-norm-modules>
          </div>
          <div>
            <button
              class="back-btn"
              mat-stroked-button
              matStepperPrevious
              (click)="toggleEditNormModules(false); resetEditNormModulesPhase()"
            >
              Atrás
            </button>
            <!-- <button mat-stroked-button matStepperNext>Siguiente</button> -->
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div>
      <app-map-structures></app-map-structures>
      <mat-card *ngIf="deleteRawModMode" class="delete-mode-warn">
        <mat-card-title>MODO ELIMINAR ACTIVADO</mat-card-title>
      </mat-card>
      <app-thermal-slider [informeId]="informe.id"></app-thermal-slider>
    </div>
  </div>
</div>
