.estSize {
  width: 4rem;
  font-size: 1.5rem;
  background-color: mediumspringgreen;
  color: black;
}
.inputInicio {
  width: 3rem;
  font-size: 1rem;
}
.propiedadesEstructura {
  border: 1px solid grey;
  margin-top: 0.5rem;
}
