table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
tr.mat-row {
  height: 1rem;
}
tr.mat-row:hover {
  cursor: pointer;
  background-color: #80808040;
}
.selectedElement {
  border: 3px solid rgba(19, 18, 18, 0.326);
  background-color: #80808040;
}
.errorGlobalCoords {
  color: red;
}
.errorGlobalCoords2 {
  color: orange;
}
.tablaEstructuras {
  height: 60%;
  overflow: auto;
}
.tablaPcs {
  height: 30%;
  overflow: auto;
}
