<div class="filtro">
  <h5>Tipo</h5>
  <button class="tipo-select" mat-stroked-button [matMenuTriggerFor]="menu">
    <span *ngIf="defaultLabelStatus" class="filter-default">{{ defaultSelectLabel }}</span>
    <span *ngIf="!defaultLabelStatus" class="filter-selected">{{ selectedLabels.toString() }}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu class="menu-tipo" #menu="matMenu">
    <div class="grid">
      <div>
        <li mat-menu-item *ngFor="let tipo of tiposElem; index as i" (click)="stopPropagation($event)">
          <mat-checkbox
            [checked]="tiposSelected[i]"
            [id]="'tipo_' + (i + 1)"
            [name]="tipo.label"
            (change)="onChangeFiltroTipo($event)"
          >
            <span style="font-size: 15px">
              {{ tipo.label }}
            </span>
          </mat-checkbox>
        </li>
      </div>
    </div>
  </mat-menu>
</div>
