<app-anom-status-select *ngIf="mobile" [anomaliaSelected]="anomaliaSelected"></app-anom-status-select>

<app-serial-number-input [anomaliaSelected]="anomaliaSelected"></app-serial-number-input>

<app-module-input *ngIf="mobile" [anomaliaSelected]="anomaliaSelected"></app-module-input>

<app-comment-input [anomaliaSelected]="anomaliaSelected" [label]="'Comentario'" [type]="'anomalia'"></app-comment-input>

<app-comment-input [anomaliaSelected]="anomaliaSelected" [label]="'Curva IV'" [type]="'iv'"></app-comment-input>

<app-comment-input
  [anomaliaSelected]="anomaliaSelected"
  [label]="'Actuaciones'"
  [type]="'actuaciones'"
></app-comment-input>
