<div class="anomalia-info" *ngIf="anomaliaSelected">
  <button *ngIf="!showComments" class="btn-comments" mat-icon-button (click)="showHideComments()">
    <mat-icon matBadge="{{ anomaliaInfo.numComentarios }}" matBadgeColor="primary">message</mat-icon>
  </button>
  <button *ngIf="showComments" class="btn-comments" mat-icon-button (click)="showHideComments()">
    <mat-icon>list</mat-icon>
  </button>

  <h5 *ngIf="!showComments" class="title">
    Anomalía <b>{{ anomaliaInfo.numAnom }}</b>
    <span *ngIf="anomaliaInfo.clase !== undefined" [ngStyle]="{ color: anomaliaInfo.claseColor }">
      ({{ anomaliaInfo.clase }})</span
    >
  </h5>
  <app-comments *ngIf="showComments" [anomalia]="anomaliaSelected"></app-comments>
  <div *ngIf="!showComments" class="info">
    <div class="line-info">
      <div
        class="subtitle"
        *ngIf="
          anomaliaInfo.temperaturaMax !== undefined ||
          anomaliaInfo.temperaturaRef !== undefined ||
          anomaliaInfo.gradienteNormalizado !== undefined
        "
      >
        <mat-icon>thermostat</mat-icon>
        <span class="subtitle-label">Temperaturas:</span>
      </div>
      <div class="line-content">
        <div class="line-sub-content" *ngIf="anomaliaInfo.temperaturaMax !== undefined">
          <span>T. Máx:</span>
          <span
            ><b>{{ anomaliaInfo.temperaturaMax }}ºC</b></span
          >
        </div>
        <div class="line-sub-content" *ngIf="anomaliaInfo.temperaturaRef !== undefined" style="color: blue">
          <span>T. Ref: </span>
          <span
            ><b>{{ anomaliaInfo.temperaturaRef }}ºC</b></span
          >
        </div>
        <div class="line-sub-content" *ngIf="anomaliaInfo.gradienteNormalizado !== undefined" style="color: red">
          <span>&Delta;T (norm):</span>
          <span
            ><b>+{{ anomaliaInfo.gradienteNormalizado | number: '1.0-1' }}ºC</b></span
          >
        </div>
      </div>
    </div>
    <div class="line-info">
      <div class="subtitle">
        <mat-icon>flag</mat-icon>
        <span class="subtitle-label">Causa: </span>
      </div>
      <span class="line-content">{{ anomaliaInfo.causa }}</span>
    </div>
    <div class="line-info">
      <div class="subtitle">
        <mat-icon>check_circle</mat-icon>
        <span class="subtitle-label">Actuación recomendada: </span>
      </div>
      <span class="line-content">{{ anomaliaInfo.recomendacion }}</span>
    </div>
    <div class="line-info">
      <div class="subtitle">
        <mat-icon>assistant_direction</mat-icon>
        <span class="subtitle-label">Localización: </span>
      </div>
      <div class="line-content">
        <div class="line-sub-content">
          <span>Fila:</span>
          <span
            ><b>{{ anomaliaInfo.fila }}</b></span
          >
          <input
            *ngIf="isAdmin"
            class="imput"
            matInput
            type="number"
            [value]="anomaliaSelected.localY"
            (change)="updateAnomalia($event.target.value, 'local_y')"
          />
        </div>
        <div class="line-sub-content">
          <span>Columna:</span>
          <span
            ><b>{{ anomaliaInfo.columna }}</b></span
          >
          <input
            *ngIf="isAdmin"
            class="imput"
            matInput
            type="number"
            [value]="anomaliaSelected.localX"
            (change)="updateAnomalia($event.target.value, 'local_x')"
          />
        </div>
      </div>
    </div>
    <div class="line-info">
      <div class="subtitle">
        <mat-icon>today</mat-icon>
        <span class="subtitle-label">Fecha de captura: </span>
      </div>
      <span class="line-content">{{ anomaliaInfo.fecha * 1000 | date: 'dd/MM/yyyy HH:mm' }}</span>
    </div>
    <div
      *ngIf="
        anomaliaInfo.irradiancia !== undefined ||
        anomaliaInfo.vientoDireccion !== undefined ||
        anomaliaInfo.vientoVelocidad !== undefined ||
        anomaliaInfo.temperaturaAire !== undefined ||
        anomaliaInfo.nubosidad !== undefined
      "
      class="line-info"
    >
      <div class="subtitle">
        <mat-icon>brightness_high</mat-icon>
        <span class="subtitle-label">Meteo:</span>
      </div>
      <div class="meteo-two-lines">
        <div class="meteo-line">
          <span *ngIf="anomaliaInfo.irradiancia !== undefined" class="meteo-content"
            >Irradiancia: <b>{{ anomaliaInfo.irradiancia | number: '1.0-0' }} W/m<sup>2</sup></b></span
          >
          <!-- <span *ngIf="anomaliaInfo.vientoDireccion !== undefined" class="meteo-content"
            >Direc. viento: <b>{{ anomaliaInfo.vientoDireccion }}º</b></span
          >
          <span *ngIf="anomaliaInfo.vientoVelocidad !== undefined" class="meteo-content"
            >Veloc. viento: <b>{{ anomaliaInfo.vientoVelocidad }} (Beaufort)</b></span
          > -->
          <span *ngIf="anomaliaInfo.viento !== undefined" class="meteo-content"
            >Viento: <b>{{ anomaliaInfo.viento }}</b></span
          >
        </div>
        <div class="meteo-line">
          <span *ngIf="anomaliaInfo.temperaturaAire !== undefined" class="meteo-content"
            >T. ambiente: <b>{{ anomaliaInfo.temperaturaAire }}ºC</b></span
          >
          <span *ngIf="anomaliaInfo.nubosidad !== undefined" class="meteo-content"
            >Nubosidad: <b>{{ anomaliaInfo.nubosidad }} octavas</b></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
