<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- NÚMERO -->
  <ng-container matColumnDef="num">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
    <td mat-cell *matCellDef="let element">{{ element.numDivision }}</td>
  </ng-container>

  <!-- TIPO -->
  <ng-container matColumnDef="precise">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</th>
    <td mat-cell *matCellDef="let element">{{ element.precise ? 'Recorte' : 'Subdivisión' }}</td>
  </ng-container>

  <!-- ESTADO -->
  <!-- <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container> -->

  <!-- NÚMERO DE IMÁGENES -->
  <ng-container matColumnDef="numImages">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>IMÁGENES</th>
    <td mat-cell *matCellDef="let element">{{ element.numImages }}</td>
  </ng-container>

  <!-- ACCIONES -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
      <button (click)="mapDivisionDelete.emit(element.id)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    [attr.id]="'row-' + row.id"
    (mouseover)="hoverRow(row, true)"
    (mouseleave)="hoverRow(row, false)"
    (click)="selectRow(row, false)"
    [ngClass]="{
      selected: mapDivisionSelected && row.id === mapDivisionSelected.id,
      hovered: mapDivisionHovered && row.id === mapDivisionHovered.id
    }"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
