<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="alertMessage" class="alert alert-warning" role="alert">
        {{ alertMessage }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <div class="cabecera">
            <h2>{{ planta?.nombre }}</h2>
            <mat-form-field>
              <mat-label>Modulo</mat-label>
              <mat-select [(ngModel)]="moduloSelecLista" name="m">
                <mat-option *ngFor="let m of modulos" [value]="m">
                  {{ m.marca }} {{ m.modelo }} ({{ m.potencia }} W)
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="isUserArea"> isUserArea: ({{ isUserArea }}) </mat-checkbox>
            <mat-checkbox [(ngModel)]="isDraggable"> isDraggable: ({{ isDraggable }}) </mat-checkbox>

            <button (click)="aplicarModulosSeleccion()">Aplicar módulo a selección -></button>
          </div>
          <div *ngIf="planta">
            <agm-map
              [latitude]="plantaLocation.lat"
              [longitude]="plantaLocation.lng"
              [mapTypeId]="mapType"
              [zoom]="defaultZoom"
              (mapReady)="onMapReady($event)"
              mapTypeControl="true"
            >
            </agm-map>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8" *ngIf="selectedLocationArea">
          <ul class="propiedadesLocArea">
            <li class="liPropiedadesLocArea">
              <label>
                N_0
                <input class="input60" type="number" [(ngModel)]="number[0]"> 
              </label>              
            </li>
            <li class="liPropiedadesLocArea">
              <label>
                N_1
                <input class="input60" type="number" [(ngModel)]="number[1]"> 
              </label>              
            </li>
            <li class="liPropiedadesLocArea">
              <label>
                N_2
                <input class="input60" type="number" [(ngModel)]="number[2]">
              </label>              
            </li>
            <li *ngFor="let gc of global.globalCoordsEstructura" class="liPropiedadesLocArea">
              <label>
                G_<b>{{ gc }}: </b>
                <input
                  [(ngModel)]="selectedLocationArea.globalCoords[gc]"
                  (change)="updateAreaFromGlobals(selectedLocationArea, gc)"
                  maxlength="8"
                  name="global{{ gc }}"
                  id="global{{ gc }}"
                  type="text"
                  size="5"
                  class="inputInicio"
                />
              </label>
            </li>
            <li class="liPropiedadesLocArea">
              <mat-form-field>
                <mat-label
                  >{{ selectedLocationArea.modulo?.marca }} {{ selectedLocationArea.modulo?.modelo }} ({{
                    selectedLocationArea.modulo?.potencia
                  }}
                  W)
                </mat-label>
                <mat-select
                  [(ngModel)]="selectedLocationArea.modulo"
                  name="m"
                  (selectionChange)="updateArea(selectedLocationArea, true)"
                >
                  <mat-option *ngFor="let m of modulos" [value]="m">
                    {{ m.marca }} {{ m.modelo }} ({{ m.potencia }} W)
                  </mat-option>
                </mat-select>

                <button
                  mat-button
                  *ngIf="selectedLocationArea.hasOwnProperty('modulo')"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearModulo(selectedLocationArea)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </li>
            <li class="liPropiedadesLocArea">
              <button type="button" class="btn btn-danger btn-eliminar" (click)="deleteArea(selectedLocationArea)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-info btn-eliminar" (click)="copyArea(selectedLocationArea)">
                <i class="fas fa-copy"></i>
              </button>
              <mat-checkbox
                [checked]="isSelected(selectedLocationArea)"
                (click)="onSelectCheckbox($event, selectedLocationArea)"
              >
              </mat-checkbox>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
        </div>
        <div class="col-6" *ngIf="selectedUserArea">
          <ul class="propiedadesLocArea">
            <li class="liPropiedadesLocArea">
              userId:
              <input
                (change)="updateArea(selectedUserArea)"
                [(ngModel)]="selectedUserArea.userId"
                type="text"
                name="userId"
                id="userId"
              />
            </li>
            <li class="liPropiedadesLocArea">
              <button type="button" class="btn btn-danger btn-eliminar" (click)="deleteArea(selectedUserArea)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-3 col-locationareas">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>

      <mat-checkbox
        (change)="$event ? selectConModulo() : null"
        [checked]="selection.hasValue() && isAllModulesSelected()"
      >
      </mat-checkbox>

      <table matSort mat-table [dataSource]="locAreaDataSource" class="mat-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              [checked]="isSelected(row)"
              (click)="onSelectCheckboxChange($event, row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="globalX">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>globalX</th>
          <td mat-cell *matCellDef="let element">{{ element.globalX }}</td>
        </ng-container>

        <ng-container matColumnDef="globalY">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>globalY</th>
          <td mat-cell *matCellDef="let element">{{ element.globalY }}</td>
        </ng-container>

        <ng-container matColumnDef="globalCoords">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>GlobalCoords</th>
          <td mat-cell *matCellDef="let element">[{{ element.globalCoords }}]</td>
        </ng-container>

        <ng-container matColumnDef="modulo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Modulo</th>
          <td mat-cell *matCellDef="let element">{{ element.marca }} ({{ element.modulo?.potencia }} W)</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          style="cursor: pointer"
          (click)="selectArea(locArea)"
          [ngClass]="{ seleccionado: locArea === selectedLocationArea }"
          [style.color]="getRowColor(locArea)"
          mat-row
          *matRowDef="let locArea; columns: displayedColumns"
        ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
