<mat-expansion-panel (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'criticidad' | translate | titlecase }}</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-button-toggle-group class="criticidad-group" #group="matButtonToggleGroup" multiple="true">
    <mat-button-toggle
      class="criticidad-toggle"
      *ngFor="let elem of criticidadElems; index as i"
      [id]="i + 1"
      [name]="elem.label"
      [checked]="criticidadSelected[i]"
      (change)="onChangeCriticidadFilter($event)"
      >{{ elem.label | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-expansion-panel>
