::ng-deep .mat-menu-panel {
  max-width: none !important;
}

.right-menu {
  margin: 1rem;
}

.mat-menu-item {
  height: 42px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 32px);
    height: calc(100vh - 188px);
  }

  /* .mat-menu-panel.right-menu {
    max-height: calc(100vh - 188px);
    overflow-y: auto;
  } */
}
