<div class="container">
  <div class="col-12 example-container">
    <hr />
    <form class="formContainer" [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field>
        <input matInput formControlName="marca" placeholder="Marca del módulo" />
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="modelo" placeholder="Modelo del módulo" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" formControlName="potencia" placeholder="Potencia del módulo (W)" />
      </mat-form-field>

      <button mat-button color="primary" type="submit" [disabled]="form.invalid">
        Guardar
      </button>
    </form>

    <div *ngIf="success">Módulo guardado</div>
  </div>
</div>
