<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Filtros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-perdidas-filter></app-perdidas-filter>
    <app-temp-max-filter></app-temp-max-filter>
    <app-gradient-filter></app-gradient-filter>
    <app-area-filter></app-area-filter>
    <app-tipo-filter></app-tipo-filter>
    <app-clase-filter></app-clase-filter>
    <app-modulo-filter></app-modulo-filter>
    <app-zona-filter></app-zona-filter>
  </mat-card-content>
</mat-card> -->

<app-perdidas-filter></app-perdidas-filter>
<app-temp-max-filter></app-temp-max-filter>
<app-gradient-filter></app-gradient-filter>
<!-- <app-area-filter></app-area-filter> -->
<app-tipo-filter></app-tipo-filter>
<app-clase-filter></app-clase-filter>
<app-modulo-filter></app-modulo-filter>
<app-zona-filter></app-zona-filter>
