<div class="filtro">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
      </ng-container>

      <!-- Potencia -->
      <ng-container matColumnDef="potencia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencia</th>
        <td mat-cell *matCellDef="let row">{{ row.potencia }} MW</td>
      </ng-container>

      <!-- MAE -->
      <ng-container matColumnDef="mae">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MAE</th>
        <td mat-cell *matCellDef="let row">{{ row.mae }}%</td>
      </ng-container>

      <!-- Fecha última inspección -->
      <ng-container matColumnDef="ultima-inspeccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Última inspección</th>
        <td mat-cell *matCellDef="let row">{{ row.ultimaInspeccion }}</td>
      </ng-container>

      <!-- Compartir -->
      <ng-container matColumnDef="compartir">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Compartir</th>
        <td mat-cell *matCellDef="let row">compartir</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
