<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de plantas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="filtro">
      <mat-form-field class="buscar-input" appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>

      <div class="tabla-container mat-elevation-z4">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Planta</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>

          <!-- Potencia -->
          <ng-container matColumnDef="potencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencia</th>
            <td mat-cell *matCellDef="let row">{{ row.potencia | number: '1.2-2' }} MW</td>
          </ng-container>

          <!-- MAE -->
          <ng-container matColumnDef="mae">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MAE</th>
            <td mat-cell *matCellDef="let row">{{ row.mae | number: '1.2-2' }}%</td>
          </ng-container>

          <!-- Fecha última inspección -->
          <ng-container matColumnDef="ultima-inspeccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Última inspección</th>
            <td mat-cell *matCellDef="let row">{{ row.ultimaInspeccion * 1000 | date: 'dd/MM/yyyy' }}</td>
          </ng-container>

          <!-- Compartir -->
          <ng-container matColumnDef="compartir">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>share</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="menu">
                <h4>Compartir</h4>
                <mat-form-field class="email" appearance="outline" (click)="stopPropagation($event)">
                  <mat-label>email</mat-label>
                  <input matInput />
                </mat-form-field>
                <button mat-menu-item type="submit" class="btn-enviar">
                  <mat-icon>send</mat-icon>
                  <span>Enviar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr
            mat-row
            class="table-row"
            (mouseover)="hoverPlanta(row)"
            *matRowDef="let row; columns: displayedColumns"
            (click)="onClick(row)"
          ></tr>

          <!-- Se muestra cuando no hay resultados en la búsqueda -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay resultados que conincidan con la búsqueda "{{ input.value }}"</td>
          </tr>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
