<!-- Input principal para archivos múltiples -->
<mat-form-field class="wide-input">
  <input type="text" matInput placeholder="Seleccionado" [value]="fileName" multiple readonly>
  <input  type="file" #fileInput (change)="handleChange($event)" webkitdirectory multiple />
  <button mat-button (click)="fileInput.click()">Seleccionar archivo</button>
</mat-form-field>

<br />

<!-- Input para subir una foto de portada -->
<mat-form-field class="wide-input">
  <input type="text" matInput placeholder="Foto de Portada" [value]="fotoPortadaName ? fotoPortadaName : ''" readonly>
  <input hidden type="file" #fotoPortadaInput (change)="handleFotoPortadaChange($event)" />
  <button mat-button (click)="fotoPortadaInput.click()">Seleccionar foto de portada</button>
</mat-form-field>

<br />

<!-- Input para subir una foto de suciedad -->
<mat-form-field class="wide-input">
  <input type="text" matInput placeholder="Foto de Suciedad" [value]="fotoSuciedadName ? fotoSuciedadName : ''"
    readonly>
  <input hidden type="file" #fotoSuciedadInput (change)="handleFotoSuciedadChange($event)" />
  <button mat-button (click)="fotoSuciedadInput.click()">Seleccionar foto de suciedad</button>
</mat-form-field>

<br />
<div id="map"></div>
<br>
<div *ngIf="this.selectedFiles.length > 0">
  <input type="checkbox" [(ngModel)]="showV" (change)="toggleLayers('V', showV)"> Mostrar imágenes RGB
  <input type="checkbox" [(ngModel)]="showT" (change)="toggleLayers('T', showT)"> Mostrar imágenes térmicas
</div>

<!-- <button (click)="resetImageGroups()">Reiniciar Grupos de Imágenes</button> -->


<mat-panel *ngFor="let group of imageGroups; let i = index">
  <mat-panel-header>
    <mat-panel-title>
      Grupo {{i + 1}}
    </mat-panel-title>
  </mat-panel-header>
  <button mat-button (click)="goToGroupCenter(group[0].center)">Ir al centro del grupo</button>
  <!-- Resto de tu código -->
</mat-panel>

<div *ngIf="uploadPercent | async as percent">
  <progress value="{{percent}}" max="100"></progress>
</div>

<div *ngIf="uploadSpeed > 0">
  Velocidad de subida: {{uploadSpeed | number:'1.2-2'}} MB/segundo
</div>

<button mat-button (click)="uploadFiles()" *ngIf="this.selectedFiles.length > 0">Subir archivos</button>

<h3>{{imagesData.length}} imágenes cargadas</h3>


<!-- <div *ngIf="downloadURL | async as url">
  <a [href]="url">Download link</a>
</div> -->

<div *ngIf="imagesData.length > 0 && isDataReady">
  <h3>Imagen {{currentIndex + 1}} de {{imagesData.length}}</h3>
  <!-- <img [src]="imageThumbnails[currentIndex]" alt="Miniatura de la imagen actual"> -->

  <table style="width: 500px;">
    <thead>
      <tr>
        <th>Dato</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currentImage | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>

  <div id="botonesNavegacion">
    <button id="botonAnterior" mat-raised-button color="primary" (click)="prevImage()"
      [disabled]="currentIndex === 0">Imagen
      anterior</button>
    <button mat-raised-button color="primary" (click)="nextImage()"
      [disabled]="currentIndex === imagesData.length - 1">Siguiente imagen</button>
  </div>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let group of imageGroups; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Grupo {{i + 1}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let imageData of group; let j = index">
        <h3>Imagen {{j + 1}} de {{group.length}}</h3>
        <!-- <img [src]="imageThumbnails[imagesData.indexOf(imageData)]" alt="Miniatura de la imagen actual"> -->
        <table style="width: 500px;">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of imageData | keyvalue">
              <td>{{item.key}}</td>
              <td>{{item.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>