<div class="edit-report">
  <h4>Editar informe</h4>

  <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit($event)">
    <mat-card>
      <mat-card-content>
        <!-- Planta -->
        <app-mat-selected-search
          *ngIf="plantaList.length > 0"
          [elements]="plantaList"
          [property]="'nombre'"
          [title]="'Planta'"
          [elementSelected]="plantaSelected"
          (elemSelected)="getElemSelected($event)"
        ></app-mat-selected-search>

        <!-- Vuelo -->
        <app-mat-selected-search
          *ngIf="vueloList.length > 0"
          [elements]="vueloList"
          [property]="'id'"
          [title]="'Vuelo'"
          [elementSelected]="vueloSelected"
          (elemSelected)="getElemSelected($event)"
        ></app-mat-selected-search>

        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput formControlName="fecha" [matDatepicker]="myDatepicker" />
          <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Temperatura Ambiente</mat-label>
          <input matInput formControlName="temperatura" type="number" step="1" />
          <span matSuffix>ºC</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Temperatura Reflejada</mat-label>
          <input matInput formControlName="tempReflejada" type="number" />
          <span matSuffix>ºC</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Emisividad</mat-label>
          <input matInput formControlName="emisividad" type="number" min="0" max="1" step="0.01" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Humedad relativa</mat-label>
          <input matInput formControlName="humedadRelativa" type="number" min="0" max="1" step="0.01" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Nubosidad</mat-label>
          <input matInput formControlName="nubosidad" type="number" min="0" max="8" step="1" />
          <span matSuffix>octas</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>GSD</mat-label>
          <input matInput formControlName="gsd" type="number" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Corrección Hora SRT</mat-label>
          <input matInput formControlName="correccHoraSrt" type="number" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Velocidad viento</mat-label>
          <input matInput formControlName="vientoVelocidad" type="number" />
          <span matSuffix>km/h</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Dirección viento</mat-label>
          <input matInput formControlName="vientoDireccion" type="number" min="0" max="360" />
          <span matSuffix>º</span>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Número de módulos de la planta</mat-label>
          <input matInput formControlName="numeroModulos" type="number" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cámara</mat-label>
          <input matInput formControlName="camara" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Número de Serie Cámara</mat-label>
          <input matInput formControlName="camaraSN" type="text" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Servidor de capas</mat-label>
          <mat-select formControlName="servidorCapas">
            <mat-option [value]="'old'">Antiguo</mat-option>
            <mat-option [value]="'geoserver'">Geoserver</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="disponible">Disponible</mat-checkbox>

        <div class="btns-actions">
          <button mat-raised-button routerLink="../../">Cancelar</button>
          <button mat-raised-button color="warn" type="submit">Enviar cambios</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
