@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: small;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Elementos Material */
.mat-card {
  border-radius: 8px !important;
}
