<div class="legend">
  <div class="legend__element">
    <div class="element__title">
      <span>3</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[3] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[3] }}"
      (click)="updateAnomalia(3)"
      src="../../../assets/images/tipo_3.png"
    />
    <span class="hotkeys">( 3 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>5</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[5] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[5] }}"
      (click)="updateAnomalia(5)"
      src="../../../assets/images/tipo_5.png"
    />
    <span class="hotkeys">( 5 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>6</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[6] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[6] }}"
      (click)="updateAnomalia(6)"
      src="../../../assets/images/tipo_6.png"
    />
    <span class="hotkeys">(Shift+3)</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>7</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[7] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[7] }}"
      (click)="updateAnomalia(7)"
      src="../../../assets/images/tipo_7.png"
    />
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>8</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[8] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[8] }}"
      (click)="updateAnomalia(8)"
      src="../../../assets/images/tipo_8.png"
    />
    <span class="hotkeys">( 1 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>9</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[9] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[9] }}"
      (click)="updateAnomalia(9)"
      src="../../../assets/images/tipo_9.png"
    />
    <span class="hotkeys">( 2 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>10</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[10] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[10] }}"
      (click)="updateAnomalia(10)"
      src="../../../assets/images/tipo_10.png"
    />
    <span class="hotkeys">(Ctrl+3)</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>11</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[11] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[11] }}"
      (click)="updateAnomalia(11)"
      src="../../../assets/images/tipo_11.png"
    />
    <span class="hotkeys">(Ctrl+2)</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>12</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[12] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[12] }}"
      (click)="updateAnomalia(12)"
      src="../../../assets/images/tipo_12.png"
    />
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>13</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[13] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[13] }}"
      (click)="updateAnomalia(13)"
      src="../../../assets/images/tipo_13.png"
    />
    <span class="hotkeys">(Ctrl+1)</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>14</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[14] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[14] }}"
      (click)="updateAnomalia(14)"
      src="../../../assets/images/tipo_14.png"
    />
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>15</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[15] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[15] }}"
      (click)="updateAnomalia(15)"
      src="../../../assets/images/tipo_15.png"
    />
    <span class="hotkeys">(Shift+2)</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>16</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[16] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[16] }}"
      (click)="updateAnomalia(16)"
      src="../../../assets/images/tipo_16.png"
    />
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>17</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[17] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[17] }}"
      (click)="updateAnomalia(17)"
      src="../../../assets/images/tipo_4.png"
    />
    <span class="hotkeys">( 4 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>18</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[18] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[18] }}"
      (click)="updateAnomalia(18)"
      src="../../../assets/images/tipo_18.png"
    />
    <span class="hotkeys">( 8 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>19</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[19] }">crop_16_9</mat-icon>
    </div>
    <span class="no-icon">{{ tiposAnomalia[19] }}</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>20</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[20] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[20] }}"
      (click)="updateAnomalia(20)"
      src="../../../assets/images/tipo_20.png"
    />
    <span class="hotkeys">( Ctrl+8 )</span>
  </div>
  <div class="legend__element">
    <div class="element__title">
      <span>21</span>
      <mat-icon [ngStyle]="{ color: anomaliaColors[21] }">crop_16_9</mat-icon>
    </div>
    <img
      class="icon"
      matTooltip="{{ tiposAnomalia[21] }}"
      (click)="updateAnomalia(21)"
      src="../../../assets/images/tipo_7.png"
    />
    <span class="hotkeys">(Shift+8)</span>
  </div>
</div>
