.container {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

@media (max-width: 250px) {
  .logo {
    display: none;
  }
}

.titulo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.form-material {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 60px;
}

.email-input {
  width: 100%;
}

.password-input {
  width: 100%;
}

.boton-entrar {
  width: 50%;
  margin-top: 10px;
  padding: 7px;
  border-radius: 8px;
}

.forgotPassword {
  margin-top: 25px;
}
