mat-card-title {
  font-size: 20;
}

mat-form-field {
  width: 100%;
}

button {
  width: 10em;
}

.forgotPassword {
  text-align: center;
  margin-bottom: 10px;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}