<mat-card>
  <mat-card-header>
    <mat-card-title>Iniciar sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email" type="email" #userName />
    </mat-form-field>
    <!-- <div *ngIf="emailField.errors && emailField.dirty">
        <mat-error *ngIf="emailField.hasError('email')">Introduzca un mail válido</mat-error>
        <mat-error *ngIf="emailField.hasError('required')">Este campo es obligatorio</mat-error>
      </div> -->
    <mat-form-field>
      <input matInput placeholder="Contraseña" formControlName="password" type="text" />
    </mat-form-field>
    <!-- <div *ngIf="passwordField.errors && emailField.dirty">
        <mat-error *ngIf="passwordField.hasError('required')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="passwordField.hasError('minLength')"
            >La constraseña debe tener mínimo 6 carácteres</mat-error
          >
      </div> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="authService.signIn(userName.value, userPassword.value)">
      Entrar
    </button>
  </mat-card-actions>
</mat-card>

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Iniciar sesión</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Usuario" #userName required />
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Contraseña" #userPassword required />
      </div>

      <!-- Calling SingIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Login"
          (click)="authService.signIn(userName.value, userPassword.value)"
        />
      </div>

      <!--  <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div> -->

      <!-- Calling GoogleAuth Api from AuthService -->
      <!-- <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Entrar con Google
        </button>
      </div> -->

      <div class="forgotPassword">
        <span routerLink="../forgot-password">¿Has olvidado la contraseña?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>¿No tienes cuenta?<span class="redirect" routerLink="../register-user"> Crea una</span></span>
    </div>
  </div>
</div>
