<div id="map" class="map"></div>

<div class="actions-btns">
  <button mat-raised-button (click)="switchCreateMode()">
    <span *ngIf="!createDivisionMode">Activar crear devisiones</span>
    <span *ngIf="createDivisionMode">Parar crear divisiones</span>
  </button>

  <button *ngIf="clippingSelected !== undefined" mat-raised-button (click)="cutMap()">Cortar mapa seleccionado</button>

  <button *ngIf="clippingsToMerge.length > 1" mat-raised-button (click)="mergeMaps()">Unir mapas seleccionados</button>
</div>

<mat-card id="popup" class="ol-popup">
  <img src="{{ urlImageThumbnail }}" alt="" height="200px" />
</mat-card>
