<mat-expansion-panel (click)="$event.stopPropagation()">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ 'Estado' | translate }}</mat-panel-title>
  </mat-expansion-panel-header>
  <li mat-menu-item *ngFor="let statusElem of statusElems; index as j" (click)="stopPropagation($event)">
    <mat-checkbox
      [checked]="statusSelected[statusElem.status]"
      [id]="'status_' + (j + 1)"
      [name]="statusElem.label"
      [value]="i"
      [disabled]="statusElem.disabled"
      (change)="onChangeFiltroStatus($event)"
    >
      <div class="labelWrapper">
        <span style="font-size: 15px"> {{ statusElem.label | translate }} </span>
        <span style="font-weight: 700"> {{ statusElem.nAnomalias }} / {{ statusElem.nAllAnomalias }} </span>
      </div>
    </mat-checkbox>
  </li>
</mat-expansion-panel>
