<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>email</th>
          <th>Empresa</th>
          <th>Role</th>
          <th>Plantas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.uid }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.empresaNombre }}</td>
          <td>{{ user.role }}</td>
          <td>plantas</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
