<div class="content">
  <div class="table-container mat-elevation-z1">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
      <!-- Nombre y potencia -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="header-not-centered">
            <span>Planta</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">{{ row.nombre }} ({{ row.potencia }} MW)</td>
      </ng-container>

      <!-- MAE -->
      <ng-container matColumnDef="mae">
        <th mat-header-cell (click)="stopPropagation($event)" mat-sort-header *matHeaderCellDef>
          <div class="header-centered">
            <span>MAE</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="cell-content">
            <span>{{ row.mae * 100 | number: '1.0-2' }}%</span>
          </div>
        </td>
      </ng-container>

      <!-- Variación MAE -->
      <ng-container matColumnDef="variacionMae">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="header-centered">
            <span>Variación MAE</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="cell-icon">
            <span>{{ row.variacionMae * 100 | number: '1.0-2' }}%</span>
            <mat-icon class="up" *ngIf="row.variacionMae > 0">arrow_drop_up</mat-icon>
            <mat-icon class="equal" *ngIf="row.variacionMae == 0">horizontal_rule</mat-icon>
            <mat-icon class="down" *ngIf="row.variacionMae < 0">arrow_drop_down</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Pérdidas -->
      <ng-container matColumnDef="perdidas">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="header-centered">
            <span>Pérdidas</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="cell-content">
            <span>{{ row.perdidas | number: '1.0-0' }} kW</span>
          </div>
        </td>
      </ng-container>

      <!-- Variación Pérdidas -->
      <ng-container matColumnDef="variacionPerdidas">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="header-centered">
            <span>Variación Pérdidas</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="cell-icon">
            <span>{{ row.variacionPerdidas * 100 | number: '1.0-2' }}%</span>
            <mat-icon class="up" *ngIf="row.variacionPerdidas > 0">arrow_drop_up</mat-icon>
            <mat-icon class="equal" *ngIf="row.variacionPerdidas == 0">horizontal_rule</mat-icon>
            <mat-icon class="down" *ngIf="row.variacionPerdidas < 0">arrow_drop_down</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Fecha última inspección -->
      <ng-container matColumnDef="ultimaInspeccion">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div class="header-centered">
            <span>Última inspección</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="cell-content">
            <span>{{ row.ultimaInspeccion * 1000 | date: 'dd/MM/yyyy' }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Acceder al informe -->
      <ng-container matColumnDef="acceso">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell (click)="stopPropagation($event)" *matCellDef="let row">
          <div class="cell-content">
            <button mat-raised-button class="acceder-btn" (click)="onClick(row)">Acceder</button>
          </div>
        </td>
      </ng-container>

      <!-- Panel expandido -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="expanded-panel" *ngIf="row === expandedRow">
            <div class="resumen-superior">
              <span
                >{{ row.nombre }} tiene un <b>MAE</b> de <b>{{ row.mae * 100 | number: '1.0-2' }}%</b>, lo que equivale
                a <b>{{ row.mae * row.potencia * 1000 | number: '1.0-2' }} kWp sin producir</b>. Este MAE se considera
                <b>{{ row.gravedadMae }}</b
                >. Su <b>variación ha sido de {{ row.variacionMae * 100 | number: '1.0-2' }}%</b> respecto del año
                pasado.</span
              >
              <span>
                El % de módulos afectados por <b>células calientes</b> es el
                <b>{{ row.cc * 100 | number: '1.0-2' }}%</b>. Se considera un valor <b>{{ row.gravedadCC }}</b
                >. Su <b>variación ha sido de {{ row.variacionCC * 100 | number: '1.0-2' }}%</b> respecto del año
                pasado.
              </span>
              <!-- DATOS FALSOS DEMO -->
              <div *ngIf="row.nombre == 'Planta 1'">
                <span
                  >La planta tienen un problema con <b>strings abiertos</b>. El 99% de las pérdidas de Planta 1 se
                  concentra en:</span
                >
                <li>3476 módulos en circuito abierto (string)</li>
                <li>446 módulos con substring en circuito abierto</li>
              </div>
              <div *ngIf="row.nombre == 'Planta 2'">
                <span
                  >La planta de tiene un problema con <b>vegetación/sombras</b>, acumulando un total de
                  <b>587 módulos</b> afectados por sombras.</span
                >
              </div>
            </div>
            <div class="resumen-inferior">
              <div class="problemas">
                <div class="problemas-header">
                  <span class="titulo">Principales problemas</span>
                </div>

                <!-- ALERTAS FALSAS DEMO -->
                <div
                  class="alertas"
                  *ngIf="row.nombre === 'Planta 1' || row.nombre === 'Planta 2' || row.nombre === 'Planta 3'"
                >
                  <div class="alerta" *ngFor="let warning of row.warnings">
                    <mat-icon class="danger">warning</mat-icon>
                    <span>{{ warning }}</span>
                  </div>
                </div>

                <div
                  *ngIf="row.nombre !== 'Planta 1' && row.nombre !== 'Planta 2' && row.nombre !== 'Planta 3'"
                  class="alertas"
                >
                  <div class="alerta">
                    <mat-icon class="danger">warning</mat-icon>
                    <span>156 módulos en circuito abierto (string)</span>
                  </div>
                  <div class="alerta">
                    <mat-icon class="danger">warning</mat-icon>
                    <span>89 módulos con substring en circuito abierto</span>
                  </div>
                  <div class="alerta">
                    <mat-icon class="warning">warning</mat-icon>
                    <span>56 módulos afectados por sombras</span>
                  </div>
                </div>
              </div>
              <div class="descargas">
                <div class="problemas-header">
                  <span class="titulo">Descargas</span>
                </div>
                <div class="descargas-btns">
                  <a mat-raised-button *ngIf="row.nombre === 'Demo'" href="{{ pdfDemo }}" download="" target="_blank">
                    <mat-icon class="btn-icon-pdf">picture_as_pdf</mat-icon>
                    <span class="label">Informe PDF</span>
                  </a>
                  <button *ngIf="row.nombre !== 'Demo'" mat-raised-button>
                    <mat-icon class="btn-icon-pdf">picture_as_pdf</mat-icon>
                    <span class="label">Informe PDF</span>
                  </button>
                  <a mat-raised-button *ngIf="row.nombre === 'Demo'" href="{{ excelDemo }}" download="">
                    <mat-icon class="btn-icon-excel">calculate</mat-icon>
                    <span class="label">Informe EXCEL</span>
                  </a>
                  <button *ngIf="row.nombre !== 'Demo'" mat-raised-button>
                    <mat-icon class="btn-icon-excel">calculate</mat-icon>
                    <span class="label">Informe EXCEL</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedRow === row"
        (click)="expandedRow = expandedRow === row ? null : row"
        (mouseover)="hoverPlanta(row)"
        (mouseleave)="unhoverPlanta(row)"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>
