<div class="create-plant">
  <h4>Crear planta</h4>

  <div class="create-plant-content">
    <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit($event)">
      <mat-card>
        <mat-card-content>
          <!-- Nombre -->
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" type="text" />
          </mat-form-field>

          <!-- Altura Baja Primero -->
          <mat-checkbox formControlName="alturaBajaPrimero">Altura Baja Primero</mat-checkbox>

          <!-- AutoLoc Ready -->
          <mat-checkbox formControlName="autoLocReady">AutoLoc Ready</mat-checkbox>

          <!-- Filas -->
          <mat-form-field>
            <mat-label>Filas</mat-label>
            <input matInput formControlName="filas" type="number" min="1" step="1" />
          </mat-form-field>

          <!-- Columnas -->
          <mat-form-field>
            <mat-label>Columnas</mat-label>
            <input matInput formControlName="columnas" type="number" min="1" step="1" />
          </mat-form-field>

          <!-- Empresa -->
          <app-mat-selected-search
            *ngIf="empresas !== undefined"
            [elements]="empresas"
            [property]="'empresaNombre'"
            [title]="'Empresa'"
            (elemSelected)="getElemSelected($event)"
          ></app-mat-selected-search>

          <!-- Latitud -->
          <mat-form-field>
            <mat-label>Latitud</mat-label>
            <input
              matInput
              formControlName="latitud"
              type="number"
              [(ngModel)]="latitud"
              (ngModelChange)="setCenter()"
            />
          </mat-form-field>

          <!-- Longitud -->
          <mat-form-field>
            <mat-label>Longitud</mat-label>
            <input
              matInput
              formControlName="longitud"
              type="number"
              [(ngModel)]="longitud"
              (ngModelChange)="setCenter()"
            />
          </mat-form-field>

          <!-- Zoom -->
          <mat-form-field>
            <mat-label>Zoom</mat-label>
            <input matInput formControlName="zoom" type="number" [(ngModel)]="zoom" (ngModelChange)="setZoom()" />
          </mat-form-field>

          <div class="btns-actions">
            <button mat-raised-button routerLink="../">
              <span *ngIf="!plantCreated">Cancelar</span>
              <span *ngIf="plantCreated">Volver atrás</span>
            </button>
            <button *ngIf="!plantCreated" mat-raised-button color="warn" type="submit">Crear</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <div id="map" class="map"></div>
  </div>
</div>
