.users {
  margin: 1rem;
}

.users__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.tabla-container {
  position: relative;
  height: calc(100vh - 220px);
  overflow: auto;
}

table {
  width: 100%;
}
