.principal-card {
  height: 100%;
}

.title-map {
  position: absolute;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.5rem;
}

.title-map span {
  font-size: 1rem;
  font-weight: 500;
}

#map {
  height: calc(100vh - 128px - 32px - 32px);
  width: 100%;
}

.ol-popup {
  position: absolute;
  transform: translate(-50%, -140%);
  border-radius: 4px;
  padding: 10px;
}

.popup-label {
  display: block;
  width: max-content;
}
