<div>
  <canvas
    id="visual-zoom"
    width="{{ zoomSquare }}"
    height="{{ zoomSquare }}"
    style="position: absolute; top: 0; left: 0; display: none; border-radius: 8px"
  ></canvas>

  <div>
    <div id="imagenes" class="imagenes">
      <mat-spinner *ngIf="!imageLoaded"></mat-spinner>
      <canvas id="image-canvas" width="640" height="512"> </canvas>
    </div>

    <div id="anomalias">
      <canvas id="anomalias-canvas" width="640" height="512"></canvas>
    </div>
  </div>
</div>
