.content {
  position: absolute;
}

.thermal-canvas {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}

.visual-canvas {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.anomalias-canvas {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
}

#visual-zoom {
  border: 2px white solid;
  z-index: 999;
}

#visual-zoom:hover {
  cursor: pointer;
}

.loading {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 512px;
  background: white;
}

app-spinner {
  position: absolute;
  top: 215px;
  left: 275px;
}
