#canvas-anomalias {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.imagen-termica-div {
  position: absolute;
}

#visual-zoom {
  border: 1px black solid;
  box-shadow: 5px 5px 10px #1e1e1e;
  z-index: 99999;
}

#visual-zoom:hover {
  cursor: pointer;
}
