<mat-card>
  <mat-card-header>
    <mat-card-title>MAE por tipo de anomalía</mat-card-title>
    <mat-card-subtitle>Encuentra la relación entre el tipo de anomalía y las pérdidas que provoca</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="mae-tipo">
      <apx-chart
        *ngIf="chartLoaded"
        [title]="chartOptions1.title"
        [series]="chartOptions1.series"
        [chart]="chartOptions1.chart"
        [colors]="chartOptions1.colors"
        [yaxis]="chartOptions1.yaxis"
        [dataLabels]="chartOptionsComun.dataLabels"
        [stroke]="chartOptionsComun.stroke"
        [grid]="chartOptionsComun.grid"
        [xaxis]="chartOptionsComun.xaxis"
        [tooltip]="chartOptionsComun.tooltip"
        [plotOptions]="chartOptionsComun.plotOptions"
        [legend]="chartOptionsComun.legend"
      ></apx-chart>

      <apx-chart
        *ngIf="chartLoaded"
        [title]="chartOptions2.title"
        [series]="chartOptions2.series"
        [chart]="chartOptions2.chart"
        [colors]="chartOptions2.colors"
        [yaxis]="chartOptions2.yaxis"
        [dataLabels]="chartOptionsComun.dataLabels"
        [stroke]="chartOptionsComun.stroke"
        [grid]="chartOptionsComun.grid"
        [xaxis]="chartOptionsComun.xaxis"
        [tooltip]="chartOptionsComun.tooltip"
        [plotOptions]="chartOptionsComun.plotOptions"
        [legend]="chartOptionsComun.legend"
      ></apx-chart>
    </div>
  </mat-card-content>
</mat-card>
