.filtro {
  margin-bottom: 15px;
}

h5 {
  font-weight: 400;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: grey;
    height: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    height: 2px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    background-color: #455a64;
    width: 15px;
    height: 15px;
    top: -7px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }
}
