.filtro {
  margin-bottom: 15px;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: red;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    background-color: #333;
    width: 16px;
    height: 16px;
    top: -6px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }
}
