mat-card {
  height: calc(50vh - 86px);
}

:host ::ng-deep .mat-card-header .mat-card-title {
  margin-bottom: 6px;
}

.buscar-input {
  width: 100%;
}

:host ::ng-deep .buscar-input .mat-form-field-wrapper {
  padding-bottom: 6px;
}

:host ::ng-deep td.mat-cell:first-of-type {
  padding-left: 0px;
}

.tabla-container {
  position: relative;
  max-height: calc(50vh - 218px);
  overflow: auto;
}

table {
  width: 100%;
}

.titulo {
  padding-left: 1em;
  padding-bottom: 1em;
}

h4 {
  margin-left: 10px;
  font-weight: 400;
}

.email {
  margin: 8px;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: lightgrey;
}

.color-row {
  width: 10px;
  height: 48px;
}

.mat-column-inspeccionesAntiguas {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
