.barra-titulo {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: yellow;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 2rem;
  gap: 1rem;
}

/* .row_1 {
  display: grid;
  grid-template-columns: 100%;
} */

.row_2 {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

/* @media (min-width: 900px) {
  .row_1 {
    grid-template-columns: 60% 40%;
  }
} */

@media (min-width: 900px) {
  .row_2 {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .grid {
    display: grid;
    padding: 0 1rem 1rem;
  }

  .barra-titulo {
    padding: 1rem;
  }

  app-download-excel-portfolio {
    display: flex;
    justify-content: flex-end;
  }
}
