.barra-titulo {
  display: flex;
  padding: 2em;
}

.barra-titulo mat-icon {
  margin-right: 5px;
}

.barra-titulo div {
  display: flex;
  width: fit-content;
  margin-left: 2em;
}

.barra-titulo div span {
  font-size: medium;
}

.barra-titulo div h4 {
  margin-left: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.grid {
  display: grid;
  padding-left: 2em;
  padding-right: 2em;
}

/* .row_1 {
  display: grid;
  grid-template-columns: 100%;
} */

.row_2 {
  display: grid;
  grid-template-columns: 100%;
}

/* @media (min-width: 900px) {
  .row_1 {
    grid-template-columns: 60% 40%;
  }
} */

@media (min-width: 900px) {
  .row_2 {
    grid-template-columns: 50% 50%;
  }
}
