.titulo {
  display: flex;
  padding: 2em;
}

.titulo mat-icon {
  margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.grid {
  padding-left: 2em;
  padding-right: 2em;
}

.row_1 {
  display: grid;
  grid-template-columns: 100%;
}

.row_2 {
  display: grid;
  grid-template-columns: 100%;
}

@media (min-width: 900px) {
  .row_1 {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 900px) {
  .row_2 {
    grid-template-columns: 40% 60%;
  }
}

/* .informe-card {
  max-width: 400px;
  margin-bottom: 1rem;
}

.informe-header-image {
  background-size: cover;
}

.boton-ver-informe {
  text-align: center;
  font-size: 1rem;
  background-color: #eeeeee;
  margin-bottom: 0.3rem;
}

.cards-actions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
 */
