mat-card {
  border-color: transparent;
  box-shadow: none !important;
  padding: 8px 16px;
  min-width: 250px;
}

.opacity-slider-group {
  display: inline-flex;
}

.opacity-slider-group span {
  align-self: center;
  margin-right: 0.5em;
}

.opacity-slider {
  width: 150px;
}
