.map-list-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

@media (max-width: 600px) {
  .map-list-content {
    display: block;
  }

  app-list {
    display: none;
  }
}
